<section class="a-faq-wrapp" data-ng-controller="AuthenticationController">
    <header class="a-header-img">
        <div class="container">
            <h1>Active su cuenta</h1>
        </div>
    </header>
        <div class="container" data-ng-controller="AuthenticationController" data-ng-init="initializeValidate()">
        <ul class="col-md-10 col-sm-10 a-answer-list">
            
            <h1 data-ng-show="!success && !error">
                <div >
                    <p> Estamos procesando la validación de su email.</p>
                </div>
            </h1>
            <h1 data-ng-show="success">
                <div >
                    <p> Su cuenta ha sido validada con éxito, felicitaciones.</p>
                </div>
            </h1>
            <h1 data-ng-show="error">
                <div >
                    <p> Su cuenta no pudo ser validada.</p>
                </div>
            </h1>
        </ul>
    </div>

</section>

