<section class="a-faq-wrapp" data-ng-controller="HeaderController">
    <header class="a-header-img">
        <div class="container">
            <h1>Preguntas Frecuentes</h1>
        </div>
    </header>
    <!--div class="container">
        <div class="col-md-3 col-sm-3s">
            <nav class="a-faq-nav">
                <h1>Preguntas frecuentes</h1>
                <ul class="a-faq-list">
                    <li><a href="#" data-ng-click="faq[0] = !faq[0]">¿Qué es Un Aventón?</a></li>
                    <li><a href="#" data-ng-click="faq[1] = !faq[1]">¿Es seguro?</a></li>
                    <li><a href="#" data-ng-click="faq[2] = !faq[2]">¿Es gratis?</a></li>
                    <li><a href="#" data-ng-click="faq[3] = !faq[3]">¿Hace falta que tenga auto?</a></li>
                </ul>
            </nav>
        </div>
        <ul class="col-md-9 col-sm-9 a-answer-list">
            <li>
                <h1 data-ng-click="faq[0] = !faq[0]">¿Qué es Un Aventón?</h1>
                <div data-collapse="!faq[0]">
                    <p> Un Aventón es una plataforma de carpooling que fue creada para compartir viajes en auto,
                        momentos y gastos, con otras personas que van al mismo lugar que vos.
                    </p>
                    <p>Desde nuestra plataforma podés fijarte todos los conductores y pasajeros existentes y viajes que
                        se estén realizando desde cualquier lado, incluso desde tu celular con nuestra aplicación móvil.
                    </p>
                </div>
            </li>

            <li>
                <h1 data-ng-click="faq[1] = !faq[1]">¿Es seguro?</h1>
                <div data-collapse="!faq[1]">
                    <p>
                        Te brindamos confianza con medidas como la verificación de número de
                        teléfono, tarjeta de crédito, patentes y con un equipo de atención al cliente siempre
                        dispuesto a ayudarte, entre otras herramientas.
                    </p>
                </div>
            </li>

            <li>
                <h1 data-ng-click="faq[2] = !faq[2]">¿Es gratis?</h1>
                <div data-collapse="!faq[2]">
                    <p>
                        Morbi viverra hendrerit dolor, in mattis arcu semper quis. Sed accumsan lacus neque, vel pulvinar quam vulputate ut. Vestibulum vel efficitur ante. Integer finibus augue non suscipit euismod. Nunc mollis elit metus, porttitor vulputate dolor pretium vel. Nulla diam purus, interdum rhoncus tincidunt vel, pharetra vitae nunc. Nam mi lacus, scelerisque ac erat vitae, rutrum viverra ante.
                    </p>
                </div>
            </li>

            <li>
                <h1 data-ng-click="faq[3] = !faq[3]">¿Hace falta que tenga auto?</h1>
                <div data-collapse="!faq[3]">
                    <p>
                        Morbi viverra hendrerit dolor, in mattis arcu semper quis. Sed accumsan lacus neque, vel pulvinar quam vulputate ut. Vestibulum vel efficitur ante. Integer finibus augue non suscipit euismod. Nunc mollis elit metus, porttitor vulputate dolor pretium vel. Nulla diam purus, interdum rhoncus tincidunt vel, pharetra vitae nunc. Nam mi lacus, scelerisque ac erat vitae, rutrum viverra ante.
                    </p>
                </div>
            </li>

        </ul>
    </div-->

    <div class="container" data-ng-controller="HeaderController" data-ng-init="getFaqs()">
        <div class="col-md-3 col-sm-3s">
            <nav class="a-faq-nav">
                <h1>Preguntas frecuentes</h1>
                <ul class="a-faq-list">
                    <li data-ng-repeat="faq in faqs"><a href="#">{{faq.question}}</a></li>
                </ul>
            </nav>
        </div>
        <ul class="col-md-9 col-sm-9 a-answer-list">
            
            <li data-ng-repeat="faq in faqs">
                <h1>{{faq.question}}</h1>
                <div >
                    <p> {{faq.answer}}</p>
                </div>
            </li>
        </ul>
    </div>

</section>

