<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand a-logo"> <span class="a-sprite sprite-logo"> </span>Un Aventón</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<a class="a-faq" data-ui-sref="faq">
			Preguntas frecuentes
		</a>
		<ul class="nav navbar-nav navbar-right a-nav-login" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Registrate</a>
			</li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Iniciar sesión</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right a-nav" data-ng-show="authentication.user">
			<li class="dropdown" data-ng-show="authentication.user.role == 'admin'">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="a-avatar">
                        <span class="fa fa-user"></span>
                    </span>
					<span data-ng-bind="authentication.user.displayName"></span> <span class="caret"></span>
				</a>
				<ul class="dropdown-menu a-dropdown-menu">
					<li>
						<a data-ui-sref="adminProfile.usersList">Panel</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Cerrar sesión</a>
					</li>
				</ul>
			</li>

			<li class="dropdown" data-ng-show="authentication.user.role == 'user'">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="a-avatar">
                        <span class="fa fa-user"></span>
                    </span>
					<span data-ng-bind="authentication.user.displayName"></span> <span class="caret"></span>
				</a>
				<ul class="dropdown-menu a-dropdown-menu">
					<li>
						<a data-ui-sref="profile.review">Mi Perfil</a>
					</li>

					<li data-ng-show="authentication.user.custom_roles.length > 0">
						<a data-ui-sref="adminProfile.panel">Panel</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manejar cuentas sociales</a>
					</li>
					<!--ACTIVAR -->
					<!--li data-ng-controller="SearchController">
						<a  href="" data-ng-click="shareLocation()">Compartir mi ubicación</a>
					</li-->
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Cambiar contraseña</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Cerrar sesión</a>
					</li>
				</ul>
			</li>
			
			<!--ACTIVAR -->
			<!--li class="dropdown "  data-ng-show="authentication.user.role=='user'">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span > ${{authentication.user.credit}}</span> <span class="caret"></span>
				</a>
				<ul class="dropdown-menu a-dropdown-menu">
					<li>
						<a data-ui-sref="credits">Agregar Crédito</a>
					</li>
				</ul>
			</li-->

			<!--li class=" a-notification" data-ng-show="authentication.user.role=='user'" > 
				<a data-ui-sref="chat"  ><span class="a-border">Chat</span></span></a>
			</li-->


			<li class="dropdown a-notification" data-ng-controller="NotificationsController" data-ng-init="myNotifications()" data-ng-show="authentication.user.role=='user'"> 
				<a href="#" data-ng-click="checkNotifications()" class="dropdown-toggle" data-toggle="dropdown"><span class="a-border">{{notificaciones}} <span class="a-sprite sprite-auto"></span></span></a>
				<ul class="dropdown-menu a-dropdown-menu a-dropdown-menu-noty" style="overflow-y:scroll; height:400px;">
					<div data-ng-repeat="notif in notifications">
						
						<li class="a-notify trip" data-ng-show="notif.type == 'trip'">
							<div class="a-notify-wrapp">
								<time>{{notif.created | date:'MM/dd/yyyy'}}</time>
								<!--span class="a-avatar-notify a-sprite sprite-avatar-xs"></span-->
								<p><a href="#">{{notif.anexo_user.displayName}}</a> quiere viajar a <a href="#">{{notif.aventon.end_place}}</a> con vos el 
									<a href="#">{{notif.aventon.start_day | date:'dd/MM/yyyy'}}</a></p>
								<a class="a-action" data-ui-sref="profile.mytrips">Ver más</a>
								
							</div>
						</li>
						<li class="a-notify review" data-ng-show="notif.type == 'review'">
							<div class="a-notify-wrapp">
								<time>{{notif.created | date:'MM/dd/yyyy'}}</time>
								<!--span class="a-avatar-notify a-sprite sprite-avatar-xs"></span-->
								<p><a>{{notif.anexo_user.displayName}}</a> te dejó una referencia</p>
								<a class="a-action" data-ui-sref="profile.review">Ver referencia</a>
							</div>
						</li>
						<li class="a-notify message" data-ng-show="notif.type == 'message'">
							<div class="a-notify-wrapp">
								<time>{{notif.created | date:'MM/dd/yyyy'}}</time>
								<!--span class="a-avatar-notify a-sprite sprite-avatar-xs"></span-->
								<p><a>{{notif.anexo_user.displayName}}</a> te escribió un mensaje</p>
								<a class="a-action" data-ui-sref="profile.messages.detail({messageId : notif.anexo_user._id})">Ver mensaje</a>
							</div>
						</li>
						<li class="a-notify message" data-ng-show="notif.type == 'demandA'">
							<div class="a-notify-wrapp">
								<time>{{notif.created | date:'MM/dd/yyyy'}}</time>
								<!--span class="a-avatar-notify a-sprite sprite-avatar-xs"></span-->
								<p><a>{{notif.anexo_user.displayName}}</a> ha aceptado tu solicitud de aventón</p>
								<a class="a-action" data-ui-sref="viewAventon({aventonId: notif.aventon._id})">Ver viaje</a>
							</div>
						</li>
						<li class="a-notify message" data-ng-show="notif.type == 'cancelAventon'">
							<div class="a-notify-wrapp">
								<time>{{notif.created | date:'MM/dd/yyyy'}}</time>
								<!--span class="a-avatar-notify a-sprite sprite-avatar-xs"></span-->
								<p>El aventon del usuario <a>{{notif.anexo_user.displayName}}</a> ha sido cancelado.</p>
							</div>
						</li>
						<li class="a-notify message" data-ng-show="notif.type == 'cancelAventonSite'">
							<div class="a-notify-wrapp">
								<time>{{notif.created | date:'MM/dd/yyyy'}}</time>
								<!--span class="a-avatar-notify a-sprite sprite-avatar-xs"></span-->
								<p>Tu sitio en el aventon de <a>{{notif.anexo_user.displayName}}</a> ha sido cancelado.</p>
							</div>
						</li>
						<li class="a-notify message" data-ng-show="notif.type == 'invitation'">
							<div class="a-notify-wrapp">
								<time>{{notif.created | date:'MM/dd/yyyy'}}</time>
								<!--span class="a-avatar-notify a-sprite sprite-avatar-xs"></span-->
								<p><a href="#">{{notif.anexo_user.displayName}}</a> te ha invitado a viajar con el a <a href="#">{{notif.aventon.end_place}}</a> el <a href="#">{{notif.aventon.start_day | date:'dd/MM/yyyy'}}</a></p>
								<a class="a-action" data-ui-sref="profile.myinvitations">Ver más</a>
							</div>
						</li>
					</div>
					<li class="a-notify message" data-ng-show="notifications.length !='0'">
						<div class="a-notify-wrapp">
							<a href="#!/profile/notificaciones">Ver todas</a>
						</div>
					</li>
					<li class="no-notification" data-ng-show="notifications.length =='0'">No hay notificaciones disponibles</li>
				</ul>
			</li>
			<li data-ng-show="authentication.user.role=='user'">
				<button ui-sref="createAventon" class="a-btn a-publish">Publicar viaje</button>
			</li>
		</ul>
	</nav>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>