<section data-ng-controller="NotificationsController" data-ng-init="myNotifications()"></section>

<section data-ng-controller="SearchController" class="a-search" data-ng-init="find()">
    <header class="a-header-img" data-ng-init="distancia()">
        <div class="container">
            <div class="row">

                <h2>¿A dónde quieres ir?</h2>
                <div class="a-search-wrapp col-md-8 col-md-offset-2" >
                    <div class="a-search-container">
                        <form data-ng-submit="searchAventon()">
                            <div class="row">
                                <div class="a-search-container-wrapp ">
                                    <span class="a-input-wrapp col-md-3 col-xs-12">
                                        <span class="fa fa-map-marker"></span>
                                        <google-places data-ng-model="start_place" required class="a-salida" type="text" placeholder="Salida" location=direccion identificador="1" id="google_places_ac1"/>
                                    </span>
                                    <span class="a-input-wrapp col-md-3 col-xs-12">
                                        <span class="fa fa-map-marker"></span>
                                        <google-places data-ng-model="end_place" required class=" a-destino" type="text" placeholder="Destino" location=direcciondos identificador="2" id="google_places_ac2"/>
                                    </span>
                                    <span class="a-input-wrapp col-md-3 col-xs-12">
                                        <span class="fa fa-calendar-o"></span>
                                        <input type="text" class="a-date" readonly="true" datepicker-popup="dd/MM/yyyy" ng-model="fecha" min-date="minDate" data-ng-click="openFirst($event)" required is-open="opened" placeholder="Fecha" /><span class="fa fa-calendar-o" data-ng-click="openFirst($event)" ></span>
                                    </span>
                                    <button type="submit" class="col-md-3 col-xs-12 a-search-btn"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <a data-ui-sref="createDemandAventon" class="pull-right a-pedir-aventon">Pedir aventón</a>
                </div>

            </div>
        </div>
    </header>
    <article class="container a-aventones">
        <div class="row">
            <div class="col-md-9 a-aventones-wrapp">
                <nav class="a-filter-aventones">
                    <ul>
                        <li data-ng-class="{'active': aventonFilter == 'normal'}" ><a href="" data-ng-click="setAventonFilter('normal')">Nuevos aventones</a></li>
                        <li data-ng-class="{'active': aventonFilter == 'estan_por_salir'}"><a href="" data-ng-click="setAventonFilter('estan_por_salir')">Ya están por salir</a></li>
                    </ul>
                </nav>

                <div  style="margin:5%" data-ng-show="searchOn == 'true'">
                    <t  class="row" style="font-size:16px">Filtros</t>
                    <div class="row" class="form-group">
                        <!-- <label class="btn btn-success" data-ng-model="tipoModel" btn-radio="'todos'">Todos</label>
                        <label class="btn btn-success" data-ng-model="tipoModel" btn-radio="'conductor'">Conductor</label>
                        <label class="btn btn-success" data-ng-model="tipoModel" btn-radio="'pasajero'">Pasajero</label> -->
                        <input type="checkbox" data-ng-model="conductor" value="conductor" data-ng-change="filtrar()">Conductor</input>
                    </br>
                        <input type="checkbox" data-ng-model="pasajero" value="pasajero"data-ng-change="filtrar()">Pasajero</input>
                    </div>

                    <div class="row ">
                         <t  class="row" style="font-size:14px">Distancia</t>
                        <select class="form-control" style="width:25%" data-ng-model="distanciaSeleccionada" data-ng-change="filtrar()">
                            <option value="todos" data-ng-selected="true">Todos</option>
                            <option value="minus3">Menos de 3Km</option>
                            <option value="minus1">Menos de 1Km</option>
                            <option value="minus500">Menos de 500m</option>
                        </select>
                    </div> 
                    <!-- <div class="row" style="margin-top:2%">
                        <input type="button" data-ng-click="filtrar()" value="Filtrar" style="width: 80px; height: 25px; font-size: 14px;"/>
                    </div> -->
                </div>

                <!-- FILTRADOS -->
                <ul class="a-aventon-list" data-ng-show="searchOn=='true'">

                    
                    <!-- ng-repeat -->
                    <div data-ng-repeat="aventon in aventones | orderBy:'start_day'">
                    <!-- demandas -->
                    <li class="a-aventon-waiting" data-ng-show="aventon.tipo == 'pasajero'" data-ng-controller="DemandsAventonController">
                            <article class="a-waiting-warpp">
                                <div class="a-waiting-content">
                                    <header>
                                        <a href="#">
                                            <div>
                                                <img style="max-width:10%" class="img-circle" data-ng-src="{{aventon.user.imageProfile||'modules/core/img/avatar.png'}}" class="a-sprite sprite-avatar-2" ></img>  
                                                <div class="a-user-text">
                                                    <h2>{{aventon.user.displayName}}</h2>
                                                    <div class="a-stars">
                                                        <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 1" class="fa fa-star"></span>
                                                        <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 2" class="fa fa-star"></span>
                                                        <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 3" class="fa fa-star"></span>
                                                        <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 4" class="fa fa-star"></span>
                                                        <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 5" class="fa fa-star"></span>
                                                    </div>
                                            </div>
                                            </div>
                                        </a>
                                    </header>
                                    <p class="a-recorrido">de <a href="#">{{aventon.start_place}}</a> a <a href="#">{{aventon.end_place}}</a></p>
                                    <p class="a-description">{{aventon.comment}}</p>
                                    <input type="button" value="Más Info"  tooltip-trigger="focus" tooltip-placement="right " rel="tooltip"
                                    tooltip="{{giveMeToolTipText(aventon)}}"
                                    >
                                </div>
                                <footer data-ng-controller="MessagesController">
                                    <time> <span class="fa fa-calendar-o"></span> {{aventon.day | date:'dd/MM/yyyy'}}</time> <br>
                                    <a  data-ng-click="changeIdMailWindow(aventon._id)" data-ng-show="aventon.user._id != authentication.user._id" href=""><span class="a-sprite sprite-auto-h" ></span> Llevar</a>
                                    <br>
                                    <div   class="row" data-ng-show="aventon._id == idMailWindow">
                                        <form class=" col-md-8 col-xs-8" data-ng-submit="fastCreate(aventon.user._id)">
                                            <div class="a-message">
                                                <textarea type="text" required columns="4" rows="5" style="resize:none; width:100%" class="a-comment" placeholder="Escribe un mensaje..." data-ng-model="content"> </textarea>

                                                
                                            </div>
                                            <button><span class="fa fa-comment"></span> Enviar</button>
                                        </form>
                                        <div class="col-md-4 col-xs-4 a-viajar-juntos" data-ng-controller="DemandsController">
                                        </div>
                                    </div>
                                </footer>
                            </article>
                        </li>

                        <!-- fin demandas init aventones -->
                    <li class="a-aventon-viaje" data-ng-show="aventon.tipo == 'conductor'" >
                        <artcile class="a-viaje-wrapp">
                            <strong class="a-asientos" >{{aventon.seats_available}}</strong>

                            <a class="a-viaje-close" data-ui-sref="viewAventon({aventonId: aventon._id})">

                               <!-- <span class="fa fa-close"></span> -->
                                <span class="fa fa-eye"></span>
                            </a>
                            <div class="a-viaje-content">
                                <div class="row">
                                    <div class="col-md-3 col-xs-6 a-user">
                                        <div class="a-user-text">
                                            <div class="a-avatar">
                                                <a data-ui-sref="publicProfile.review({userId: aventon.user._id})">
                                                    <img style="max-width:65%" class="img-circle" data-ng-src="{{aventon.user.imageProfile||'modules/core/img/avatar.png'}}" class="a-sprite sprite-avatar" ></img>
                                                </a>
                                            </div>
                                            <h2>{{aventon.user.displayName}}</h2>
                                            <h3 data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 3">Usuario Confiable</h3>
                                            <div class="a-stars">
                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 1" class="fa fa-star"></span>
                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 2" class="fa fa-star"></span>
                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 3" class="fa fa-star"></span>
                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 4" class="fa fa-star"></span>
                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 5" class="fa fa-star"></span>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                    <div class=" col-md-3 col-xs-6 a-viaje-info">
                                        <div class="a-info-recorrido">
                                            <p>Viajo de :</p>
                                            <a href="#" class="a-salida">{{aventon.start_place}}</a>
                                            a
                                            <a href="#" class="a-destino">{{aventon.end_place}}</a>
                                        </div>
                                        <div class="a-fecha-recorrido">
                                            <p>Fecha de salida:</p>
                                            <time ><span class="fa fa-calendar-o"></span> {{aventon.start_day | date:'dd/MM/yyyy'}}</time>
                                        </div>
                                    </div>
                                    <div class="a-recorrido col-md-6 col-xs-12">
                                        <div class="a-salida-map a-map-wrapp">
                                            <div class="a-map">
                                                <span class="a-sprite sprite-map"></span>
                                            </div>
                                            <time><span class="fa fa-calendar-o"></span> {{aventon.start_day | date:'dd/MM/yyyy'}}</time>
                                            <p>{{aventon.start_place}}
                                                <i></i>
                                            </p>
                                        </div>
                                        <span class="a-sprite sprite-arrow"></span>
                                        <div class="a-destino-map a-map-wrapp">
                                            <div class="a-map">
                                                <span class="a-sprite sprite-map"></span>
                                            </div>
                                            <time><span data-ng-show="aventon.end_day != null" class="fa fa-calendar-o"></span> {{aventon.end_day | date:'MM/dd/yyyy'}}</time>
                                            <p>{{aventon.end_place}}
                                                <i></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <footer class="a-viaje-footer" data-ng-show="aventon.user._id != authentication.user._id">
                                <div class="row">
                                    <form class=" col-md-8 col-xs-8" data-ng-controller="MessagesController" data-ng-submit="fastCreate(aventon.user._id)">
                                        <div class="a-message">
                                            <input type="text" required class="a-comment" placeholder="Escribe un mensaje..." data-ng-model="content">
                                            <button><span class="fa fa-comment"></span> Enviar</button>
                                        </div>
                                    </form>
                                    <div class="col-md-4 col-xs-4 a-viajar-juntos" data-ng-controller="DemandsController">
                                        <button data-ng-click="create(aventon)" class="a-btn"><span class="a-sprite sprite-auto"></span> Viajar juntos</button>
                                    </div>
                                </div>
                            </footer>

                        </artcile>
                    </li>
                    </div>
                    
                    <!-- end-ng-repeat -->

                    <li class="a-no-aventones" data-ng-show="!aventones.length">
                        No hay aventones disponibles
                    </li>
                </ul>

                <!-- FIN FILTRADOS -->
                <ul class="a-aventon-list" data-ng-show="searchOn=='false'">

                    
                    <!-- ng-repeat -->

                    <li class="a-aventon-viaje" data-ng-repeat="aventon in aventones">
                        <artcile class="a-viaje-wrapp">
                            <strong class="a-asientos"  popover="{{aventon.seats_available}} Asientos Disponibles" popover-trigger="mouseenter" popover-placement="left">{{aventon.seats_available}}</strong>

                            <a class="a-viaje-close" data-ui-sref="viewAventon({aventonId: aventon._id})">

                               <!-- <span class="fa fa-close"></span> -->
                                <span class="fa fa-eye"></span>
                            </a>
                            <div class="a-viaje-content">
                                <div class="row">
                                    <div class="col-md-3 col-xs-6 a-user">
                                        <div class="a-user-text">
                                            <div class="a-avatar">
                                                <a data-ui-sref="publicProfile.review({userId: aventon.user._id})">
                                                    <img style="max-width:65%" class="img-circle" data-ng-src="{{aventon.user.imageProfile||'modules/core/img/avatar.png'}}" class="a-sprite sprite-avatar" ></img>
                                                </a>
                                            </div>
                                            <h2>{{aventon.user.displayName}}</h2>
                                            <h3 data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 3">Usuario Confiable</h3>
                                            <div class="a-stars">
                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 1" class="fa fa-star"></span>
                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 2" class="fa fa-star"></span>
                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 3" class="fa fa-star"></span>
                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 4" class="fa fa-star"></span>
                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 5" class="fa fa-star"></span>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                    <div class=" col-md-3 col-xs-6 a-viaje-info">
                                        <div class="a-info-recorrido">
                                            <p>Viajo de :</p>
                                            <a href="#" class="a-salida">{{aventon.start_place}}</a>
                                            a
                                            <a href="#" class="a-destino">{{aventon.end_place}}</a>
                                        </div>
                                        <div class="a-fecha-recorrido">
                                            <p>Fecha de salida:</p>
                                            <time ><span class="fa fa-calendar-o"></span> {{aventon.start_day | date:'dd/MM/yyyy'}}</time>
                                        </div>
                                    </div>
                                    <div class="a-recorrido col-md-6 col-xs-12">
                                        <div class="a-salida-map a-map-wrapp">
                                            <div class="a-map">
                                                <span class="a-sprite sprite-map"></span>
                                            </div>
                                            <time><span class="fa fa-calendar-o"></span> {{aventon.start_day | date:'dd/MM/yyyy'}}</time>
                                            <p>{{aventon.start_place}}
                                                <i></i>
                                            </p>
                                        </div>
                                        <span class="a-sprite sprite-arrow"></span>
                                        <div class="a-destino-map a-map-wrapp">
                                            <div class="a-map">
                                                <span class="a-sprite sprite-map"></span>
                                            </div>
                                            <time><span data-ng-show="aventon.end_day != null" class="fa fa-calendar-o"></span> {{aventon.end_day | date:'MM/dd/yyyy'}}</time>
                                            <p>{{aventon.end_place}}
                                                <i></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <footer class="a-viaje-footer" data-ng-show="aventon.user._id != authentication.user._id">
                                <div class="row">
                                    <form class=" col-md-8 col-xs-8" data-ng-controller="MessagesController" data-ng-submit="fastCreate(aventon.user._id)">
                                        <div class="a-message">
                                            <input type="text" required class="a-comment" placeholder="Escribe un mensaje..." data-ng-model="content">
                                            <button><span class="fa fa-comment"></span> Enviar</button>
                                        </div>
                                    </form>
                                    <div class="col-md-4 col-xs-4 a-viajar-juntos" data-ng-controller="DemandsController">
                                        <button data-ng-click="create(aventon)" class="a-btn"><span class="a-sprite sprite-auto"></span> Viajar juntos</button>
                                    </div>
                                </div>
                            </footer>

                        </artcile>
                    </li>
                    
                    <pagination data-ng-show="aventones.length" boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="perPage" ng-change="find()"></pagination>
                    <!-- end-ng-repeat -->

                    <li class="a-no-aventones" data-ng-show="!aventones.length">
                        No hay aventones disponibles
                    </li>
                </ul>
            </div>
            <div class="col-md-3" >
                <div data-ng-controller="DemandsAventonController" class="a-aventon-waiting-wrapp" data-ng-init="myAventonesValid()">
                    <h3>Esperando aventón</h3>
                    <ul class="a-aventon-waiting-list" data-ng-init="listDemandsAventon()">
                        <li class="a-aventon-waiting" data-ng-repeat="demandA in demandsAventon">
                            <article class="a-waiting-warpp">
                                <div class="a-waiting-content">
                                    <header>
                                        <a href="#">
                                            <div>
                                                <img style="max-width:20%" class="img-circle" data-ng-src="{{demandA.user.imageProfile||'modules/core/img/avatar.png'}}" class="a-sprite sprite-avatar-2" ></img>  
                                                <div class="a-user-text">
                                                    <h2>{{demandA.user.displayName}}</h2>
                                                    <div class="a-stars">
                                                        <span data-ng-show="(demandA.user.review_point / demandA.user.review_count) >= 1" class="fa fa-star"></span>
                                                        <span data-ng-show="(demandA.user.review_point / demandA.user.review_count) >= 2" class="fa fa-star"></span>
                                                        <span data-ng-show="(demandA.user.review_point / demandA.user.review_count) >= 3" class="fa fa-star"></span>
                                                        <span data-ng-show="(demandA.user.review_point / demandA.user.review_count) >= 4" class="fa fa-star"></span>
                                                        <span data-ng-show="(demandA.user.review_point / demandA.user.review_count) >= 5" class="fa fa-star"></span>
                                                    </div>
                                            </div>
                                            </div>
                                        </a>
                                    </header>
                                    <p class="a-recorrido">de <a href="#">{{demandA.start_place}}</a> a <a href="#">{{demandA.end_place}}</a></p>
                                    <p class="a-description">{{demandA.comment}}</p>
                                    <input type="button" value="Más Info"  tooltip-trigger="focus" tooltip-placement="left" rel="tooltip"
                                    tooltip="{{giveMeToolTipText(demandA)}}"
                                    >
                                </div>
                                <footer data-ng-controller="MessagesController">
                                    <time> <span class="fa fa-calendar-o"></span> {{demandA.day | date:'dd/MM/yyyy'}}</time>
                                    <a  data-ng-click="changeIdMailWindow(demandA._id)" data-ng-show="demandA.user._id != authentication.user._id" href=""><span class="a-sprite sprite-auto-h" ></span> Llevar</a>
                                    <br>
                                    <div class="row" data-ng-show="demandA._id == idMailWindow">
                                        <form class=" col-md-8 col-xs-8" data-ng-submit="fastCreate(demandA.user._id)">
                                            <div class="a-message">
                                                <textarea type="text" required columns="4" rows="5" style="resize:none" class="a-comment" placeholder="Escribe un mensaje..." data-ng-model="content"> </textarea>       
                                            </div>
                                            <button><span class="fa fa-comment"></span> Enviar</button>
                                        </form>
                                    </div><br>
                                    <div class="row" style="margin-left:2%; margin-top:2%" data-ng-show="demandA._id == idMailWindow">
                                        <p>Invitalo a tu viaje</p><br>
                                        <select data-ng-model="aventonInvita">
                                            <option value="null" data-ng-selected="true">Selecciona un aventon</option> 
                                            <option data-ng-repeat="aventon in myAventones" value="{{aventon._id}}" title="{{aventon.start_place}}->{{aventon.end_place}}">{{aventon.start_place | limitTo:10}}->{{aventon.end_place | limitTo:10}}</option>
                                        </select><br><br>
                                        <input type="button" value="Invitar!" data-ng-click="invitar(aventonInvita,demandA.user._id)"/>

                                    </div>
                                </footer>
                            </article>
                        </li>
                        <li class="a-no-aventones" data-ng-if="demandsAventon.length == '0'">
                            No hay aventones disponibles
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </article>
</section>
