<section class="a-signup a-signin"  data-ng-controller="AuthenticationController">
    <header class="a-header-img">
    </header>
    <div class="container" >
        <div class="row">
            <article class="col-md-4 col-xs-12 pull-right">
                <div class="a-form-wrapp">
                    <h1>Ingresá</h1>
                    <div data-ng-show="error" class="text-center a-error">
                        <strong data-ng-bind="error"></strong>
                    </div>
                    <div class="a-social-auth">
                        <p>Ingresá con:</p>
                        <a href="/auth/facebook" class="a-signup-facebook a-social-btn">
                            <span class="fa fa-facebook"></span> Ingresá con Facebook
                        </a>
                        <a href="/auth/twitter" class="a-signup-twitter a-social-btn">
                            <span class="fa fa-twitter"></span> Ingresá con Twitter
                        </a>
                    </div>

                    <form name="userForm" data-ng-submit="signin()" class="signin a-form form-horizontal"  autocomplete="off">
                        <fieldset>
                            <div class="form-group a-input-group a-email">
                                <label for="email">Correo electrónico</label>
                                <input type="email" required id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Ej: nombre@email.com">
                            </div>
                            <div class="form-group a-input-group a-password">
                                <label for="password">Contraseña</label>
                                <input type="password" data-ng-minlength="8" id="password" name="password" class="a-pass-input form-control" data-ng-model="credentials.password" placeholder="Contraseña" required>

                            </div>

                            <div class="text-center form-group">
                                <button type="submit" class="btn a-btn">Iniciar sesión</button>
                            </div>
                            <p class="a-legend a-forgotenpass" data-ng-controller="PasswordController">
                                <a href="" data-ng-click="changeShowForgot('true')">¿Te olvidaste la contraseña?</a>
                            </p>
                        </fieldset>
                    </form>
                    <div data-ng-show="showForgot == 'true'" data-ng-controller="PasswordController">
                        <form name="userForm" data-ng-submit="recoverPassword()" class="signin a-form form-horizontal"  autocomplete="off">
                            <fieldset>
                                <div class="form-group a-input-group a-email">
                                    <label for="email">Reestablecer contraseña</label>
                                    <input type="email" required id="emailForgot" name="emailForgot" class="form-control" data-ng-model="emailForgot" placeholder="Ingrese su email">
                                </div>
                                <div class="text-center form-group">
                                    <button type="submit" class="btn a-btn">Recuperar</button>
                                </div>
                                <p class="a-legend a-forgotenpass">
                                    <a href="" data-ng-click="changeShowForgot('false')">Ya la recordé!</a>
                                </p>
                            </fieldset>
                        </form>
                    </div>
                    <footer>
                        ¿No tenes cuenta en Un Aventón? <a href="/#!/signup" class="show-signup">Registrate</a>
                    </footer>
                </div>
            </article>
            <article class="col-md-8 a-content pull-left">
                <div class="a-content-wrapp">
                    <h2>Viajá y Ahorra</h2>
                    <h3>Sumate y viajá mejor con Un Aventón</h3>
                    <div class="a-texts">
                        <p>Un Aventón te permite contactarte con buena gente para compartir viajes, gastos y buenos momentos.</p>
                        <p>Ya sean vacaciones, por placer, un simple viaje al centro o a tu trabajo con Un Aventón conseguí de la manera más fácil, rápida y segura lo que necesitás.</p>
                        <p>Tanto conductores como pasajeros publican de manera gratuita sus viajes próximos a realizar, invitando a quienes quieran sumarse a la experiencia viajando más cómodo y ahorrando dinero</p>
                    </div>
                    <div class="a-texts a-newsletter" data-ng-controller="UsersNewsLetterController">
                        <h3>Subscribite a nuestro Newsletter</h3>
                        <p>Te interesaría estar al tanto de todas las noticias de Un Aventón, subscribite via email. Si deseas desuscribirte haz clic <a data-ng-click="showUnsuscribe()">aquí</a></p>
                        <div class="row" >
                            <form data-ng-submit="preCreate()" class="col-md-6 col-md-offset-3">
                                <div class="input-group">
                                    <div data-ng-show="showUnsuscribeValue">
                                        <div style="font-size:14px">
                                            <input type="checkbox"  style="transform:scale(1.5)" data-ng-model="unsuscribe">  Deseo desuscribirme.
                                        </div>
                                    </div>
                                    <input type="email" data-ng-model="email" placeholder="Dirección de email" class="form-control">
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit" >Subscribite</button>
                                      </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
