.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

.tooltip-inner {
    white-space:pre-wrap;
}

.reset-this b{
	font: -webkit-control!important;
	font: normal!important;
}

.reset-this h1{
	font-size: 25px!important;
}
.reset-this h2{
	font-size: 22px!important;
}
.reset-this h3{
	font-size: 18px!important;
}
.reset-this h4{
	font-size: 15px!important;
}
.reset-this h5{
	font-size: 13px!important;
}
.reset-this h6{
	font-size: 11px!important;
}

.reset-this blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.reset-this blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.reset-this blockquote p {
  display: inline;
}

a:hover
{
  cursor:pointer !important;
}