/* line 5, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url('../fonts/OpenSans-Regular.ttf?1415283086') format('truetype');
}
@font-face {
  font-family: "Open Sans Bold";
  src: url('../fonts/OpenSans-Bold.ttf?1415283088') format('truetype');
}
@font-face {
  font-family: "Open Sans Light";
  src: url('../fonts/OpenSans-Light.ttf?1415283086') format('truetype');
}
@font-face {
  font-family: "Cabin Regular";
  src: url('../fonts/Cabin-Regular.ttf?1415283058') format('truetype');
}
@font-face {
  font-family: "Cabin Bold";
  src: url('../fonts/Cabin-Bold.ttf?1415283058') format('truetype');
}
/* line 120, sprite/*.png */
.sprite-sprite, .sprite-arrow, .sprite-auto-h, .sprite-auto, .sprite-avatar-2, .sprite-avatar-xl, .sprite-avatar-xs, .sprite-avatar, .sprite-logo, .sprite-map, .sprite-trip {
  background-image: url('../img/sprite-sefaefa7adb.png');
  background-repeat: no-repeat;
}

.circular-default {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

/* line 84, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-arrow {
  background-position: 0 0;
  height: 72px;
  width: 30px;
}

/* line 84, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-auto-h {
  background-position: 0 -72px;
  height: 10px;
  width: 23px;
}

/* line 84, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-auto {
  background-position: 0 -82px;
  height: 12px;
  width: 27px;
}

/* line 84, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-avatar-2 {
  background-position: 0 -94px;
  height: 55px;
  width: 55px;
}

/* line 84, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-avatar-xl {
  background-position: 0 -149px;
  height: 148px;
  width: 148px;
}

/* line 84, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-avatar-xs {
  background-position: 0 -297px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-avatar {
  background-position: 0 -335px;
  height: 75px;
  width: 75px;
}

/* line 84, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-logo {
  background-position: 0 -410px;
  height: 30px;
  width: 104px;
}

/* line 84, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-map {
  background-position: 0 -440px;
  height: 90px;
  width: 90px;
}

/* line 84, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-trip {
  background-position: 0 -530px;
  height: 45px;
  width: 45px;
}

/* line 4, ../../../../sass/modules/_sprites.scss */
.a-sprite {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 1, ../../../../sass/partials/_global.scss */
html {
  font-size: 16px;
  font-family: "Open Sans Regular", sans-serif;
  background: #fdfdfd;
  color: #333333;
}

/* line 7, ../../../../sass/partials/_global.scss */
body {
  background: #fdfdfd;
  font-size: 62.5%;
}

/* line 11, ../../../../sass/partials/_global.scss */
.a-main-wrapp {
  margin-top: 45px;
}

/* line 14, ../../../../sass/partials/_global.scss */
.a-header-img {
  margin-top: 50px;
  height: 185px;
  background-color: #ccc;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 22, ../../../../sass/partials/_global.scss */
.a-header-img h1 {
  text-indent: -99999px;
}
@media screen and (max-width: 768px) {
  /* line 14, ../../../../sass/partials/_global.scss */
  .a-header-img {
    height: 110px;
  }
}

/* line 29, ../../../../sass/partials/_global.scss */
a {
  color: #00ca76;
}
/* line 31, ../../../../sass/partials/_global.scss */
a:hover {
  color: #007e49;
}
/* line 34, ../../../../sass/partials/_global.scss */
a:visited, a:active, a:focus {
  color: #007e49;
}

/* line 38, ../../../../sass/partials/_global.scss */
.a-btn {
  border: 0px solid transparent;
  background: #00ca76;
  text-align: center;
  -moz-box-shadow: 0px 3px 0px #009758;
  -webkit-box-shadow: 0px 3px 0px #009758;
  box-shadow: 0px 3px 0px #009758;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: white;
  padding: 6px 10px;
}
/* line 9, ../../../../sass/modules/_mixins.scss */
.a-btn:hover {
  background: #00e485;
  -moz-box-shadow: 0px 3px 0px #00b167;
  -webkit-box-shadow: 0px 3px 0px #00b167;
  box-shadow: 0px 3px 0px #00b167;
  text-decoration: none;
}
/* line 14, ../../../../sass/modules/_mixins.scss */
.a-btn:active {
  position: relative;
  top: 3px;
  background: #00b167;
  -moz-box-shadow: inset 0px -2px 1px #009758;
  -webkit-box-shadow: inset 0px -2px 1px #009758;
  box-shadow: inset 0px -2px 1px #009758;
  text-decoration: none;
}

/* line 41, ../../../../sass/partials/_global.scss */
.a-dropdown-menu {
  margin-top: 12px !important;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
@media screen and (min-width: 768px) {
  /* line 42, ../../../../sass/partials/_global.scss */
  .a-dropdown-menu.a-dropdown-menu-noty {
    min-width: 420px;
    margin-right: -50px;
  }
}
/* line 48, ../../../../sass/partials/_global.scss */
.a-dropdown-menu.a-dropdown-menu-noty .a-notify .a-notify-wrapp {
  position: relative;
  padding-left: 50px;
  padding-right: 65px;
  min-height: 50px;
}
/* line 53, ../../../../sass/partials/_global.scss */
.a-dropdown-menu.a-dropdown-menu-noty .a-notify .a-notify-wrapp p {
  font-family: "Cabin Regular", sans-serif;
  font-family: 14.5px;
  line-height: 18px;
  margin-bottom: 5px;
}
/* line 59, ../../../../sass/partials/_global.scss */
.a-dropdown-menu.a-dropdown-menu-noty .a-notify .a-notify-wrapp .a-action {
  font-size: 12px;
  padding-right: 10px;
}
/* line 64, ../../../../sass/partials/_global.scss */
.a-dropdown-menu.a-dropdown-menu-noty .a-notify .a-notify-wrapp button {
  padding: 3px 8px;
}
/* line 67, ../../../../sass/partials/_global.scss */
.a-dropdown-menu.a-dropdown-menu-noty .a-notify .a-notify-wrapp time {
  width: 60px;
  position: absolute;
  top: 2px;
  right: 0;
  font-size: 10px;
  color: #4d4d4d;
  font-style: italic;
}
/* line 76, ../../../../sass/partials/_global.scss */
.a-dropdown-menu.a-dropdown-menu-noty .a-notify .a-notify-wrapp .a-avatar-notify {
  position: absolute;
  left: 3px;
  top: 4px;
}
/* line 86, ../../../../sass/partials/_global.scss */
.a-dropdown-menu:after {
  content: " ";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: -9px;
  right: 60px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 10px 9px;
  border-color: transparent transparent #ffffff transparent;
}
/* line 100, ../../../../sass/partials/_global.scss */
.a-dropdown-menu:before {
  content: " ";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: -10px;
  right: 60px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 10px 9px;
  border-color: transparent transparent rgba(0, 0, 0, 0.14902) transparent;
}

/* line 118, ../../../../sass/partials/_global.scss */
.alert {
  margin-bottom: 0;
  font-size: 1.5em;
  text-align: center;
  font-family: "Cabin Bold", sans-serif;
}

/* line 3, ../../../../sass/partials/_header.scss */
.a-header {
  background-color: #00ca76;
  background-image: url('../img/background-header.png?1415299219'), url('../img/background-header.png?1415299219');
  padding: 0px;
  height: 45px;
  min-height: 45px;
  border: 0px solid transparent;
  -moz-box-shadow: inset 0px -4px 3px -2px #00ca76;
  -webkit-box-shadow: inset 0px -4px 3px -2px #00ca76;
  box-shadow: inset 0px -4px 3px -2px #00ca76;
  border-right: 6px solid #ffe92a;
}
/* line 12, ../../../../sass/partials/_header.scss */
.a-header .a-nav {
  background: #00ca76;
  font-size: 1.4em;
}
/* line 13, ../../../../sass/partials/_header.scss */
.a-header .a-nav .no-notification {
  text-align: center;
  line-height: 1.2em;
  font-family: "Cabin Bold", sans-serif;
  margin: 8px 0px;
  color: #666666;
}
/* line 22, ../../../../sass/partials/_header.scss */
.a-header .a-nav .a-publish {
  border: 0px solid transparent;
  background: #007e49;
  text-align: center;
  -moz-box-shadow: 0px 3px 0px #004b2b;
  -webkit-box-shadow: 0px 3px 0px #004b2b;
  box-shadow: 0px 3px 0px #004b2b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: white;
  padding: 6px 10px;
  margin-left: 10px;
  margin-top: 7px;
  font-family: "Cabin Bold",sans-serif;
  font-size: 1.05em;
  padding: 6px 15px;
}
/* line 9, ../../../../sass/modules/_mixins.scss */
.a-header .a-nav .a-publish:hover {
  background: #009858;
  -moz-box-shadow: 0px 3px 0px #00653a;
  -webkit-box-shadow: 0px 3px 0px #00653a;
  box-shadow: 0px 3px 0px #00653a;
  text-decoration: none;
}
/* line 14, ../../../../sass/modules/_mixins.scss */
.a-header .a-nav .a-publish:active {
  position: relative;
  top: 3px;
  background: #00653a;
  -moz-box-shadow: inset 0px -2px 1px #004b2b;
  -webkit-box-shadow: inset 0px -2px 1px #004b2b;
  box-shadow: inset 0px -2px 1px #004b2b;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  /* line 31, ../../../../sass/partials/_header.scss */
  .a-header .a-nav > li {
    height: auto;
    min-height: 0;
  }
  /* line 35, ../../../../sass/partials/_header.scss */
  .a-header .a-nav > li > a {
    height: auto;
    min-height: 0 !important;
  }
}
/* line 41, ../../../../sass/partials/_header.scss */
.a-header .a-nav > li {
  height: 45px;
  min-height: 45px;
}
/* line 45, ../../../../sass/partials/_header.scss */
.a-header .a-nav > li.open > a {
  background: #007e49;
}
/* line 49, ../../../../sass/partials/_header.scss */
.a-header .a-nav > li > a {
  padding-top: 12px;
  font-family: "Open Sans Bold", sans-serif;
  height: 45px;
  min-height: 45px;
  color: white;
}
/* line 55, ../../../../sass/partials/_header.scss */
.a-header .a-nav > li > a:hover, .a-header .a-nav > li > a:active, .a-header .a-nav > li > a:focus, .a-header .a-nav > li > a:visited {
  background: #007e49;
}
/* line 57, ../../../../sass/partials/_header.scss */
.a-header .a-nav > li > a:hover .a-border, .a-header .a-nav > li > a:active .a-border, .a-header .a-nav > li > a:focus .a-border, .a-header .a-nav > li > a:visited .a-border {
  border: 1px solid transparent !important;
}
/* line 65, ../../../../sass/partials/_header.scss */
.a-header .a-nav .a-notification a {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 68, ../../../../sass/partials/_header.scss */
.a-header .a-nav .a-notification a .a-border {
  border-right: 1px solid #00e585;
  border-left: 1px solid #00e585;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 73, ../../../../sass/partials/_header.scss */
.a-header .a-nav .a-notification a .a-border .a-sprite {
  position: relative;
  top: -1px;
  margin-left: 3px;
}
/* line 81, ../../../../sass/partials/_header.scss */
.a-header .a-nav .a-notification li {
  padding: 10px 10px;
}
/* line 83, ../../../../sass/partials/_header.scss */
.a-header .a-nav .a-notification li + li {
  border-top: 1px solid #e6e6e6;
}
@media screen and (max-width: 768px) {
  /* line 93, ../../../../sass/partials/_header.scss */
  .a-header .navbar-collapse {
    background: #007e49;
    margin-right: -22px;
    -moz-box-shadow: inset 0px 6px 6px -3px #00653a, inset 0px -6px 6px -3px #00653a;
    -webkit-box-shadow: inset 0px 6px 6px -3px #00653a, inset 0px -6px 6px -3px #00653a;
    box-shadow: inset 0px 6px 6px -3px #00653a, inset 0px -6px 6px -3px #00653a;
    border-bottom: 2px solid #00ca76;
  }
  /* line 98, ../../../../sass/partials/_header.scss */
  .a-header .navbar-collapse a {
    border: 0px solid transparent !important;
  }
  /* line 102, ../../../../sass/partials/_header.scss */
  .a-header .navbar-collapse .a-nav-login li {
    background: #007e49;
  }
  /* line 106, ../../../../sass/partials/_header.scss */
  .a-header .navbar-collapse .a-nav-login:hover li, .a-header .navbar-collapse .a-nav-login:active li, .a-header .navbar-collapse .a-nav-login:focus li, .a-header .navbar-collapse .a-nav-login C li {
    background: #007e49;
  }
}
/* line 113, ../../../../sass/partials/_header.scss */
.a-header .navbar-header, .a-header nav {
  height: 45px;
  min-height: 45px;
}
/* line 118, ../../../../sass/partials/_header.scss */
.a-header .a-logo {
  padding: 0px 15px 0px 15px;
  font-size: 0px;
  min-height: 45px;
  height: 45px;
  line-height: 41px;
}
/* line 128, ../../../../sass/partials/_header.scss */
.a-header .a-nav-login:hover li a, .a-header .a-nav-login:active li a, .a-header .a-nav-login:focus li a, .a-header .a-nav-login:visited li a {
  border-right: 1px solid transparent !important;
}
/* line 133, ../../../../sass/partials/_header.scss */
.a-header .a-nav-login li {
  background-color: #00ca76;
  padding: 12px 0px 0px 0px;
  height: 45px;
  min-height: 45px;
}
/* line 138, ../../../../sass/partials/_header.scss */
.a-header .a-nav-login li:hover, .a-header .a-nav-login li:active, .a-header .a-nav-login li:focus, .a-header .a-nav-login li:visited {
  background-color: #007e49;
}
/* line 142, ../../../../sass/partials/_header.scss */
.a-header .a-nav-login li:first-child a {
  border-right: 1px solid #00e585;
}
/* line 146, ../../../../sass/partials/_header.scss */
.a-header .a-nav-login li a {
  border-right: 1px solid transparent;
  padding: 0px 8px 0px 8px;
  color: white;
  font-size: 1.4em;
  font-family: "Open Sans Bold", sans-serif;
  background: none;
}
/* line 153, ../../../../sass/partials/_header.scss */
.a-header .a-nav-login li a:hover, .a-header .a-nav-login li a:active, .a-header .a-nav-login li a:focus, .a-header .a-nav-login li a:visited {
  background-color: none;
}
/* line 161, ../../../../sass/partials/_header.scss */
.a-header .navbar-toggle {
  margin-top: 7px;
  border: 0px solid transparent;
  background: #007e49;
  text-align: center;
  -moz-box-shadow: 0px 3px 0px #004b2b;
  -webkit-box-shadow: 0px 3px 0px #004b2b;
  box-shadow: 0px 3px 0px #004b2b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: white;
  padding: 6px 10px;
  padding: 6px;
}
/* line 9, ../../../../sass/modules/_mixins.scss */
.a-header .navbar-toggle:hover {
  background: #009858;
  -moz-box-shadow: 0px 3px 0px #00653a;
  -webkit-box-shadow: 0px 3px 0px #00653a;
  box-shadow: 0px 3px 0px #00653a;
  text-decoration: none;
}
/* line 14, ../../../../sass/modules/_mixins.scss */
.a-header .navbar-toggle:active {
  position: relative;
  top: 3px;
  background: #00653a;
  -moz-box-shadow: inset 0px -2px 1px #004b2b;
  -webkit-box-shadow: inset 0px -2px 1px #004b2b;
  box-shadow: inset 0px -2px 1px #004b2b;
  text-decoration: none;
}
/* line 165, ../../../../sass/partials/_header.scss */
.a-header .navbar-toggle .icon-bar {
  background: white;
  -moz-box-shadow: 0px -1px 0px rgba(0, 202, 118, 0.5);
  -webkit-box-shadow: 0px -1px 0px rgba(0, 202, 118, 0.5);
  box-shadow: 0px -1px 0px rgba(0, 202, 118, 0.5);
}

/* line 173, ../../../../sass/partials/_header.scss */
.a-faq {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 45px;
  padding: 15px 15px;
  background: #00ca76;
  font-family: "Open Sans Bold", sans-serif;
  color: white !important;
  font-size: 1.4em;
  margin-left: 20px;
  text-decoration: none !important;
}
/* line 183, ../../../../sass/partials/_header.scss */
.a-faq:hover, .a-faq:active {
  background: #007e49;
}

/* line 2, ../../../../sass/partials/_signup.scss */
.a-signup .a-header-img {
  background-image: url('../img/sign-bg.jpg?1415392180');
}
/* line 5, ../../../../sass/partials/_signup.scss */
.a-signup .a-content {
  margin-top: 20px;
  color: #333333;
  text-align: center;
  font-family: "Cabin Regular", sans-serif;
}
/* line 8, ../../../../sass/partials/_signup.scss */
.a-signup .a-content .a-content-wrapp {
  padding: 0px 60px;
}
@media screen and (max-width: 768px) {
  /* line 8, ../../../../sass/partials/_signup.scss */
  .a-signup .a-content .a-content-wrapp {
    padding: 0px;
  }
}
/* line 16, ../../../../sass/partials/_signup.scss */
.a-signup .a-content h3 {
  font-size: 2.6em;
  font-style: italic;
  margin-bottom: 10px;
}
/* line 21, ../../../../sass/partials/_signup.scss */
.a-signup .a-content h2 {
  font-size: 6em;
  line-height: 1.5em;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
}
/* line 28, ../../../../sass/partials/_signup.scss */
.a-signup .a-content .a-texts {
  padding: 15px 30px 10px 30px;
}
/* line 30, ../../../../sass/partials/_signup.scss */
.a-signup .a-content .a-texts p {
  font-size: 1.45em;
  margin-bottom: 5px;
  line-height: 1.5em;
}
/* line 35, ../../../../sass/partials/_signup.scss */
.a-signup .a-content .a-texts.a-newsletter {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 0px 25px 0px;
}
/* line 42, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp {
  margin-top: -100px;
  margin-bottom: 30px;
  padding: 5px 0px;
  background: white;
  border: 1px solid #e6e6e6;
  border-top: 4px solid #00ca76;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 50, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp * {
  margin: 0px;
}
/* line 53, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp h1 {
  color: #333333;
  border-bottom: 1px solid #e6e6e6;
  font-size: 2.4em;
  font-family: "Cabin Regular", sans-serif;
  font-style: italic;
  padding: 15px 20px;
  margin-bottom: 10px;
}
/* line 62, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp .a-social-auth {
  padding: 8px 20px;
}
/* line 64, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp .a-social-auth p {
  margin-bottom: 15px;
  font-size: 1.3em;
  color: #595959;
  font-style: italic;
}
/* line 70, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp .a-social-auth .a-signup-facebook {
  border: 0px solid transparent;
  background: #3b5999;
  text-align: center;
  -moz-box-shadow: 0px 3px 0px #2d4474;
  -webkit-box-shadow: 0px 3px 0px #2d4474;
  box-shadow: 0px 3px 0px #2d4474;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: white;
  padding: 6px 10px;
}
/* line 9, ../../../../sass/modules/_mixins.scss */
.a-signup .a-form-wrapp .a-social-auth .a-signup-facebook:hover {
  background: #4264ab;
  -moz-box-shadow: 0px 3px 0px #344e87;
  -webkit-box-shadow: 0px 3px 0px #344e87;
  box-shadow: 0px 3px 0px #344e87;
  text-decoration: none;
}
/* line 14, ../../../../sass/modules/_mixins.scss */
.a-signup .a-form-wrapp .a-social-auth .a-signup-facebook:active {
  position: relative;
  top: 3px;
  background: #344e87;
  -moz-box-shadow: inset 0px -2px 1px #2d4474;
  -webkit-box-shadow: inset 0px -2px 1px #2d4474;
  box-shadow: inset 0px -2px 1px #2d4474;
  text-decoration: none;
}
/* line 73, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp .a-social-auth .a-signup-twitter {
  border: 0px solid transparent;
  background: #4bc1f1;
  text-align: center;
  -moz-box-shadow: 0px 3px 0px #1cb1ed;
  -webkit-box-shadow: 0px 3px 0px #1cb1ed;
  box-shadow: 0px 3px 0px #1cb1ed;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333333;
  padding: 6px 10px;
}
/* line 9, ../../../../sass/modules/_mixins.scss */
.a-signup .a-form-wrapp .a-social-auth .a-signup-twitter:hover {
  background: #63c9f3;
  -moz-box-shadow: 0px 3px 0px #33b9ef;
  -webkit-box-shadow: 0px 3px 0px #33b9ef;
  box-shadow: 0px 3px 0px #33b9ef;
  text-decoration: none;
}
/* line 14, ../../../../sass/modules/_mixins.scss */
.a-signup .a-form-wrapp .a-social-auth .a-signup-twitter:active {
  position: relative;
  top: 3px;
  background: #33b9ef;
  -moz-box-shadow: inset 0px -2px 1px #1cb1ed;
  -webkit-box-shadow: inset 0px -2px 1px #1cb1ed;
  box-shadow: inset 0px -2px 1px #1cb1ed;
  text-decoration: none;
}
/* line 76, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp .a-social-auth .a-social-btn {
  display: block;
  margin-bottom: 13px;
  color: white;
  font-size: 1.4em;
  padding: 9px 15px;
  font-family: "Open Sans Bold", sans-serif;
}
/* line 83, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp .a-social-auth .a-social-btn .fa {
  margin-right: 10px;
}
/* line 88, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp .a-form {
  padding: 15px 15px;
  border-top: 1px solid #e6e6e6;
}
/* line 91, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp .a-form p {
  font-size: 1.3em;
  font-style: italic;
  margin-bottom: 13px;
  color: #595959;
}
/* line 96, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp .a-form p.a-legend {
  text-align: center;
  color: #333333;
  font-style: normal;
  line-height: 1.4em;
}
/* line 103, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp .a-form .a-input-group {
  margin-bottom: 15px;
}
/* line 105, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp .a-form .a-input-group label {
  font-size: 1.4em;
  margin-bottom: 5px;
  display: block;
}
/* line 110, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp .a-form .a-input-group input {
  font-size: 1.3em;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
/* line 115, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp .a-form .a-input-group.a-password .a-pass-input {
  margin-bottom: 14px;
}
/* line 121, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp .a-form .a-input-group.a-nombre input {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 47%;
}
/* line 124, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp .a-form .a-input-group.a-nombre input.a-nombre-input {
  margin-right: 5%;
}
/* line 130, ../../../../sass/partials/_signup.scss */
.a-signup .a-form-wrapp .a-form .a-btn {
  border: 0px solid transparent;
  background: #00ca76;
  text-align: center;
  -moz-box-shadow: 0px 3px 0px #009758;
  -webkit-box-shadow: 0px 3px 0px #009758;
  box-shadow: 0px 3px 0px #009758;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: white;
  padding: 6px 10px;
  width: 100%;
  text-align: center;
  font-family: "Open Sans Bold", sans-serif;
  font-size: 1.4em;
}
/* line 9, ../../../../sass/modules/_mixins.scss */
.a-signup .a-form-wrapp .a-form .a-btn:hover {
  background: #00e485;
  -moz-box-shadow: 0px 3px 0px #00b167;
  -webkit-box-shadow: 0px 3px 0px #00b167;
  box-shadow: 0px 3px 0px #00b167;
  text-decoration: none;
}
/* line 14, ../../../../sass/modules/_mixins.scss */
.a-signup .a-form-wrapp .a-form .a-btn:active {
  position: relative;
  top: 3px;
  background: #00b167;
  -moz-box-shadow: inset 0px -2px 1px #009758;
  -webkit-box-shadow: inset 0px -2px 1px #009758;
  box-shadow: inset 0px -2px 1px #009758;
  text-decoration: none;
}
/* line 139, ../../../../sass/partials/_signup.scss */
.a-signup footer {
  text-align: center;
  padding: 10px 15px;
  font-size: 1.3em;
  border-top: 1px solid #e6e6e6;
}
/* line 145, ../../../../sass/partials/_signup.scss */
.a-signup .a-error {
  background: #d40000;
  color: white;
  margin-top: -10px;
  padding: 15px 15px;
  font-size: 1.2 em;
  margin-bottom: 10px;
  font-family: "Open Sans Regular", sans-serif;
}

.a-signup .a-success {
  background: #3ADF00;
  color: white;
  margin-top: -10px;
  padding: 15px 15px;
  font-size: 1.2 em;
  margin-bottom: 10px;
  font-family: "Open Sans Regular", sans-serif;
}


/* line 2, ../../../../sass/partials/_signin.scss */
.a-signin .a-header-img {
  background-image: url('../img/signin-bg.jpg?1415397728');
}
/* line 5, ../../../../sass/partials/_signin.scss */
.a-signin .a-password {
  margin-bottom: 0px !important;
}
/* line 8, ../../../../sass/partials/_signin.scss */
.a-signin .a-forgotenpass {
  margin-bottom: 0px !important;
  margin-top: 10px;
}
/* line 12, ../../../../sass/partials/_signin.scss */
.a-signin .a-content {
  margin-top: 0px;
}

/* line 2, ../../../../sass/partials/_search.scss */
.a-search .a-aventones-wrapp {
  padding-right: 50px;
}
@media screen and (max-width: 768px) {
  /* line 2, ../../../../sass/partials/_search.scss */
  .a-search .a-aventones-wrapp {
    padding-right: 15px;
  }
}
/* line 8, ../../../../sass/partials/_search.scss */
.a-search .a-header-img {
  background-image: url('../img/search-bg.jpg?1415473640');
  height: auto;
  min-height: 230px;
}
/* line 13, ../../../../sass/partials/_search.scss */
.a-search .a-header-img h2 {
  text-align: center;
  color: white;
  font-family: "Cabin Regular", sans-serif;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.525);
  margin: 30px 0px 30px 0px;
  font-size: 6em;
}
/* line 22, ../../../../sass/partials/_search.scss */
.a-search .a-search-wrapp {
  background: #ffe92a;
  border: 1px solid #dac300;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 23, ../../../../sass/partials/_search.scss */
.a-search .a-search-wrapp .a-search-container-wrapp {
  padding: 3px;
  background: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 27, ../../../../sass/partials/_search.scss */
.a-search .a-search-wrapp .a-search-container-wrapp:after {
  clear: both;
  display: table;
  content: " ";
}
/* line 36, ../../../../sass/partials/_search.scss */
.a-search .a-search-wrapp input, .a-search .a-search-wrapp button {
  margin: 0px;
  border: 0px solid transparent;
  font-size: 1.4em;
  padding: 6px 10px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* line 43, ../../../../sass/partials/_search.scss */
.a-search .a-search-wrapp .a-input-wrapp {
  position: relative;
  min-height: 31px;
}
/* line 46, ../../../../sass/partials/_search.scss */
.a-search .a-search-wrapp .a-input-wrapp .fa {
  color: #dac300;
  position: absolute;
  line-height: 31px;
  font-size: 1.6em;
}
/* line 52, ../../../../sass/partials/_search.scss */
.a-search .a-search-wrapp .a-input-wrapp input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  background: none;
  padding-left: 30px;
  font-size: 1.5em;
  font-family: "Cabin Regular", sans-serif;
}
/* line 23, ../../../../sass/modules/_mixins.scss */
.a-search .a-search-wrapp .a-input-wrapp input::-webkit-input-placeholder {
  color: #dac300;
  line-height: 1.4em;
}
/* line 24, ../../../../sass/modules/_mixins.scss */
.a-search .a-search-wrapp .a-input-wrapp input:-moz-placeholder {
  color: #dac300;
  line-height: 1.4em;
}
/* line 25, ../../../../sass/modules/_mixins.scss */
.a-search .a-search-wrapp .a-input-wrapp input::-moz-placeholder {
  color: #dac300;
  line-height: 1.4em;
}
/* line 26, ../../../../sass/modules/_mixins.scss */
.a-search .a-search-wrapp .a-input-wrapp input:-ms-input-placeholder {
  color: #dac300;
  line-height: 1.4em;
}
/* line 66, ../../../../sass/partials/_search.scss */
.a-search .a-search-wrapp .a-input-wrapp input.a-destino {
  border-right: 1px solid #dac300;
  border-left: 1px solid #dac300;
}
/* line 71, ../../../../sass/partials/_search.scss */
.a-search .a-search-wrapp .a-input-wrapp input.a-fecha {
  padding-left: 40px;
}
/* line 76, ../../../../sass/partials/_search.scss */
.a-search .a-search-wrapp .a-search-container {
  padding: 5px 5px;
}
/* line 79, ../../../../sass/partials/_search.scss */
.a-search .a-search-wrapp .a-search-container .a-search-btn {
  line-height: 1em;
  font-size: 1.5em;
  border: 0px solid transparent;
  background: #00ca76;
  text-align: center;
  -moz-box-shadow: 0px 3px 0px #009758;
  -webkit-box-shadow: 0px 3px 0px #009758;
  box-shadow: 0px 3px 0px #009758;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: white;
  padding: 6px 10px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-family: "Cabin Bold", sans-serif;
}
/* line 9, ../../../../sass/modules/_mixins.scss */
.a-search .a-search-wrapp .a-search-container .a-search-btn:hover {
  background: #00e485;
  -moz-box-shadow: 0px 3px 0px #00b167;
  -webkit-box-shadow: 0px 3px 0px #00b167;
  box-shadow: 0px 3px 0px #00b167;
  text-decoration: none;
}
/* line 14, ../../../../sass/modules/_mixins.scss */
.a-search .a-search-wrapp .a-search-container .a-search-btn:active {
  position: relative;
  top: 3px;
  background: #00b167;
  -moz-box-shadow: inset 0px -2px 1px #009758;
  -webkit-box-shadow: inset 0px -2px 1px #009758;
  box-shadow: inset 0px -2px 1px #009758;
  text-decoration: none;
}
/* line 88, ../../../../sass/partials/_search.scss */
.a-search .a-pedir-aventon {
  position: relative;
  right: -10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Open Sans Bold", sans-serif;
  color: white;
  font-size: 1.3em;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}
/* line 98, ../../../../sass/partials/_search.scss */
.a-search .a-pedir-aventon:hover {
  text-decoration: none;
}
/* line 104, ../../../../sass/partials/_search.scss */
.a-search .a-filter-aventones ul {
  padding: 0px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 25px;
}
/* line 108, ../../../../sass/partials/_search.scss */
.a-search .a-filter-aventones ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 20px 30px 8px 0px;
  border-bottom: 5px solid transparent;
  font-family: "Open Sans Light", sans-serif;
  margin-right: 15px;
}
/* line 115, ../../../../sass/partials/_search.scss */
.a-search .a-filter-aventones ul li.active {
  border-bottom: 5px solid #00ca76;
}
/* line 117, ../../../../sass/partials/_search.scss */
.a-search .a-filter-aventones ul li.active a {
  color: #333333;
}
/* line 119, ../../../../sass/partials/_search.scss */
.a-search .a-filter-aventones ul li.active a:active, .a-search .a-filter-aventones ul li.active a:hover, .a-search .a-filter-aventones ul li.active a:focus, .a-search .a-filter-aventones ul li.active a:visited {
  color: #333333;
}
/* line 124, ../../../../sass/partials/_search.scss */
.a-search .a-filter-aventones ul li a {
  color: #595959;
  font-size: 1.8em;
}
/* line 127, ../../../../sass/partials/_search.scss */
.a-search .a-filter-aventones ul li a:active, .a-search .a-filter-aventones ul li a:hover, .a-search .a-filter-aventones ul li a:focus, .a-search .a-filter-aventones ul li a:visited {
  text-decoration: none;
  color: #595959;
}
/* line 136, ../../../../sass/partials/_search.scss */
.a-search .a-aventon-waiting-wrapp h3 {
  color: #333333;
  font-size: 1.8em;
  padding: 20px 30px 8px 0px;
  border-bottom: 5px solid #ffe92a;
  -moz-box-shadow: 0 1px 0 #e6e6e6;
  -webkit-box-shadow: 0 1px 0 #e6e6e6;
  box-shadow: 0 1px 0 #e6e6e6;
  font-family: "Open Sans Light", sans-serif;
  margin-bottom: 25px;
}
/* line 146, ../../../../sass/partials/_search.scss */
.a-search .a-no-aventones {
  text-align: center;
  padding: 15px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.4em;
  font-family: "Open Sans Light", sans-serif;
  color: #404040;
  border: 1px solid #9fdfc4;
}

/* line 156, ../../../../sass/partials/_search.scss */
.a-aventon-viaje {
  margin-bottom: 30px;
  position: relative;
  margin-top: 2px;
  border: 1px solid #d9d9d9;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 163, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-asientos {
  position: absolute;
  top: -17px;
  left: -17px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 3px 3px 0px white;
  -webkit-box-shadow: 3px 3px 0px white;
  box-shadow: 3px 3px 0px white;
  background-color: #00ca76;
  color: white;
  font-size: 1.7em;
  font-family: "Cabin Bold", sans-serif;
  line-height: 35px;
  min-height: 35px;
  min-width: 35px;
  text-align: center;
}
/* line 179, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-close {
  position: absolute;
  font-family: "Cabin Bold", sans-serif;
  top: 10px;
  right: 12px;
  font-size: 1.4em;
  color: #b3b3b3;
}
/* line 186, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-close:hover {
  color: #00ca76;
}
/* line 190, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-footer {
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #eeeeee url('../img/background-footer.png?1415733625');
  padding: 9px 12px;
}
/* line 194, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-footer .a-message {
  border: 1px solid #dac300;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  padding-right: 91px;
  background: white;
  height: 30px;
}
/* line 201, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-footer .a-message input {
  background: none;
  border: 0px solid transparent;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 1.3em;
}
/* line 23, ../../../../sass/modules/_mixins.scss */
.a-aventon-viaje .a-viaje-footer .a-message input::-webkit-input-placeholder {
  line-height: 17px;
  font-style: italic;
  font-size: 1.01em;
}
/* line 24, ../../../../sass/modules/_mixins.scss */
.a-aventon-viaje .a-viaje-footer .a-message input:-moz-placeholder {
  line-height: 17px;
  font-style: italic;
  font-size: 1.01em;
}
/* line 25, ../../../../sass/modules/_mixins.scss */
.a-aventon-viaje .a-viaje-footer .a-message input::-moz-placeholder {
  line-height: 17px;
  font-style: italic;
  font-size: 1.01em;
}
/* line 26, ../../../../sass/modules/_mixins.scss */
.a-aventon-viaje .a-viaje-footer .a-message input:-ms-input-placeholder {
  line-height: 17px;
  font-style: italic;
  font-size: 1.01em;
}
/* line 214, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-footer .a-message button {
  font-family: "Cabin Bold", sans-serif;
  font-size: 1.35em;
  font-style: italic;
  position: absolute;
  top: 1px;
  right: 1px;
  border: 0px solid transparent;
  width: 90px;
  height: 26px;
  background: none;
  border-left: 1px solid #dac300;
}
/* line 226, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-footer .a-message button:hover {
  background: rgba(0, 0, 0, 0.05);
}
/* line 229, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-footer .a-message button:active {
  -moz-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.6);
}
/* line 233, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-footer .a-message button .fa {
  margin-right: 3px;
  position: relative;
  top: -1px;
}
/* line 240, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-footer .a-viajar-juntos {
  padding-left: 6%;
}
/* line 242, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-footer .a-viajar-juntos button {
  padding: 6px 10px;
  width: 100%;
  font-family: "Cabin Bold", sans-serif;
  font-size: 1.48em;
}
/* line 247, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-footer .a-viajar-juntos button .a-sprite {
  margin-left: -15px;
  position: relative;
  top: -1px;
  margin-right: 3px;
}
/* line 256, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-content {
  padding: 20px 20px;
  border-bottom: 2px dotted #d9d9d9;
  margin-bottom: 2px;
}
/* line 260, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-content .a-recorrido {
  position: relative;
}
/* line 262, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-content .a-recorrido .sprite-arrow {
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: 8px;
}
/* line 268, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-content .a-recorrido .a-map-wrapp {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 1.35em;
  text-align: center;
  width: 49%;
}
/* line 273, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-content .a-recorrido .a-map-wrapp time {
  display: block;
  font-size: 0.9em;
  margin-bottom: 5px;
  margin-top: 8px;
  font-family: "Open Sans Bold", sans-serif;
  color: #00ca76;
}
/* line 281, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-content .a-recorrido .a-map-wrapp p {
  font-family: "Open Sans Bold", sans-serif;
}
/* line 284, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-content .a-recorrido .a-map-wrapp p i {
  font-family: "Open Sans Regular", sans-serif;
  display: block;
}
/* line 292, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-content .a-user {
  padding: 0px 5%;
}
/* line 294, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-content .a-user .a-user-text {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 296, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-content .a-user .a-user-text:hover * {
  text-decoration: none !important;
}
/* line 302, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-content .a-user .a-user-text h2 {
  margin-top: 10px;
  font-family: "Cabin Bold", sans-serif;
  font-size: 1.8em;
  margin-bottom: 2px;
}
/* line 308, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-content .a-user .a-user-text h3 {
  color: #00ca76;
  font-family: "Cabin Regular", sans-serif;
  font-size: 1.4em;
  margin-bottom: 8px;
}
/* line 317, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-content .a-viaje-info {
  padding-top: 18px;
  font-size: 1.5em;
  font-family: "Cabin Regular", sans-serif;
}
/* line 321, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-content .a-viaje-info .a-info-recorrido {
  margin-bottom: 35px;
}
/* line 323, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-content .a-viaje-info .a-info-recorrido a {
  font-family: "Cabin Bold", sans-serif;
  font-size: 1.08em;
}
/* line 330, ../../../../sass/partials/_search.scss */
.a-aventon-viaje .a-viaje-content .a-viaje-info .a-fecha-recorrido time {
  font-family: "Cabin Bold", sans-serif;
  margin-top: 4px;
  display: block;
  font-size: 1.05em;
  color: #00ca76;
}

/* line 342, ../../../../sass/partials/_search.scss */
.a-aventon-waiting {
  border: 1px solid #d9d9d9;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 20px;
  font-size: 1.4em;
}
/* line 347, ../../../../sass/partials/_search.scss */
.a-aventon-waiting .a-waiting-content {
  padding: 10px 15px;
}
/* line 350, ../../../../sass/partials/_search.scss */
.a-aventon-waiting header {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 353, ../../../../sass/partials/_search.scss */
.a-aventon-waiting header .a-avatar {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 356, ../../../../sass/partials/_search.scss */
.a-aventon-waiting header .a-user-text {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 359, ../../../../sass/partials/_search.scss */
.a-aventon-waiting header .a-user-text h2 {
  font-family: "Cabin Bold", sans-serif;
  font-size: 1.2em;
  color: #666666;
}
/* line 364, ../../../../sass/partials/_search.scss */
.a-aventon-waiting header .a-user-text .a-stars {
  font-size: 0.8em;
  color: #ffe92a;
  margin-top: 3px;
}
/* line 371, ../../../../sass/partials/_search.scss */
.a-aventon-waiting .a-recorrido {
  font-size: 1.1em;
  margin-bottom: 10px;
}
/* line 374, ../../../../sass/partials/_search.scss */
.a-aventon-waiting .a-recorrido a {
  font-family: "Cabin Bold", sans-serif;
  font-size: 1.1em;
}
/* line 380, ../../../../sass/partials/_search.scss */
.a-aventon-waiting .a-description {
  margin-bottom: 10px;
  color: #737373;
  font-size: 1.05em;
  line-height: 1.3em;
  font-style: italic;
  font-family: "Cabin Regular", sans-serif;
  padding-right: 20%;
}
/* line 389, ../../../../sass/partials/_search.scss */
.a-aventon-waiting footer {
  font-family: "Open Sans Bold", sans-serif;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #eeeeee url('../img/background-footer.png?1415733625');
  padding: 11px 15px;
  font-size: 0.9em;
}
/* line 395, ../../../../sass/partials/_search.scss */
.a-aventon-waiting footer:after {
  content: " ";
  display: table;
  clear: both;
}
/* line 400, ../../../../sass/partials/_search.scss */
.a-aventon-waiting footer time {
  color: #4d4d4d;
  float: left;
  font-style: italic;
}
/* line 405, ../../../../sass/partials/_search.scss */
.a-aventon-waiting footer a {
  float: right;
  font-size: 1.1em;
}

/* line 412, ../../../../sass/partials/_search.scss */
.a-stars {
  font-size: 1.2em;
  color: #ffe92a;
}

/* line 2, ../../../../sass/partials/_profile.scss */
.a-profile .a-header-img {
  height: auto;
  background-image: url('../img/profile-bg.jpg?1418762577');
  border-bottom: 1px solid #dac300;
}

/* line 9, ../../../../sass/partials/_profile.scss */
.a-profile-header {
  background: rgba(255, 255, 255, 0.5);
  padding: 20px 0px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  /* line 9, ../../../../sass/partials/_profile.scss */
  .a-profile-header {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  /* line 20, ../../../../sass/partials/_profile.scss */
  .a-profile-text {
    width: 50%;
  }
}
/* line 24, ../../../../sass/partials/_profile.scss */
.a-profile-text h2 {
  font-family: "Cabin Bold", sans-serif;
  color: #333333;
  font-size: 3em;
  margin-bottom: 2px;
  text-transform: capitalize;
  text-shadow: 0px 1px 0px white;
}
/* line 32, ../../../../sass/partials/_profile.scss */
.a-profile-text h3 {
  text-shadow: 0px 1px 0px white;
  font-family: "Cabin Bold", sans-serif;
  color: #00ca76;
  font-size: 1.7em;
  margin-bottom: 12px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}
/* line 43, ../../../../sass/partials/_profile.scss */
.a-profile-text .a-verified li {
  font-size: 1.3em;
  margin-bottom: 5px;
}
/* line 46, ../../../../sass/partials/_profile.scss */
.a-profile-text .a-verified li .fa {
  color: #00ca76;
}
/* line 51, ../../../../sass/partials/_profile.scss */
.a-profile-text button {
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  /* line 56, ../../../../sass/partials/_profile.scss */
  .a-profile-header-wrapp {
    padding-left: 150px;
  }
}
@media screen and (min-width: 992px) {
  /* line 56, ../../../../sass/partials/_profile.scss */
  .a-profile-header-wrapp {
    padding-left: 100px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 56, ../../../../sass/partials/_profile.scss */
  .a-profile-header-wrapp {
    padding-left: 80px;
  }
}

/* line 68, ../../../../sass/partials/_profile.scss */
.a-badget {
  position: absolute;
  top: -25px;
  left: -25px;
  background: transparent url('../img/badge.png?1418762577') no-repeat center bottom;
  padding: 0px 20px;
  height: 345px;
  text-align: center;
  width: 141px;
}
/* line 78, ../../../../sass/partials/_profile.scss */
.a-badget .a-avatar {
  width: 160px;
  height: 160px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid rgba(0, 202, 118, 0.5);
  position: relative;
  left: -30px;
  margin-bottom: 10px;
}
/* line 87, ../../../../sass/partials/_profile.scss */
.a-badget .a-avatar img {
  position: relative;
  left: 50%;
  height: 100%;
  width: auto;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 96, ../../../../sass/partials/_profile.scss */
.a-badget .a-stars {
  padding-bottom: 5px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}
/* line 103, ../../../../sass/partials/_profile.scss */
.a-badget h4 strong {
  display: block;
  font-size: 4em;
  color: #005531;
  font-family: "Open Sans Light", sans-serif;
  text-shadow: 0px 1px 2px rgba(0, 126, 73, 0.5);
}

@media screen and (min-width: 768px) {
  /* line 113, ../../../../sass/partials/_profile.scss */
  .a-profile-nav-wrapp {
    padding-left: 120px;
  }
}
@media screen and (min-width: 992px) {
  /* line 113, ../../../../sass/partials/_profile.scss */
  .a-profile-nav-wrapp {
    padding-left: 130px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 113, ../../../../sass/partials/_profile.scss */
  .a-profile-nav-wrapp {
    padding-left: 110px;
  }
}

/* line 125, ../../../../sass/partials/_profile.scss */
.a-profile-nav {
  display: table;
  table-layout: fixed;
  width: 100%;
  background: white;
  margin-top: -20px;
  padding: 5px 0px;
  margin-bottom: 35px;
  font-size: 1.4em;
  -moz-box-shadow: 0px 1px 0px 0px #dac300, 0px 4px 0px 0px #ffe92a, 0px 0px 0px 1px #dac300, 0px 4px 0px 1px #dac300;
  -webkit-box-shadow: 0px 1px 0px 0px #dac300, 0px 4px 0px 0px #ffe92a, 0px 0px 0px 1px #dac300, 0px 4px 0px 1px #dac300;
  box-shadow: 0px 1px 0px 0px #dac300, 0px 4px 0px 0px #ffe92a, 0px 0px 0px 1px #dac300, 0px 4px 0px 1px #dac300;
}
/* line 136, ../../../../sass/partials/_profile.scss */
.a-profile-nav ul {
  display: table-row;
}
/* line 139, ../../../../sass/partials/_profile.scss */
.a-profile-nav ul li {
  padding: 10px 5px;
  display: table-cell;
  text-align: center;
  position: relative;
}
/* line 141, ../../../../sass/partials/_profile.scss */
.a-profile-nav ul li + li {
  border-left: 1px solid #dac300;
}
/* line 151, ../../../../sass/partials/_profile.scss */
.a-profile-nav ul li.active:before {
  content: " ";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #dac300;
  top: 40px;
  left: 50%;
  margin-left: -13px;
}
/* line 164, ../../../../sass/partials/_profile.scss */
.a-profile-nav ul li.active:after {
  content: " ";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid white;
  top: 38px;
  left: 50%;
  margin-left: -13px;
}
/* line 178, ../../../../sass/partials/_profile.scss */
.a-profile-nav ul li a {
  color: #333333;
}
/* line 180, ../../../../sass/partials/_profile.scss */
.a-profile-nav ul li a:hover, .a-profile-nav ul li a:active {
  color: #dac300;
  text-decoration: none;
}

/* line 188, ../../../../sass/partials/_profile.scss */
.a-comming-soon {
  font-size: 0.8em;
  color: white;
  background: #00ca76;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  /* line 197, ../../../../sass/partials/_profile.scss */
  .a-profile-content-wrapp {
    padding: 0px 0px;
  }
}
@media screen and (min-width: 992px) {
  /* line 197, ../../../../sass/partials/_profile.scss */
  .a-profile-content-wrapp {
    padding: 0px 0px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 197, ../../../../sass/partials/_profile.scss */
  .a-profile-content-wrapp {
    padding: 0px 10px;
  }
}
/* line 207, ../../../../sass/partials/_profile.scss */
.a-profile-content-wrapp h1 {
  font-family: "Open Sans Light", sans-serif;
  font-size: 2.4em;
  padding-bottom: 8px;
  border-bottom: 1px solid #e6e6e6;
  -moz-box-shadow: 0px 1px 0px white;
  -webkit-box-shadow: 0px 1px 0px white;
  box-shadow: 0px 1px 0px white;
  margin-bottom: 20px;
}

/* line 218, ../../../../sass/partials/_profile.scss */
.a-settings nav {
  font-size: 1.3em;
}
@media screen and (min-width: 768px) {
  /* line 218, ../../../../sass/partials/_profile.scss */
  .a-settings nav {
    margin-top: 50px;
  }
}
/* line 224, ../../../../sass/partials/_profile.scss */
.a-settings nav li + li {
  margin-top: 10px;
}
/* line 228, ../../../../sass/partials/_profile.scss */
.a-settings nav li a {
  color: #333333;
}
/* line 230, ../../../../sass/partials/_profile.scss */
.a-settings nav li a:hover, .a-settings nav li a:active {
  color: #dac300;
  text-decoration: none;
}

/* line 240, ../../../../sass/partials/_profile.scss */
.a-reviews li {
  min-height: 100px;
  margin-bottom: 20px;
  border: 1px solid #e6e6e6;
  padding: 15px 20px;
  position: relative;
  padding-left: 110px;
}
/* line 247, ../../../../sass/partials/_profile.scss */
.a-reviews li .sprite-avatar {
  position: absolute;
  left: 15px;
  top: 20px;
}
/* line 253, ../../../../sass/partials/_profile.scss */
.a-reviews li .a-review-text h2 {
  font-family: "Cabin Bold", sans-serif;
  font-size: 1.7em;
  margin-bottom: 3px;
}
/* line 257, ../../../../sass/partials/_profile.scss */
.a-reviews li .a-review-text h2 .a-vote {
  font-size: 0.8em;
  color: #676767;
}
/* line 262, ../../../../sass/partials/_profile.scss */
.a-reviews li .a-review-text h2 time {
  font-size: 0.8em;
  font-family: "Open Sans Regular", sans-serif;
  font-style: italic;
  color: #b3b3b3;
}
/* line 269, ../../../../sass/partials/_profile.scss */
.a-reviews li .a-review-text h3 {
  font-size: 1.3em;
  font-family: "Cabin Regular", sans-serif;
  color: #00ca76;
  margin-bottom: 10px;
}
/* line 275, ../../../../sass/partials/_profile.scss */
.a-reviews li .a-review-text h3 .s-stars {
  color: #ffe92a;
}
/* line 279, ../../../../sass/partials/_profile.scss */
.a-reviews li .a-review-text p {
  font-size: 1.3em;
  color: #4d4d4d;
  line-height: 1.5em;
}

/* line 288, ../../../../sass/partials/_profile.scss */
.a-messages-list {
  font-size: 1.4em;
}
/* line 292, ../../../../sass/partials/_profile.scss */
.a-messages-list tbody tr:hover {
  background-color: #00ca76;
}
/* line 294, ../../../../sass/partials/_profile.scss */
.a-messages-list tbody tr:hover a {
  color: white;
}
/* line 301, ../../../../sass/partials/_profile.scss */
.a-messages-list a {
  color: #333333;
}
/* line 303, ../../../../sass/partials/_profile.scss */
.a-messages-list a:hover, .a-messages-list a:active {
  text-decoration: none;
}

/* line 310, ../../../../sass/partials/_profile.scss */
.a-message time {
  padding-top: 10px;
  font-size: 0.6em;
  font-family: "Open Sans Regular", sans-serif;
  color: #9a9a9a;
}
/* line 316, ../../../../sass/partials/_profile.scss */
.a-message .a-message-description {
  font-size: 1.5em;
  line-height: 1.6em;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

/* line 326, ../../../../sass/partials/_profile.scss */
.a-message-respons {
  font-size: 1.4em;
  margin-bottom: 60px;
}
/* line 329, ../../../../sass/partials/_profile.scss */
.a-message-respons textarea {
  display: block;
  width: 100%;
  height: 70px;
  vertical-align: top;
}
/* line 335, ../../../../sass/partials/_profile.scss */
.a-message-respons button {
  margin-top: 10px;
  font-size: 1.4em;
}

/* line 342, ../../../../sass/partials/_profile.scss */
.a-mis-viajes .a-aventon-viaje {
  border-top: 3px solid #00ca76 !important;
}
/* line 345, ../../../../sass/partials/_profile.scss */
.a-mis-viajes .a-recorrido {
  margin-top: 30px;
}
/* line 348, ../../../../sass/partials/_profile.scss */
.a-mis-viajes .a-viaje-content {
  border-bottom: 0px solid #00ca76 !important;
}
/* line 349, ../../../../sass/partials/_profile.scss */
.a-mis-viajes .a-viaje-content h3 {
  font-size: 1.6em;
  font-family: "Cabin Regular", sans-serif;
  margin-bottom: 10px;
}
/* line 350, ../../../../sass/partials/_profile.scss */
.a-mis-viajes .a-viaje-content h3 .sprite {
  margin-right: 10px;
}
/* line 359, ../../../../sass/partials/_profile.scss */
.a-mis-viajes .a-joiner {
  font-size: 1.4em;
}
/* line 362, ../../../../sass/partials/_profile.scss */
.a-mis-viajes .a-joiner h4 {
  font-family: "Cabin Bold", sans-serif;
  margin-bottom: 10px;
}
/* line 365, ../../../../sass/partials/_profile.scss */
.a-mis-viajes .a-joiner h4.a-pending {
  margin-top: 20px;
}
/* line 369, ../../../../sass/partials/_profile.scss */
.a-mis-viajes .a-joiner .a-sprite {
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
/* line 372, ../../../../sass/partials/_profile.scss */
.a-mis-viajes .a-joiner li {
  height: auto;
}
/* line 374, ../../../../sass/partials/_profile.scss */
.a-mis-viajes .a-joiner li a {
  font-family: "Cabin Bold", sans-serif;
  text-decoration: none;
}
/* line 378, ../../../../sass/partials/_profile.scss */
.a-mis-viajes .a-joiner li a time {
  font-family: "Cabin Regular", sans-serif;
  color: gray;
}

/* line 388, ../../../../sass/partials/_profile.scss */
.a-add-review {
  margin-bottom: 30px;
  font-size: 1.4em;
  border: 1px solid #e6e6e6;
  border-top: 3px solid #ffe92a;
  padding: 15px 10px;
}
/* line 394, ../../../../sass/partials/_profile.scss */
.a-add-review:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 399, ../../../../sass/partials/_profile.scss */
.a-add-review textarea {
  width: 100%;
  min-height: 100px;
  margin-bottom: 10px;
}
/* line 404, ../../../../sass/partials/_profile.scss */
.a-add-review button {
  float: right;
}
/* line 407, ../../../../sass/partials/_profile.scss */
.a-add-review h3 {
  margin-bottom: 10px;
  font-family: "Open Sans Light", sans-serif;
  font-size: 1.4em;
  padding-bottom: 5px;
}

/* line 2, ../../../../sass/partials/_faq.scss */
.a-faq-wrapp .a-header-img {
  background-image: url('../img/faq-bg.jpg?1419275212');
  height: 125px;
}
/* line 5, ../../../../sass/partials/_faq.scss */
.a-faq-wrapp .a-header-img h1 {
  margin-top: 30px;
  font-size: 4em;
  text-indent: inherit;
  color: white;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
}
/* line 15, ../../../../sass/partials/_faq.scss */
.a-faq-wrapp .a-faq-nav {
  margin-bottom: 20px;
  border: 1px solid #e6e6e6;
  padding: 10px 20px;
  border-top: 3px solid #00ca76;
  font-size: 1.4em;
  line-height: 1.6em;
}
/* line 23, ../../../../sass/partials/_faq.scss */
.a-faq-wrapp .a-faq-nav h1 {
  margin-top: 5px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  font-family: "Cabin Regular", sans-serif;
  font-size: 1.4em;
}
/* line 31, ../../../../sass/partials/_faq.scss */
.a-faq-wrapp .a-faq-nav li + li {
  margin-top: 5px;
}
/* line 35, ../../../../sass/partials/_faq.scss */
.a-faq-wrapp .a-answer-list {
  margin-bottom: 30px;
}
/* line 37, ../../../../sass/partials/_faq.scss */
.a-faq-wrapp .a-answer-list li + li {
  margin-top: 20px;
}
/* line 40, ../../../../sass/partials/_faq.scss */
.a-faq-wrapp .a-answer-list h1 {
  font-family: "Cabin Bold", sans-serif;
  font-size: 3em;
  color: #00ca76;
  cursor: pointer;
  margin-bottom: 10px;
}
/* line 46, ../../../../sass/partials/_faq.scss */
.a-faq-wrapp .a-answer-list h1:hover, .a-faq-wrapp .a-answer-list h1:active {
  color: #007e49;
}
/* line 50, ../../../../sass/partials/_faq.scss */
.a-faq-wrapp .a-answer-list p {
  font-size: 1.4em;
  line-height: 1.6em;
}
/* line 53, ../../../../sass/partials/_faq.scss */
.a-faq-wrapp .a-answer-list p + p {
  margin-top: 15px;
}
/* line 56, ../../../../sass/partials/_faq.scss */
.a-faq-wrapp .a-answer-list p:first-child {
  border-top: 1px solid #e6e6e6;
  padding-top: 10px;
}

/* line 2, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-header-img {
  background-image: url('../img/newaventon-bg.jpg?1415757328');
}
/* line 5, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form {
  margin-top: -120px;
  margin-bottom: 30px;
  border: 1px solid #d9d9d9;
  border-top: 4px solid #00ca76;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  background-color: white;
  font-size: 1.4em;
}
/* line 15, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-1 {
  position: relative;
  padding: 10px 40px;
  padding-left: 130px;
  min-height: 212px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}
/* line 17, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-1 .a-result {
  padding: 8px 0px 5px 0px;
}
@media screen and (max-width: 768px) {
  /* line 15, ../../../../sass/partials/_pedir-viaje.scss */
  .a-newaventon .a-aventon-form .a-form-wrapp-1 {
    padding-left: 40px;
  }
}
/* line 31, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-1 .a-arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: 5px;
}
/* line 38, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-1 .a-define-date {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 60px;
}
/* line 42, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-1 .a-no-define-date {
  float: right;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 0.9em;
  margin-right: 21%;
}
/* line 48, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-1 h5 {
  font-family: "Open Sans Bold", sans-serif;
  font-size: 1.4em;
  color: #00ca76;
  padding-left: 40px;
  margin-bottom: 20px;
}
/* line 54, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-1 h5 .fa {
  font-size: 1.2em;
  margin-right: 5px;
}
/* line 61, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-1 .a-punto-partida h5 .fa {
  color: #007e49;
}
/* line 68, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-1 .a-punto-llegada h5 .fa {
  color: #e20017;
}
/* line 74, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-1 .a-input-group {
  padding-left: 60px;
}
/* line 75, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-1 .a-input-group label {
  width: 50px;
  padding-top: 8px;
}
/* line 80, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-1 .a-input-group .a-input-g, .a-newaventon .a-aventon-form .a-form-wrapp-1 .a-input-group > input {
  width: 75%;
  max-width: 75%;
}
/* line 86, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 {
  padding: 10px 60px;
}
/* line 88, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 h2 {
  font-family: "Open Sans Bold", sans-serif;
  font-size: 1.4em;
  color: #00ca76;
  margin-bottom: 20px;
}
/* line 94, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-wrapp {
  position: relative;
  margin-bottom: 30px;
  padding: 8px;
  background: rgba(0, 229, 133, 0.5);
  height: 300px;
}
/* line 100, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-wrapp .a-msg {
  position: absolute;
  z-indez: 1000;
  display: block;
  width: 180px;
  padding: 14px;
  padding-right: 20px;
  left: 0px;
  bottom: 30px;
  font-size: 0.9em;
  line-height: 1.2em;
  background: rgba(255, 255, 255, 0.5);
  color: #007e49;
  font-family: "Open Sans Regular", sans-serif;
}
/* line 115, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-wrapp .a-msg a {
  position: absolute;
  top: 12px;
  right: 10px;
}
/* line 121, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-wrapp .a-map {
  background: #e6e6e6;
  width: 100%;
  height: 100%;
}
/* line 128, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-points p {
  margin-bottom: 12px;
}
/* line 131, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-points .a-input-g {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  position: relative;
  padding-right: 33px;
  margin-bottom: 18px;
}
/* line 139, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-points .a-input-g input[type="text"] {
  background: none;
  border: 0px solid transparent;
  padding: 6px 10px;
  width: 100%;
  max-width: 250px;
}
/* line 23, ../../../../sass/modules/_mixins.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-points .a-input-g input[type="text"]::-webkit-input-placeholder {
  line-height: 20px;
}
/* line 24, ../../../../sass/modules/_mixins.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-points .a-input-g input[type="text"]:-moz-placeholder {
  line-height: 20px;
}
/* line 25, ../../../../sass/modules/_mixins.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-points .a-input-g input[type="text"]::-moz-placeholder {
  line-height: 20px;
}
/* line 26, ../../../../sass/modules/_mixins.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-points .a-input-g input[type="text"]:-ms-input-placeholder {
  line-height: 20px;
}
/* line 149, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-points .a-input-g .fa {
  position: absolute;
  top: 0px;
  right: 10px;
  border-left: 1px solid #b3b3b3;
  padding-left: 10px;
  height: 100%;
  line-height: 31px;
}
/* line 159, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-points .a-puntos {
  margin-bottom: 40px;
  overflow: auto;
  max-height: 207px;
}
/* line 163, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-points .a-puntos li {
  margin-bottom: 8px;
  position: relative;
  padding-left: 25px;
  padding-right: 40px;
  font-size: 1.05em;
}
/* line 170, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-points .a-puntos li:hover .a-actions {
  display: block;
}
/* line 174, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-points .a-puntos li .a-actions {
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;
}
/* line 179, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-points .a-puntos li .a-actions .fa {
  color: #333333;
  margin-left: 2px;
}
/* line 183, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-points .a-puntos li .a-actions .fa-edit {
  position: relative;
  top: 1px;
}
/* line 188, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-points .a-puntos li .icono {
  position: absolute;
  left: 0px;
  top: 2px;
  color: blue;
}
/* line 195, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-points .a-puntos li.llegada .icono {
  color: #e20017;
}
/* line 200, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-points .a-puntos li.largada .icono {
  color: #007e49;
}
/* line 205, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form .a-form-wrapp-2 .a-map-points .a-puntos li .fa-map-marker {
  left: 2px;
}
/* line 212, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form header {
  border-bottom: 1px solid #ffe92a;
  padding: 30px 0px 30px 130px;
  margin-bottom: 20px;
}
/* line 213, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form header .a-min-avatar {
  position: absolute;
  left: 30px;
  top: 25px;
}
/* line 218, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form header .a-user {
  position: absolute;
  top: -50px;
  left: -83px;
  background-image: url('../img/medalla/8.png?1415797721');
  width: 166px;
  height: 331px;
}
/* line 225, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form header .a-user .a-avatar {
  display: block;
  padding: 9px 9px 9px 9px;
}
/* line 229, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form header .a-user .a-user-info-wrapp {
  text-align: center;
  padding-top: 5px;
}
/* line 232, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form header .a-user .a-user-info-wrapp .a-stars {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #ffe92a;
  font-size: 0.9em;
  border-bottom: 1px solid #ffe92a;
  padding: 5px 5px;
  margin-bottom: 5px;
}
/* line 240, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form header .a-user .a-user-info-wrapp h4 {
  font-size: 0.9em;
  font-family: "Cabin Regular", sans-serif;
}
/* line 243, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form header .a-user .a-user-info-wrapp h4 span {
  display: block;
  font-family: "Open Sans Light", sans-serif;
  font-size: 3em;
  text-shadow: 0 2px 1px rgba(0, 126, 73, 0.5);
}
/* line 256, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form header h1 {
  font-family: "Cabin Regular", sans-serif;
  font-size: 2.4em;
  font-style: italic;
  margin-bottom: 7px;
}
/* line 262, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form header h3 {
  font-family: "Cabin Regular", sans-serif;
  font-size: 1.15em;
  font-style: italic;
}
/* line 268, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form footer {
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #eeeeee url('../img/background-footer.png?1415733625');
  padding: 13px 20px;
}
/* line 272, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form footer .a-btn {
  float: right;
  font-family: "Cabin Bold", sans-serif;
  font-size: 1.25em;
  min-width: 200px;
}
/* line 278, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-aventon-form footer:after {
  content: " ";
  display: table;
  clear: both;
}
/* line 288, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-input-group {
  margin-bottom: 12px;
  padding-left: 130px;
  position: relative;
}
/* line 292, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-input-group > input[type="checkbox"] {
  position: relative;
  top: -3px;
}
/* line 296, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-input-group label {
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 120px;
  text-align: right;
}
/* line 305, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-input-group > input[type="text"], .a-newaventon .a-input-group input[type="number"] {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  padding: 6px 10px;
  width: 100%;
  max-width: 250px;
}
/* line 23, ../../../../sass/modules/_mixins.scss */
.a-newaventon .a-input-group > input[type="text"]::-webkit-input-placeholder, .a-newaventon .a-input-group input[type="number"]::-webkit-input-placeholder {
  line-height: 20px;
}
/* line 24, ../../../../sass/modules/_mixins.scss */
.a-newaventon .a-input-group > input[type="text"]:-moz-placeholder, .a-newaventon .a-input-group input[type="number"]:-moz-placeholder {
  line-height: 20px;
}
/* line 25, ../../../../sass/modules/_mixins.scss */
.a-newaventon .a-input-group > input[type="text"]::-moz-placeholder, .a-newaventon .a-input-group input[type="number"]::-moz-placeholder {
  line-height: 20px;
}
/* line 26, ../../../../sass/modules/_mixins.scss */
.a-newaventon .a-input-group > input[type="text"]:-ms-input-placeholder, .a-newaventon .a-input-group input[type="number"]:-ms-input-placeholder {
  line-height: 20px;
}
/* line 316, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-input-group .a-input-g {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  position: relative;
  padding-right: 33px;
}
/* line 323, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-input-group .a-input-g input[type="text"] {
  background: none;
  border: 0px solid transparent;
  padding: 6px 10px;
  width: 100%;
  max-width: 250px;
}
/* line 23, ../../../../sass/modules/_mixins.scss */
.a-newaventon .a-input-group .a-input-g input[type="text"]::-webkit-input-placeholder {
  line-height: 20px;
}
/* line 24, ../../../../sass/modules/_mixins.scss */
.a-newaventon .a-input-group .a-input-g input[type="text"]:-moz-placeholder {
  line-height: 20px;
}
/* line 25, ../../../../sass/modules/_mixins.scss */
.a-newaventon .a-input-group .a-input-g input[type="text"]::-moz-placeholder {
  line-height: 20px;
}
/* line 26, ../../../../sass/modules/_mixins.scss */
.a-newaventon .a-input-group .a-input-g input[type="text"]:-ms-input-placeholder {
  line-height: 20px;
}
/* line 333, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-input-group .a-input-g .fa {
  position: absolute;
  top: 0px;
  right: 10px;
  border-left: 1px solid #b3b3b3;
  padding-left: 10px;
  height: 100%;
  line-height: 31px;
}
/* line 345, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-asientos input {
  width: 100px !important;
}
/* line 350, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-more label {
  padding-top: 10px;
}
/* line 353, ../../../../sass/partials/_pedir-viaje.scss */
.a-newaventon .a-more .a-result {
  padding-top: 10px;
}

/* line 358, ../../../../sass/partials/_pedir-viaje.scss */
.a-result {
  font-family: "Open Sans Bold", sans-serif;
}

/* line 362, ../../../../sass/partials/_pedir-viaje.scss */
.a-other-info .a-result {
  min-height: 24px;
}

.viaje-futuro {
  color: #FFF;
  background-color: #00ca76;
  font-size: 16px;
  padding:5px;
  border: 2px solid #00ca76;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
.viaje-pasado {
  color: #FFF;
  background-color: #BB0022;
  font-size: 16px;
  padding:5px;
  border: 2px solid #BB0022;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
