<section data-ng-controller="AventonController" class="a-newaventon" data-ng-init="initialize()" >
    <header class="a-header-img">

    </header>
    <div class="container">
        <div class="row">
            <article class="col-md-10 col-md-offset-1 a-newaventon-wrapp">
                <form name="aventonForm" class="form-horizontal a-aventon-form" data-ng-submit="create()" >
                    <header>
                        <div class="a-min-avatar hidden-sm hidden-lg hidden-md">
                            <span class="a-sprite sprite-avatar"></span>
                        </div>
                        <div class="a-user hidden-xs">

                            <a href="#" class="a-avatar">
                                <img style="max-width:100%" class="img-circle" data-ng-src="{{user.imageProfile||'modules/core/img/avatar.png'}}" class="a-sprite sprite-avatar" ></img>
                            </a>
                            <div class="a-user-info-wrapp">
                                <div class="a-stars">
                                    <span data-ng-show="(user.review_point / user.review_count) >= 1" class="fa fa-star"></span>
                                    <span data-ng-show="(user.review_point / user.review_count) >= 2" class="fa fa-star"></span>
                                    <span data-ng-show="(user.review_point / user.review_count) >= 3" class="fa fa-star"></span>
                                    <span data-ng-show="(user.review_point / user.review_count) >= 4" class="fa fa-star"></span>
                                    <span data-ng-show="(user.review_point / user.review_count) >= 5" class="fa fa-star"></span>
                                </div>
                                <h4>Nivel de confianza
                                    <span data-ng-show="user.review_point != '0'">{{(user.review_point / user.review_count)*2}}</span>
                                </h4>
                                <div data-ng-show="user.review_point == '0'"><h3>No existen calificaciones para este usuario</h3></div>
                            </div>
                        </div>
                        <div class="a-create-header">
                            <h1>Publicar Viaje</h1>
                            <h3>Viaja compartiendo momentos y gastos de la forma más segura</h3>
                        </div>
                    </header>
                    <fieldset >
                        <div class="a-form-wrapp-1">
                            <div class="row">
                                <div data-ng-show="error" class="col-md-12 text-danger">
                                    <strong data-ng-bind="error"></strong>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-6 a-punto-partida">

                                    <div class="a-punto-wrapp">
                                        <h5><span class="fa fa-map-marker"></span> Punto de partida</h5>
                                        <div class="a-input-group a-partida">
                                            <label>Lugar</label>
                                            <google-places location=direccion required identificador="1" id="google_places_ac1" callback="doubleControl()"  ng-model="dir" type="text" class="a-place" />
                                        </div> 
                                        <div class="a-input-group a-dia" >
                                            <label>Día</label>
                                            <div class="a-input-g">
                                                <input type="text" class="a-date" datepicker-popup="dd/MM/yyyy" ng-model="start_day" min-date="minDate" readonly="true" required is-open="opened" /><span class="fa fa-calendar-o" data-ng-click="openFirst($event)"></span>
                                            
                                            </div>
                                        </div>
                                        <div class="a-input-group a-hora" >
                                            <label>Horario</label>
                                            <div class="a-input-g">
                                                <input type="time" style="width:100%; text-align:right" class="a-time" data-ng-model="start_hour" required>
                                                <span class="fa fa-clock-o"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="a-sprite sprite-arrow a-arrow hidden-xs"></span>
                                <div class="col-md-6 col-xs-12 col-sm-6 a-punto-llegada">
                                    <div class="a-punto-wrapp">
                                        <h5><span class="fa fa-map-marker"></span> Punto de llegada</h5>
                                        <div class="a-input-group a-llegada">
                                            <label>Lugar</label>
                                            <google-places required location=direcciondos identificador="2" id="google_places_ac2" type="text" class="a-place" ng-model="dir2" callback="doubleControl()" />
                                        </div>
                                        <a class="a-define-date" data-ng-if="!defineDate" data-ng-click="setDefineDate(true)"><span class="fa fa-calendar-o"></span> Definir fecha de llegada</a>
                                        <div class="a-opcional" data-ng-if="defineDate">
                                            <div class="a-input-group a-dia" >
                                                <label>Día</label>
                                                <div class="a-input-g">
                                                    <input type="text" min-date="minDate" class="a-date" datepicker-popup="yyyy/MM/dd" ng-model="end_day" readonly="true" is-open="openedTwo" /><span class="fa fa-calendar-o" data-ng-click="openSecond($event)"></span>
                                                </div>
                                            </div>
                                            <div class="a-input-group a-hora" >
                                                <label>Horario</label>
                                                <div class="a-input-g">
                                                    <input type="time" style="width:100%; text-align:right" class="a-time" data-ng-model="end_hour"><span class="fa fa-clock-o"></span>
                                                </div>
                                            </div>
                                            <a  class="a-no-define-date" data-ng-click="setDefineDate()"> No definir fecha</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="a-form-wrapp-2">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <h2>Recorrido</h2>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div  class="a-map-wrapp ">
                                                <span class="a-msg">Agregue puntos de vía en el recorrido <a href="#"><span class="fa fa-close"></span></a></span>
                                                <div class="a-map" id="map-canvas"></div>
                                            </div>
                                        </div>
                                        <div class="a-map-points col-md-4">
                                            <p>Puntos de vía donde se pueden recoger o bajar pasajeros:</p>
                                            <div class="a-input-g"> 

                                          
                                                <google-places location=direcciontres identificador="3" id="google_places_ac3" ng-model="newCity" type="text" placeholder="Nuevo punto de vía" class="a-place"> </google-places>

                                                <span data-ng-click="addCity(this.direcciontres)" class="fa fa-plus-circle"></span>
                                            </div>

                                            <ul class="a-puntos">
                                                <li class="largada"><span class="icono fa fa-map-marker start"></span> {{this.direccion.direccion}}</li>

                                                <li class="a-point" data-ng-repeat="city in cities">
                                                    <span class="icono fa fa-dot-circle-o"></span> {{city}}
                                                    <div class="a-actions">
                                                        <a data-ng-click="preUpdateCity(city)" class="a-edit-point"><span class="fa fa-edit"></span></a>

                                                        <a data-ng-click="removeCity(getIndexCity(city))"  class="a-remove-point"><span class="fa fa-trash"></span></a>
                                                    </div>
                                                </li>
                                              
                                                <li class="llegada"><span class="icono fa fa-map-marker end"></span> {{this.direcciondos.direccion}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12 a-other-info">
                                    <div class="a-input-group a-asientos">
                                        <label>Asientos disponibles</label>
                                        <input type="number" required data-ng-model="seats_available" class="a-asientos-input" min="1">
                                    </div>
                                    <div class="a-input-group a-asientos">
                                        <label>Precio por persona</label>
                                        <input type="number" data-ng-disabled="private_price" data-ng-model="seat_price" class="a-asientos-input" min="1">
                                    </div>
                                    <div class="a-input-group a-recurrent">
                                        <label>Se acuerda por privado el precio por persona</label>
                                        <input type="checkbox" data-ng-model="private_price" data-ng-click="unsetSeatPrice()" class="a-recurrent-input"> 
                                    </div><br>
                                    <div class="a-input-group a-more">
                                        <label>Datos adicionales</label>
                                        <textarea rows="5" cols="50" data-ng-model="more_info" ></textarea>
                                    </div>
                                    <div class="a-input-group a-recurrent">
                                        <label>Viaje frecuente</label>
                                        <input type="checkbox" data-ng-model="recurrent_travel" class="a-recurrent-input" >
                                        <select data-ng-model="frequency" data-ng-show="recurrent_travel">
                                            <option value="..." data-ng-show="!frequency" data-ng-selected="true">Elige una opción</option>
                                            <option value="diario" >Diario</option>
                                            <option value="semanal">Semanal</option>
                                            <option value="mensual">Mensual</option>
                                        </select>
                                    </div>
                                    <div class="a-input-group">
                                        <label>Día y hora son flexibles </label>
                                        <input type="checkbox" data-ng-model="time_flexibility" class="a-recurrent-input" >
                                        <div class="a-input-group " data-ng-show="time_flexibility">
                                            <label>Desde (ida)</label>
                                            <input type="text" class="a-date" min-date="minDate" readonly="true" datepicker-popup="yyyy/MM/dd" ng-model="from_day" is-open="openedThree" /><span class="fa fa-calendar-o" data-ng-click="openThird($event)"></span>
                                        </div>
                                        <div class="a-input-group " data-ng-show="time_flexibility">
                                            <label>Hasta (ida)</label>
                                            <input type="text" class="a-date" min-date="minDate" readonly="true" datepicker-popup="yyyy/MM/dd" ng-model="until_day" is-open="openedFour" /><span class="fa fa-calendar-o" data-ng-click="openFourth($event)"></span>
                                        </div>
                                        <div class="a-input-group a-hora" data-ng-show="time_flexibility">
                                            <label>Desde (ida)</label>
                                            <div class="">
                                                <input type="time"  class="a-time" data-ng-model="from_hour"><span class="fa fa-clock-o"></span>
                                            </div>
                                        </div>
                                        <div class="a-input-group " data-ng-show="time_flexibility">
                                            <label>Hasta (ida)</label>
                                            <div class="">
                                                <input type="time" class="a-time" data-ng-model="until_hour"><span class="fa fa-clock-o"></span>
                                            </div>
                                        </div>

                                        <div class="a-input-group " data-ng-show="time_flexibility">
                                            <label>Desde (vuelta)</label>
                                            <input type="text" class="a-date" min-date="minDate" readonly="true" datepicker-popup="yyyy/MM/dd" ng-model="from_day_end" is-open="openedFive" /><span class="fa fa-calendar-o" data-ng-click="openFive($event)"></span>
                                        </div>
                                        <div class="a-input-group " data-ng-show="time_flexibility">
                                            <label>Hasta (vuelta)</label>
                                            <input type="text" class="a-date" min-date="minDate" readonly="true" datepicker-popup="yyyy/MM/dd" ng-model="until_day_end" is-open="openedSix" /><span class="fa fa-calendar-o" data-ng-click="openSix($event)"></span>
                                        </div>
                                        <div class="a-input-group a-hora" data-ng-show="time_flexibility">
                                            <label>Desde (vuelta)</label>
                                            <div class="">
                                                <input type="time"  class="a-time" data-ng-model="from_hour_end"><span class="fa fa-clock-o"></span>
                                            </div>
                                        </div>
                                        <div class="a-input-group " data-ng-show="time_flexibility">
                                            <label>Hasta (vuelta)</label>
                                            <div class="">
                                                <input type="time" class="a-time" data-ng-model="until_hour_end"><span class="fa fa-clock-o"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="a-input-group a-patente">
                                        <label>Mostrar patente</label>
                                        <input type="checkbox" data-ng-model="patent_show" class="a-patente-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <footer class="a-footer-create">
                        <button class="a-btn" >Publicar viaje</button>
                        <!-- ACTIVAR
                        <button class="a-btn" >Publicar viaje - ${{price_aventon}}</button-->
                    </footer>

          
                </form>
            </article>
        </div>
    </div>
</section>