<section data-ng-controller="AventonViewController" class="a-newaventon" data-ng-init="initView()"  >
    <header class="a-header-img">

    </header>
    <div class="container" style="font-size:20px" data-ng-show="!aventon">
        <h1>El aventon que usted quiere ver ya no existe.  </h1>
    </div>
    <div class="container" data-ng-show="aventon">
        <div class="row">
            <article class="col-md-10 col-md-offset-1 a-newaventon-wrapp">
                <div name="aventonForm" class="form-horizontal a-aventon-form" novalidate>
                    <header>
                        <div class="a-min-avatar hidden-sm hidden-lg hidden-md">
                            <span class="a-sprite sprite-avatar"></span>
                        </div>
                        <div class="a-user hidden-xs">

                            <a href="#" class="a-avatar">
                                <img style="max-width:100%" class="img-circle" data-ng-src="{{user.imageProfile||'modules/core/img/avatar.png'}}" class="a-sprite sprite-avatar" ></img>
                            </a>
                            <div class="a-user-info-wrapp">
                                <div class="a-stars">
                                    <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 1" class="fa fa-star"></span>
                                    <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 2" class="fa fa-star"></span>
                                    <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 3" class="fa fa-star"></span>
                                    <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 4" class="fa fa-star"></span>
                                    <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 5" class="fa fa-star"></span>
                                </div>
                                <h4>Nivel de confianza
                                    <span data-ng-show="aventon.user.review_point != '0'">{{(aventon.user.review_point / aventon.user.review_count)*2}}</span>
                                </h4>
                                <div data-ng-show="aventon.user.review_point == '0'"><h3>No existen calificaciones para este usuario</h3></div></h4>
                            </div>
                        </div>
                        <div class="a-create-header">
                            <h1>Viaje a {{aventon.end_place}}</h1>
                        </div>
                    </header>
                    <fieldset >
                        <div class="a-form-wrapp-1">
                            <div class="row">
                                <div data-ng-show="error" class="col-md-12 text-danger">
                                    <strong data-ng-bind="error"></strong>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-6 a-punto-partida">

                                    <div class="a-punto-wrapp">
                                        <h5><span class="fa fa-map-marker"></span> Punto de partida</h5>
                                        <div class="a-input-group a-partida">
                                            <label>Lugar</label>
											<p class="a-result">{{aventon.start_place}}</p>
                                        </div>
                                        <div class="a-input-group a-dia" >
                                            <label>Día</label>
											<p class="a-result">{{aventon.start_day | date:'MM/dd/yyyy'}}</p>
                                        </div>
                                        <div class="a-input-group a-hora" >
                                            <label>Horario</label>
											<p class="a-result">{{aventon.start_hour}}</p>
										</div>
                                    </div>
                                </div>
                                <span class="a-sprite sprite-arrow a-arrow hidden-xs"></span>
                                <div class="col-md-6 col-xs-12 col-sm-6 a-punto-llegada">
                                    <div class="a-punto-wrapp">
                                        <h5><span class="fa fa-map-marker"></span> Punto de llegada</h5>
                                        <div class="a-input-group a-llegada">
                                            <label>Lugar</label>
											<p class="a-result">{{aventon.end_place}}</p>
                                        </div>
                                        <div class="a-opcional">
                                            <div class="a-input-group a-dia" >
                                                <label>Día</label>
												<p class="a-result">{{aventon.end_dat | date:'MM/dd/yyyy'}}</p>

                                            </div>
                                            <div class="a-input-group a-hora" >
                                                <label>Horario</label>
												<p class="a-result">{{aventon.end_hour}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="a-form-wrapp-2">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <h2>Recorrido</h2>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div  class="a-map-wrapp ">
                                                <div class="a-map" id="map-canvas"></div>
                                            </div>
                                        </div>
                                        <div class="a-map-points col-md-4">
                                            <p>Puntos de vía donde va a pasar:</p>
                                            <ul class="a-puntos">
                                                <li class="largada"><span class="icono fa fa-map-marker start"></span>
													<span class="a-result">{{aventon.start_place}}</span>
												</li>

                                                <li class="a-point" data-ng-repeat="place in aventon.places_list">
                                                    <span class="icono fa fa-dot-circle-o"></span> {{city}}
													<span class="a-result">{{place}}</span>
                                                </li>
                                              
                                                <li class="llegada"><span class="icono fa fa-map-marker end"></span>
													<span class="a-result">{{aventon.end_place}}</span>
												</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12 a-other-info">
                                    <div class="a-input-group a-asientos">
                                        <label>Asientos disponibles</label>
										<p class="a-result">{{aventon.seats_available}}</p>
                                    </div>
                                    <div class="a-input-group a-more">
                                        <label>Datos adicionales</label>
										<p class="a-result">{{aventon.more_info}}</p>
                                    </div>
                                    <div class="a-input-group a-recurrent">
                                        <label>Viaje frecuente</label>
										<p class="a-result" data-ng-show="aventon.recurrent_travel">Si - {{aventon.frequency}}</p>
                                        <p class="a-result" data-ng-show="!aventon.recurrent_travel">No</p>
									</div>
                                    <div class="a-input-group a-recurrent" data-ng-show="aventon.time_flexibility">
                                        <label>Flexibilidad de día y hora</label>
                                        <p class="a-result">Viaje de ida</p>
                                        <p class="a-result">Desde  {{aventon.from_day | date:'dd/MM/yyyy'}} hasta {{aventon.until_day | date:'dd/MM/yyyy'}}</p>
                                        <p class="a-result">Desde  {{aventon.from_hour}} hasta {{aventon.until_hour}} </p>
                                        <p class="a-result">Viaje de vuelta</p>
                                        <p class="a-result">Desde  {{aventon.from_day_end | date:'dd/MM/yyyy'}} hasta {{aventon.until_day_end | date:'dd/MM/yyyy'}}</p>
                                        <p class="a-result">Desde  {{aventon.from_hour_end}} hasta {{aventon.until_hour_end}} </p>
                                    </div>
                                    <div class="a-input-group a-recurrent" data-ng-show="aventon.patent_show">
                                        <label>Patente</label>
                                        <p class="a-result" data-ng-show="aventon.patent_show && aventon.user.patent">{{aventon.user.patent}}</p>
                                        <p class="a-result" data-ng-show="aventon.patent_show && !aventon.user.patent">No registra</p>
                                    </div>
                                    <div class="a-input-group a-recurrent">
                                        <label>Precio por persona</label>
                                        <p data-ng-show="aventon.private_price">Se define por privado</p>
                                        <p data-ng-show="!aventon.private_price">${{aventon.seat_price}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <footer class="a-footer-create" data-ng-show="authentication.user._id != aventon.user._id" data-ng-controller="DemandsController">
                        <button class="a-btn" data-ng-click="create(aventon)" ><span class="a-sprite sprite-auto"></span> Viajar juntos </button>
                    </footer>
                </div>
            </article>
        </div>

        <!-- AAA -->

    <div class="container" style="margin-top:10%" data-ng-show="aventon">
        <div class="row">
            <article class="col-md-9 col-md-offset-1 a-newaventon-wrapp">
                <div name="aventonForm" class="form-horizontal a-aventon-form">
                    <fieldset >
                        <div class="a-form-wrapp-2">
                            <div class="row">

                                <div class="col-md-12 col-xs-12">
                                    <h2>Consultas</h2>
                                </div>
                                <div class="col-md-12 col-xs-12 a-other-info"> 
                                    <div data-ng-show="!consultFinished && authentication.user._id != aventon.user._id" class="control-group" style="margin-bottom:4%" data-ng-show="authentication">
                                        <textarea data-ng-model="question" style="width:70%; height:60px"></textarea></br>
                                        <input type="button" data-ng-click="saveComment()" value="Consultar">
                                    </div>


                                    <div data-ng-repeat="con in aventon.consultations | orderBy:'date_question'">
                                        <div data-ng-show="con.state == 'visible' || authentication.user.role=='admin'">
                                            <p style="font-weight:bold; margin-bottom:2% ">{{con.user_name}} - {{con.date_question | date:'dd/MM/yyyy HH:mm'}}</p>
                                            <p >{{con.question}}</p>
                                            <div data-ng-show=" authentication.user.role=='admin'">
                                                <br>
                                                <button type="button" data-ng-show="con.state == 'check' || con.state == 'blocked'" class="btn btn-success" data-ng-click="passVisible(con._id)">Mostrar</button>
                                                <button type="button" data-ng-show="con.state == 'check'" class="btn btn-warning" data-ng-click="passBlocked(con._id)">Bloquear</button>
                                                <button type="button" data-ng-show="con.state == 'visible'"  class="btn btn-danger" data-ng-click="passBlocked(con._id)">Ocultar</button>
                                            </div>
                                            <div data-ng-show="con.responded">
                                                <p style="font-weight:bold; margin-bottom:2% ">Respuesta - {{con.date_answer | date:'dd/MM/yyyy HH:mm'}}</p>
                                                <p >{{con.answer}}</p>
                                            </div>
                                            
                                            <form data-ng-show="authentication.user._id == aventon.user._id && !con.responded" class="control-group" style="margin-bottom:4%" data-ng-show="authentication" data-ng-submit="responseQuestion(con._id)">
                                                <textarea data-ng-model="answer" id="answer" name="answer" style="width:70%; height:60px"></textarea></br>
                                                <input type="submit" value="Responder">
                                            </form>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </article>
        </div>
    </div>
        <!-- BBB -->
    </div>
</section>

