<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>

	<p>Estimado señor/a,</p>
	<br>
	<p>
		Usted ha solicitado una suscripción como usuario de newsletter de {{appName}}
	</p>
	<p>Por favor ingrese al siguiente link para activar su cuenta:</p>
	<p>{{url}}</p>
	<strong>Si usted no solicitó esta suscripción, puede ignorar este correo electrónico.</strong>
	<br>
	<br>
	<p>El equipo de soporte de {{appName}}</p>
</body>

</html>