<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>

	<p>Estimado {{name}},</p>
	<br>
	<p>
		Usted tiene una petición para recuperar la contraseña de su cuenta en {{appName}}
	</p>
	<p>Por favor ingrese al siguiente link:</p>
	<p>{{url}}</p>
	<strong>Si usted no hizo esta petición, puede ignorar este correo electrónico.</strong>
	<br>
	<br>
	<p>El equipo de soporte de {{appName}}</p>
</body>

</html>