<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>
	<p>Estimado {{name}},</p>
	<p></p>
	<p>Le confirmamos que su contraseña ha sido cambiada satisfactoriamente.</p>
	<br>
	<br>
	<p>El equipo de soporte de {{appName}}</p>
</body>

</html>