<section data-ng-controller="DemandsAventonController" class="a-newaventon" data-ng-init="initCreate()">
    <header class="a-header-img">

    </header>
    <div class="container">
        <div class="row">
            <article class="col-md-10 col-md-offset-1 a-newaventon-wrapp">
                <form name="aventonForm" class="form-horizontal a-aventon-form" data-ng-submit="create()" >
                    <header>
                        <div class="a-min-avatar hidden-sm hidden-lg hidden-md">
                            <span class="a-sprite sprite-avatar"></span>
                        </div>
                        <div class="a-user hidden-xs">

                            <a href="#" class="a-avatar">
                                <img style="max-width:100%" class="img-circle" data-ng-src="{{user.imageProfile||'modules/core/img/avatar.png'}}" class="a-sprite sprite-avatar" ></img>
                            </a>
                            <div class="a-user-info-wrapp">
                                <div class="a-stars">
                                    <span data-ng-show="(user.review_point / user.review_count) >= 1" class="fa fa-star"></span>
                                    <span data-ng-show="(user.review_point / user.review_count) >= 2" class="fa fa-star"></span>
                                    <span data-ng-show="(user.review_point / user.review_count) >= 3" class="fa fa-star"></span>
                                    <span data-ng-show="(user.review_point / user.review_count) >= 4" class="fa fa-star"></span>
                                    <span data-ng-show="(user.review_point / user.review_count) >= 5" class="fa fa-star"></span>
                                </div>
                                
                                <h4>Nivel de confianza
                                    <span data-ng-show="user.review_point != '0'">{{(user.review_point / user.review_count)*2}}</span>
                                </h4>
                                <div data-ng-show="user.review_point == '0'"><h3>No existen calificaciones para este usuario</h3></div></h4>
                            </div>
                        </div>
                        <div class="a-create-header">
                            <h1>Publicar Pedido de Viaje</h1>
                            <h3>Viaja compartiendo momentos y gastos de la forma más segura</h3>
                        </div>
                    </header>
                    <fieldset >
                        <div class="a-form-wrapp-1">
                            <div class="row">
                                <div data-ng-show="error" class="col-md-12 text-danger">
                                    <strong data-ng-bind="error"></strong>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-6 a-punto-partida">

                                    <div class="a-punto-wrapp">
                                        <h5><span class="fa fa-map-marker"></span> Punto de partida</h5>
                                        <div class="a-input-group a-partida">
                                            <label>Lugar</label>
                                            <google-places location=direccion identificador="1" id="google_places_ac1" callback="doubleControl()"  ng-model="dir" type="text" class="a-place" />
                                        </div> 
                                        <div class="a-input-group a-dia" >
                                            <label>Día</label>
                                            <div class="a-input-g">
                                                <input type="text" class="a-date" min-date="minDate" readonly="true" datepicker-popup="yyyy/MM/dd" ng-model="start_day" is-open="opened" /><span class="fa fa-calendar-o" data-ng-click="openFirst($event)"></span>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="a-sprite sprite-arrow a-arrow hidden-xs"></span>
                                <div class="col-md-6 col-xs-12 col-sm-6 a-punto-llegada">
                                    <div class="a-punto-wrapp">
                                        <h5><span class="fa fa-map-marker"></span> Punto de llegada</h5>
                                        <div class="a-input-group a-llegada">
                                            <label>Lugar</label>
                                            <google-places location=direcciondos identificador="2" id="google_places_ac2" type="text" class="a-place" ng-model="dir2" callback="doubleControl()" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="a-form-wrapp-2">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 a-other-info">
                                    <div class="a-input-group a-asientos">
                                        <label>Ingresa un comentario</label>
                                        <textarea style="width:85%; height:200px" data-ng-model="comment"> </textarea>
                                    </div>
                                    <div class="a-input-group">
                                        <label>Tipo de equipaje</label>
                                        <input type="text" data-ng-model="luggage_type">
                                    </div>
                                    <div class="a-input-group a-recurrent">
                                        <label>Viaje frecuente</label>
                                        <input type="checkbox" data-ng-model="recurrent_travel" class="a-recurrent-input" >
                                        <select data-ng-model="frequency" data-ng-show="recurrent_travel">
                                            <option value="diario" data-ng-selected="true">Diario</option>
                                            <option value="semanal">Semanal</option>
                                            <option value="mensual">Mensual</option>
                                        </select>
                                    </div>
                                    <div class="a-input-group">
                                        <label>Día y hora son flexibles </label>
                                        <input type="checkbox" data-ng-model="time_flexibility" class="a-recurrent-input" >
                                        <div class="a-input-group " data-ng-show="time_flexibility">
                                            <label>Desde</label>
                                            <input type="text" class="a-date"  min-date="minDate" datepicker-popup="yyyy/MM/dd" ng-model="from_day" is-open="openedThree" /><span class="fa fa-calendar-o" data-ng-click="openThird($event)"></span>
                                        </div>
                                        <div class="a-input-group " data-ng-show="time_flexibility">
                                            <label>Hasta</label>
                                            <input type="text" class="a-date" min-date="minDate" datepicker-popup="yyyy/MM/dd" ng-model="until_day" is-open="openedFour" /><span class="fa fa-calendar-o" data-ng-click="openFourth($event)"></span>
                                        </div>
                                        <div class="a-input-group a-hora" data-ng-show="time_flexibility">
                                            <label>Desde</label>
                                            <div class="">
                                                <input type="time"  class="a-time" data-ng-model="from_hour"><span class="fa fa-clock-o"></span>
                                            </div>
                                        </div>
                                        <div class="a-input-group " data-ng-show="time_flexibility">
                                            <label>Hasta</label>
                                            <div class="">
                                                <input type="time" class="a-time" data-ng-model="until_hour"><span class="fa fa-clock-o"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <footer class="a-footer-create">
                        <button class="a-btn">Publicar viaje</button>
                    </footer>

          
                </form>
            </article>
        </div>
    </div>
</section>