.a-faq-wrapp {
  .a-header-img {
    background-image: image-url("faq-bg.jpg");
    height: 125px;
    h1 {
      margin-top: 30px;
      font-size: 4em;
      text-indent: inherit;
      color: white;
      @include inline-block();
      background: rgba(black,0.3);
      padding: 10px;
    }
  }
  .a-faq-nav {
    margin-bottom: 20px;
    border: 1px solid $nc1h;
    padding: 10px 20px;
    border-top: 3px solid $mc1;
    font-size: 1.4em;
    line-height:1.6em ;

    h1 {
      margin-top: 5px;
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid $nc1h;
      font-family: "Cabin Regular", sans-serif;
      font-size: 1.4em;
    }
    li + li {
      margin-top: 5px;
    }
  }
  .a-answer-list {
    margin-bottom: 30px;
    li + li {
      margin-top: 20px;
    }
    h1 {
      font-family: "Cabin Bold", sans-serif;
      font-size: 3em;
      color: $mc1;
      cursor: pointer;
      margin-bottom: 10px;
      &:hover, &:active {
        color: $mc1d;
      }
    }
    p {
      font-size: 1.4em;
      line-height: 1.6em;
      & + p {
        margin-top: 15px;
      }
      &:first-child {
        border-top: 1px solid $nc1h;
        padding-top: 10px;
      }
    }
  }
}
