html{
  font-size:16px;
  font-family:"Open Sans Regular", sans-serif;
  background:$bc1;
  color:$nc1;
}
body{
  background:$bc1;
  font-size:62.5%;
}
.a-main-wrapp{
  margin-top:45px;
}
.a-header-img{
  margin-top:50px;
  height:185px;
  background-color:#ccc;
  margin-bottom:20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  h1{
    text-indent: -99999px;
  }
  @media screen and (max-width:768px) {
    height:110px;
  }
}
a{
  color:$mc1;
  &:hover{
    color:$mc1d;
  }
  &:visited, &:active, &:focus{
    color:$mc1d;
  }
}
.a-btn{
  @include btn-creator();
}
.a-dropdown-menu{
  &.a-dropdown-menu-noty {
    @media screen and (min-width: 768px) {
      min-width: 420px;
      margin-right: -50px;
    }
    .a-notify{
      .a-notify-wrapp {
        position: relative;
        padding-left: 50px;
        padding-right:65px;
        min-height: 50px;
        p {
          font-family: "Cabin Regular", sans-serif;
          font-family: 14.5px;
          line-height: 18px;
          margin-bottom: 5px;
        }
        .a-action {
          font-size: 12px;
          padding-right:10px;
        }

        button {
          padding: 3px 8px;
        }
        time {
          width: 60px;
          position: absolute;
          top: 2px;
          right: 0;
          font-size: 10px;
          color: lighten($nc1,10%);
          font-style: italic;
        }
        .a-avatar-notify {
          position: absolute;
          left: 3px;
          top: 4px;
        }
      }
    }
  }
  margin-top:12px !important;
  @include box-shadow(0 0 0 transparent);
  &:after{
    content:" ";
    position:absolute;
    display:block;
    width:0;
    height:0;
    top:-9px;
    right:60px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 10px 9px;
    border-color: transparent transparent #ffffff transparent;
  }
  &:before{
    content:" ";
    position:absolute;
    display:block;
    width:0;
    height:0;
    top:-10px;
    right:60px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 10px 9px;
    border-color: transparent transparent rgba(black,0.14902) transparent;
  }
}



.alert {
  margin-bottom: 0;
  font-size:1.5em;
  text-align: center;
  font-family: "Cabin Bold", sans-serif;
}
