$header-height:45px;

.a-header{
  background-color:$mc1;
  background-image: image-url("background-header.png"),image-url("background-header.png");
  padding:0px;
  height:$header-height;
  min-height:$header-height;
  border:0px solid transparent;
  @include box-shadow(inset 0px -4px 3px -2px $mc1);
  border-right: 6px solid $mc2;
  .a-nav{
    .no-notification{
      text-align:center;
      line-height: 1.2em;
      font-family: "Cabin Bold", sans-serif;
      margin:8px 0px;
      color: lighten($nc1,20%);
    }
    background:$mc1;
    font-size:1.4em;
    .a-publish{
      @include btn-creator($bg:$mc1d);
      margin-left:10px;
      margin-top:7px;
      font-family:"Cabin Bold",sans-serif;
      font-size:1.05em;
      padding:6px 15px;
    }
    @media screen and (max-width:768px) {
      > li{

        height:auto;
        min-height:0;
        > a{
          height:auto;
          min-height:0 !important;
        }
      }
    }
    > li{
      height:$header-height;
      min-height:$header-height;
      &.open{
        > a{
          background:$mc1d;
        }
      }
      > a{
        padding-top:12px;
        font-family: "Open Sans Bold", sans-serif;
        height:$header-height;
        min-height:$header-height;
        color:white;
        &:hover, &:active, &:focus, &:visited {
          background:$mc1d;
          .a-border{
            border:1px solid transparent !important;
          }
        }
      }
    }
    .a-notification{

      a{
        padding-left:0px;
        padding-right:0px;
        .a-border{
          border-right:1px solid $mc1h;
          border-left:1px solid $mc1h;
          padding-left:10px;
          padding-right:10px;
          .a-sprite{
            position:relative;
            top:-1px;
            margin-left:3px;
          }
        }
      }

        li{
          padding:10px 10px;
          & + li{
          // padding-top: 10px;
            border-top: 1px solid $nc1h;
          }

      }
    }
  }

  @media screen and (max-width:768px){
    .navbar-collapse{
      background:$mc1d;
      margin-right:-22px;
      @include box-shadow(inset 0px 6px 6px -3px darken($mc1d,5%), inset 0px -6px 6px -3px darken($mc1d,5%));
      border-bottom:2px solid $mc1;
      a{
        border:0px solid transparent !important;
      }
      .a-nav-login {
        li{
          background:$mc1d;
        }
        &:hover, &:active, &:focus,C {
          li {
            background:$mc1d;
          }
        }
      }
    }
  }
  .navbar-header, nav{
    height:$header-height;
    min-height:$header-height;
  }

  .a-logo{
    padding:0px 15px 0px 15px;
    font-size:0px;
    min-height:$header-height;
    height:$header-height;
    line-height:$header-height - 4px;
  }
  .a-nav-login{
    &:hover, &:active, &:focus, &:visited {
      li{
        a {
          border-right: 1px solid transparent !important;
        }
      }
    }
    li{
      background-color:$mc1;
      padding: 12px 0px 0px 0px;
      height:$header-height;
      min-height:$header-height;
      &:hover, &:active, &:focus, &:visited{
        background-color:$mc1d;
      }
      &:first-child{
        a{
          border-right:1px solid lighten($mc1h,0%);
        }
      }
      a{
        border-right: 1px solid transparent ;
        padding:0px 8px 0px 8px;
        color:white;
        font-size:1.4em;
        font-family:"Open Sans Bold", sans-serif;
        background:none;
        &:hover, &:active, &:focus, &:visited{
          background-color:none;
        }

      }
    }

  }
  .navbar-toggle{
    margin-top:7px;
    @include btn-creator($bg: $mc1d);
    padding:6px;
    .icon-bar{
      background:white;
      @include box-shadow(0px -1px 0px rgba($mc1,0.5));
    }
  }

}

.a-faq {
  @include inline-block();
  height:45px;
  padding: 15px 15px;
  background: $mc1;
  font-family: "Open Sans Bold", sans-serif;
  color: white !important;
  font-size: 1.4em;
  margin-left: 20px;
  text-decoration: none !important;
  &:hover, &:active {
    background: $mc1d;
  }
}
