.a-newaventon{
  .a-header-img {
    background-image: image-url('newaventon-bg.jpg');
  }
  .a-aventon-form{
    margin-top:-120px;
    margin-bottom:30px;
    border:1px solid darken($nc1h,5%);
    border-top:4px solid $mc1;
    @include border-bottom-radius(10px);
    position:relative;
    @include box-shadow(0px 0px 25px rgba(black,0.2));
    background-color:white;
    font-size:1.4em;
    .a-form-wrapp-1{

      .a-result {
        padding:  8px 0px 5px 0px;

      }

      position:relative;
      padding:10px 40px;
      padding-left:130px;
      @media screen and (max-width:768px) {
        padding-left:40px;
      }
      min-height:212px;
      margin-bottom:10px;
      border-bottom:1px solid darken($nc1h,5%);
      .a-arrow{
        position:absolute;
        left:50%;
        top:50%;
        margin-top:-50px;
        margin-left:5px;
      }
      .a-define-date{
        @include inline-block();
        margin-left:60px;
      }
      .a-no-define-date{
        float:right;
        @include inline-block();
        font-size:0.9em;
        margin-right:21%;
      }
      h5{
        font-family: "Open Sans Bold", sans-serif;
        font-size:1.4em;
        color:$mc1;
        padding-left:40px;
        margin-bottom:20px;
        .fa{
          font-size:1.2em;
          margin-right:5px;
        }
      }
      .a-punto-partida{
        h5{
          .fa{
            color:$mc1d;
          }
        }
      }
      .a-punto-llegada{
        h5{
          .fa{
            color:$llegadaColor;
          }
        }
      }
      $left-width:50px;
      .a-input-group{
        label{
          width:$left-width;
          padding-top:8px;
        }
        padding-left:$left-width + 10px;
        .a-input-g, > input{
          width:75%;
          max-width:75%;
        }
      }
    }
    .a-form-wrapp-2{
      padding:10px 60px;
      h2{
        font-family: "Open Sans Bold", sans-serif;
        font-size:1.4em;
        color:$mc1;
        margin-bottom:20px;
      }
      .a-map-wrapp{
        position:relative;
        margin-bottom:30px;
        padding:8px;
        background:rgba($mc1h,0.5);
        height:300px;
        .a-msg{
          position:absolute;
          z-indez:1000;
          display:block;
          width:180px;
          padding:14px;
          padding-right:20px;
          left:0px;
          bottom:30px;
          font-size:0.9em;
          line-height: 1.2em;
          background:rgba(white,0.5);
          color:$mc1d;
          font-family: "Open Sans Regular", sans-serif;

          a{
            position:absolute;
            top:12px;
            right:10px;
          }
        }
        .a-map{
          background:$nc1h;
          width:100%;
          height:100%;
        }
      }
      .a-map-points{
        p{
          margin-bottom:12px;
        }
        .a-input-g{
          width:100%;
          @include inline-block();
          @include border-radius(3px);
          border:1px solid darken($nc1h,20%);
          position:relative;
          padding-right:33px;
          margin-bottom:18px;
          input[type="text"]{
            background:none;
            border:0px solid transparent;
            padding:6px 10px;
            width:100%;
            max-width:250px;
            @include placeholder{
              line-height: 20px;
            }
          }
          .fa{
            position:absolute;
            top:0px;
            right:10px;
            border-left:1px solid darken($nc1h,20%);
            padding-left:10px;
            height:100%;
            line-height: 31px;
          }
        }
        .a-puntos{
          margin-bottom:40px;
          overflow: auto;
          max-height: 207px;
          li{
            margin-bottom:8px;
            position:relative;
            padding-left:25px;
            padding-right:40px;
            font-size:1.05em;
            &:hover{
              .a-actions{
                display: block;
              }
            }
            .a-actions{
              position:absolute;
              right:5px;
              top:5px;
              display:none;
              .fa{
                color:$nc1;
                margin-left:2px;
              }
              .fa-edit{
                position:relative;
                top:1px;
              }
            }
            .icono{
              position:absolute;
              left:0px;
              top:2px;
              color:blue;
            }
            &.llegada{
              .icono{
                color:$llegadaColor;
              }
            }
            &.largada{
              .icono{
                color:$mc1d;
              }
            }

            .fa-map-marker{
              left:2px;
            }
          }
        }
      }
    }
    header{
      .a-min-avatar{
        position:absolute;
        left:30px;
        top:25px;
      }
      .a-user{
        position:absolute;
        top:-50px;
        left:-83px;
        background-image: image-url('medalla/8.png');
        width:166px;
        height:331px;
        .a-avatar{
          display:block;
          padding:9px 9px 9px 9px;
        }
        .a-user-info-wrapp{
          text-align:center;
          padding-top:5px;
          .a-stars{
            @include inline-block();
            color:$mc2;
            font-size:0.9em;
            border-bottom:1px solid $mc2;
            padding:5px 5px;
            margin-bottom:5px;
          }
          h4{
            font-size:0.9em;
            font-family: "Cabin Regular", sans-serif;
            span{
              display:block;
              font-family: "Open Sans Light", sans-serif;
              font-size:3em;
              @include text-shadow(0 2px 1px rgba($mc1d,0.5));

            }
          }
        }
      }
      border-bottom:1px solid $mc2;
      padding:30px 0px 30px 130px;
      margin-bottom:20px;
      h1{
        font-family: "Cabin Regular", sans-serif;
        font-size:2.4em;
        font-style:italic;
        margin-bottom:7px;
      }
      h3{
        font-family: "Cabin Regular", sans-serif;
        font-size:1.15em;
        font-style:italic;
      }
    }
    footer{
      @include border-bottom-radius(10px);
      background:lighten($nc1h,3%) image-url("background-footer.png");
      padding:13px 20px;
      .a-btn{
        float:right;
        font-family: "Cabin Bold", sans-serif;
        font-size:1.25em;
        min-width: 200px;
      }
      &:after{
        content:" ";
        display:table;
        clear:both;
      }
    }
  }


  $left-label-width : 120px;
  .a-input-group{
    margin-bottom:12px;
    padding-left:$left-label-width+10;
    position:relative;
    > input[type="checkbox"]{
      position:relative;
      top:-3px;
    }
    label{
      position:absolute;
      left:0px;
      top:0px;
      @include inline-block();
      width:$left-label-width;
      text-align:right;

    }
    > input[type="text"], input[type="number"]{
      @include border-radius(3px);
      border:1px solid darken($nc1h,20%);
      padding:6px 10px;
      width:100%;
      max-width:250px;
      @include placeholder{
        line-height: 20px;
      }

    }
    .a-input-g{
      width:100%;
      @include inline-block();
      @include border-radius(3px);
      border:1px solid darken($nc1h,20%);
      position:relative;
      padding-right:33px;
      input[type="text"]{
        background:none;
        border:0px solid transparent;
        padding:6px 10px;
        width:100%;
        max-width:250px;
        @include placeholder{
          line-height: 20px;
        }
      }
      .fa{
        position:absolute;
        top:0px;
        right:10px;
        border-left:1px solid darken($nc1h,20%);
        padding-left:10px;
        height:100%;
        line-height: 31px;
      }
    }
  }
  .a-asientos{
    input{
      width:100px !important;
    }
  }
  .a-more{
    label{
      padding-top:10px;
    }
    .a-result {
      padding-top: 10px;
    }
  }
}
.a-result {
  font-family: "Open Sans Bold", sans-serif;
}
.a-other-info {
  .a-result {
    min-height:24px;
  }
}
