.a-profile {
  .a-header-img {
    height: auto;
    background-image: image-url("profile-bg.jpg");
    border-bottom: 1px solid $mc2d;
  }
}

.a-profile-header {
  background: rgba(white, 0.5);
  padding: 20px 0px;
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
}

.a-profile-text {
  @media screen and (min-width: 768px) {
    width: 50%;
  }
  h2{
    font-family: "Cabin Bold", sans-serif;
    color: $nc1;
    font-size: 3em;
    margin-bottom: 2px;
    text-transform: capitalize;
    @include text-shadow(0px 1px 0px white);
  }
  h3{
    @include text-shadow(0px 1px 0px white);
    font-family: "Cabin Bold", sans-serif;
    color: $mc1;
    font-size: 1.7em;
    margin-bottom: 12px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba($nc1,0.2) ;
    @include box-shadow(0px 1px 0px rgba(white,0.5));
  }
  .a-verified {
    li {
      font-size: 1.3em;
      margin-bottom: 5px;
      .fa {
        color: $mc1;
      }
    }
  }
  button {
    margin-top:8px;
  }
}

.a-profile-header-wrapp {
  @media screen and (min-width: 768px) {
    padding-left: 150px;
  }
  @media screen and (min-width: 992px) {
    padding-left: 100px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 80px;
  }
}

.a-badget {
  position: absolute;
  top: -25px;
  left:-25px;
  background: transparent image-url("badge.png") no-repeat center bottom;
  padding: 0px 20px;
  height: 245px + 100px;
  text-align: center;
  width: 141px;

  .a-avatar {
    width: 160px;
    height: 160px;
    @include border-radius(50%);
    overflow: hidden;
    border : 8px solid rgba($mc1, 0.5);
    position: relative;
    left: -30px;
    margin-bottom: 10px;
    img{
      position: relative;
      left: 50%;
      height: 100%;
      width : auto;
      @include transform(translate(-50%,0));
    }
  }

  .a-stars {
    padding-bottom: 5px;
    border-bottom: 1px solid $nc1h;
    margin-bottom:10px;
  }

  h4 {
    strong {
      display:block;
      font-size: 4em;
      color: darken($mc1d,8%);
      font-family: "Open Sans Light", sans-serif;
      @include text-shadow(0px 1px 2px rgba($mc1d,0.5));
    }
  }
}

.a-profile-nav-wrapp {
  @media screen and (min-width: 768px) {
    padding-left: 120px;
  }
  @media screen and (min-width: 992px) {
    padding-left: 130px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 110px;
  }
}

.a-profile-nav {
  display: table;
  table-layout: fixed;
  width: 100%;
  background: white;
  margin-top: -20px;
  padding: 5px 0px;
  margin-bottom: 35px;
  font-size: 1.4em;
  @include box-shadow(0px 1px 0px 0px $mc2d, 0px 4px 0px 0px $mc2, 0px 0px 0px 1px $mc2d , 0px 4px 0px 1px $mc2d );

  ul {
    display: table-row;

    li {

      & + li {
        border-left : 1px solid $mc2d;
      }

      padding: 10px 5px;
      display: table-cell;
      text-align: center;
      position: relative;

      &.active {
        &:before {
          content: " ";
          width: 0;
          height: 0;
          display: block;
          position: absolute;
          border-left: 13px solid transparent;
          border-right: 13px solid transparent;
          border-top: 13px solid $mc2d;
          top: 40px;
          left: 50%;
          margin-left: -13px;
        }
        &:after {
          content: " ";
          width: 0;
          height: 0;
          display: block;
          position: absolute;
          border-left: 13px solid transparent;
          border-right: 13px solid transparent;
          border-top: 13px solid white;
          top: 38px;
          left: 50%;
          margin-left: -13px;
        }
      }
      a {
        color: $nc1;
        &:hover, &:active {
          color: $mc2d;
          text-decoration: none;
        }
      }
    }
  }
}
.a-comming-soon {
  font-size: 0.8em;
  color:white;
  background:$mc1;
  @include border-radius(4px);
  @include inline-block();
  padding: 5px;
}

.a-profile-content-wrapp {
  @media screen and (min-width: 768px) {
    padding: 0px 0px;
  }
  @media screen and (min-width: 992px) {
    padding: 0px 0px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0px 10px;
  }
  h1 {
    font-family: "Open Sans Light", sans-serif;
    font-size: 2.4em;
    padding-bottom: 8px;
    border-bottom: 1px solid $nc1h;
    @include box-shadow(0px 1px 0px white);
    margin-bottom: 20px;
  }
}

.a-settings {
  nav {
    font-size: 1.3em;
    @media screen and (min-width: 768px) {
      margin-top: 50px;
    }
    li {
      & + li {
        margin-top: 10px;
      }

      a {
        color: $nc1;
        &:hover, &:active {
          color: $mc2d;
          text-decoration: none;
        }
      }
    }
  }
}

.a-reviews {
  li {
    min-height:100px;
    margin-bottom:20px;
    border: 1px solid $nc1h;
    padding: 15px 20px;
    position: relative;
    padding-left : 110px;
    .sprite-avatar {
      position:absolute;
      left: 15px;
      top: 20px;
    }
    .a-review-text {
      h2 {
        font-family: "Cabin Bold", sans-serif;
        font-size:1.7em;
        margin-bottom: 3px;
        .a-vote {
          font-size: 0.8em;
          color: darken($nc1h,50%);

        }
        time {
          font-size: 0.8em;
          font-family: "Open Sans Regular", sans-serif;
          font-style: italic;
          color: darken($nc1h,20%);
        }
      }
      h3 {
        font-size:1.3em;
        font-family: "Cabin Regular", sans-serif;

        color: $mc1;
        margin-bottom: 10px;
        .s-stars{
          color: $mc2;
        }
      }
      p {
        font-size: 1.3em;
        color: darken($nc1h,60%);
        line-height: 1.5em;
      }
    }
  }
}

.a-messages-list {
  font-size: 1.4em;
  tbody{
    tr {
      &:hover{
        background-color: $mc1;
        a {
          color:white;
        }
      }

    }
  }
  a {
    color: $nc1;
    &:hover, &:active {
      text-decoration: none;
    }
  }
}

.a-message {
  time {
    padding-top:10px;
    font-size: 0.6em;
    font-family: "Open Sans Regular", sans-serif;
    color: darken($nc1h,30%);
  }
  .a-message-description {
    font-size: 1.5em;
    line-height: 1.6em;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid $nc1h;
  }

}

.a-message-respons {
  font-size: 1.4em;
  margin-bottom: 60px;
  textarea {
    display: block;
    width: 100%;
    height: 70px;
    vertical-align: top;
  }
  button {
    margin-top: 10px;
    font-size: 1.4em;
  }
}

.a-mis-viajes {
  .a-aventon-viaje {
    border-top: 3px solid $mc1 !important;
  }
  .a-recorrido {
    margin-top: 30px;
  }
  .a-viaje-content {
    h3 {
      .sprite {
        margin-right: 10px;
      }
      font-size: 1.6em;
      font-family: "Cabin Regular", sans-serif;
      margin-bottom: 10px;
    }
    border-bottom: 0px solid $mc1 !important;
  }
  .a-joiner {
    font-size: 1.4em;

    h4 {
      font-family: "Cabin Bold", sans-serif;
      margin-bottom: 10px;
      &.a-pending{
        margin-top: 20px;
      }
    }
    .a-sprite {
      @include transform(scale(0.8));
    }
    li{
      height: auto;
      a {
        font-family: "Cabin Bold", sans-serif;

        text-decoration: none;
        time {
          font-family: "Cabin Regular", sans-serif;

          color: darken($nc1h, 40%);
        }
      }
    }
  }
}

.a-add-review {
  margin-bottom: 30px;
  font-size: 1.4em;
  border: 1px solid $nc1h;
  border-top: 3px solid $mc2;
  padding: 15px 10px;
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
  textarea{
    width: 100%;
    min-height: 100px;
    margin-bottom:10px;
  }
  button {
    float: right;
  }
  h3 {
    margin-bottom: 10px;
    font-family: "Open Sans Light", sans-serif;
    font-size: 1.4em;
    padding-bottom: 5px;
  }
}
