.a-search{
  .a-aventones-wrapp{
    padding-right:50px;
    @media screen and (max-width:768px) {
      padding-right:15px;
    }
  }
  .a-header-img{
    background-image: image-url('search-bg.jpg');
    height:auto;
    min-height:230px;
   // border-bottom:5px solid $mc1;
    h2{
      text-align:center;
      color:white;
      font-family:"Cabin Regular", sans-serif;
      @include text-shadow(0 2px 5px rgba(black,0.525));
      margin:30px 0px 30px 0px;
      font-size:6em;
    }
  }
  .a-search-wrapp{
    .a-search-container-wrapp{
      padding:3px;
      background:white;
      @include border-radius(5px);
      &:after{
        clear:both;
        display:table;
        content: " ";
      }
    }
    background:$mc2;
    border: 1px solid $mc2d;
    @include border-radius(5px);
    input, button{
      margin:0px;
      border:0px solid transparent;
      font-size:1.4em;
      padding:6px 10px;
      @include border-radius(0px);
    }
    .a-input-wrapp{
      position:relative;
      min-height:31px;
      .fa{
        color:$mc2d;
        position:absolute;
        line-height:31px;
        font-size:1.6em;
      }
      input{
        position:absolute;
        left:0px;
        top:0px;
        width:100%;
        background:none;
        padding-left:30px;
        font-size:1.5em;
        font-family:"Cabin Regular", sans-serif;
        @include placeholder{
          color:$mc2d;
          line-height:1.4em;

        }
        &.a-destino{
          //@include border-left-radius(5px);
          border-right: 1px solid $mc2d;
          border-left: 1px solid $mc2d;
        }
        &.a-fecha{
          padding-left:40px;
        }
      }
    }
    .a-search-container{
        padding:5px 5px;

      .a-search-btn{
        line-height: 1em;
        font-size:1.5em;
        @include btn-creator($bg:$mc1);
        @include border-left-radius(0px);
        font-family: "Cabin Bold", sans-serif;
      }
    }
  }
  .a-pedir-aventon{
    position:relative;
    right:-10px;
    margin-top:10px;
    margin-bottom:20px;
    font-family: "Open Sans Bold", sans-serif;
    color:white;
    font-size:1.3em;
    @include text-shadow(0 2px 5px rgba(black,0.5));
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }

  }
  .a-filter-aventones{
    ul{
      padding:0px;
      border-bottom:1px solid $nc1h;
      margin-bottom:25px;
      li{
        @include inline-block();
        padding:20px 30px 8px 0px;
        border-bottom:5px solid transparent;
        font-family: "Open Sans Light", sans-serif;
        margin-right:15px;

        &.active{
          border-bottom:5px solid $mc1;
          a{
            color:lighten($nc1,0%);
            &:active, &:hover, &:focus, &:visited{
              color:lighten($nc1,0%);
            }
          }
        }
        a{
          color:lighten($nc1,15%);
          font-size:1.8em;
          &:active, &:hover, &:focus, &:visited{
            text-decoration:none;
            color:lighten($nc1,15%);
          }
        }
      }
    }
  }
  .a-aventon-waiting-wrapp{
    h3{
      color:lighten($nc1,0%);
      font-size:1.8em;
      padding:20px 30px 8px 0px;
      border-bottom:5px solid $mc2;
      @include box-shadow(0 1px 0 $nc1h);
      font-family: "Open Sans Light", sans-serif;
      margin-bottom:25px;
    }
  }
  .a-no-aventones{
    text-align:center;
    padding:15px 10px;
    @include border-radius(5px);
    font-size:1.4em;
    font-family: "Open Sans Light", sans-serif;
    color:lighten($nc1,5%);
    border:1px solid desaturate(lighten($mc1h,30%),50%);
  }
}
.a-aventon-viaje{
  margin-bottom:30px;
  position:relative;
  margin-top:2px;
  border:1px solid darken($nc1h,5%);
  @include border-bottom-radius(10px);

  .a-asientos{

    position:absolute;
    top:-17px;
    left:-17px;
    @include border-radius(50%);
    @include box-shadow(3px 3px 0px white);
    background-color:$mc1;
    color:white;
    font-size:1.7em;
    font-family: "Cabin Bold", sans-serif;
    line-height:35px;
    min-height:35px;
    min-width:35px;
    text-align:center;
  }
  .a-viaje-close{
    position:absolute;
    font-family: "Cabin Bold", sans-serif;
    top:10px;
    right:12px;
    font-size:1.4em;
    color: lighten($nc1,50%);
    &:hover{
      color:$mc1;
    }
  }
  .a-viaje-footer{
    @include border-bottom-radius(10px);
    background:lighten($nc1h,3%) image-url("background-footer.png");
    padding:9px 12px;
    .a-message{
      border:1px solid $mc2d;
      @include border-radius(5px);
      position:relative;
      padding-right:91px;
      background:white;
      height:30px;
      input{
        background:none;
        border:0px solid transparent;
        width:100%;
        height:100%;
        padding-left:10px;
        font-size:1.3em;
        @include placeholder{
          line-height:17px;
          font-style:italic;
          font-size:1.01em;
        }
      }
      button{
        font-family: "Cabin Bold", sans-serif;
        font-size:1.35em;
        font-style:italic;
        position:absolute;
        top:1px;
        right:1px;
        border:0px solid transparent;
        width:90px;
        height:26px;
        background:none;
        border-left:1px solid $mc2d;
        &:hover{
          background:rgba(black,0.05);
        }
        &:active{

          @include box-shadow(inset 0px 2px 5px rgba(black,0.6));
        }
        .fa{
          margin-right:3px;
          position:relative;
          top:-1px;
        }
      }
    }
    .a-viajar-juntos{
      padding-left:6%;
      button{
        padding:6px 10px;
        width:100%;
        font-family: "Cabin Bold", sans-serif;
        font-size:1.48em;
        .a-sprite{
          margin-left:-15px;
          position:relative;
          top:-1px;
          margin-right:3px;
        }
      }
    }
  }
  .a-viaje-content{
    padding:20px 20px;
    border-bottom:2px dotted darken($nc1h,5%);
    margin-bottom:2px;
    .a-recorrido{
      position:relative;
      .sprite-arrow{
        position:absolute;
        left:50%;
        margin-left:-10px;
        top:8px;
      }
      .a-map-wrapp{
        @include inline-block();
        font-size:1.35em;
        text-align:center;
        width:49%;
        time{
          display:block;
          font-size:0.9em;
          margin-bottom:5px;
          margin-top:8px;
          font-family: "Open Sans Bold", sans-serif;
          color:$mc1;
        }
        p{
          font-family: "Open Sans Bold", sans-serif;

          i{
            font-family: "Open Sans Regular", sans-serif;

            display:block;
          }
        }
      }
    }
    .a-user{
      padding:0px 5%;
      .a-user-text{
        &:hover{
          *{
            text-decoration: none !important;
          }
        }
       text-align:center;
        @include inline-block();
        h2{
          margin-top:10px;
          font-family: "Cabin Bold", sans-serif;
          font-size:1.8em;
          margin-bottom:2px;
        }
        h3{
          color:$mc1;
          font-family: "Cabin Regular", sans-serif;
          font-size:1.4em;
          margin-bottom:8px;
        }

      }
    }
    .a-viaje-info{
      padding-top:18px;
      font-size:1.5em;
      font-family: "Cabin Regular", sans-serif;
      .a-info-recorrido{
        margin-bottom:35px;
        a{
          font-family: "Cabin Bold", sans-serif;
          font-size:1.08em;

        }
      }
      .a-fecha-recorrido{
        time{
          font-family: "Cabin Bold", sans-serif;
          margin-top:4px;
          display:block;
          font-size:1.05em;
          color:$mc1;
        }
      }
    }
  }

}
.a-aventon-waiting{
  border:1px solid darken($nc1h,5%);
  @include border-bottom-radius(5px);
  margin-bottom:20px;
  font-size:1.4em;
  .a-waiting-content{
    padding:10px 15px;
  }
  header{
    margin-top:10px;
    margin-bottom:10px;
    .a-avatar{
      @include inline-block();
    }
    .a-user-text{
      margin-left:10px;
      @include inline-block();
      h2{
        font-family: "Cabin Bold", sans-serif;
        font-size:1.2em;
        color:lighten($nc1,20%);
      }
      .a-stars{
        font-size:0.8em;
        color:$mc2;
        margin-top:3px;
      }
    }
  }
  .a-recorrido{
    font-size:1.1em;
    margin-bottom:10px;
    a{
      font-family: "Cabin Bold", sans-serif;
      font-size:1.1em;

    }
  }
  .a-description{
    margin-bottom:10px;
    color:lighten($nc1,25%);
    font-size:1.05em;
    line-height: 1.3em;
    font-style: italic;
    font-family: "Cabin Regular", sans-serif;
    padding-right:20%;
  }
  footer{
    font-family: "Open Sans Bold", sans-serif;
    @include border-bottom-radius(5px);
    background:lighten($nc1h,3%) image-url("background-footer.png");
    padding:11px 15px;
    font-size:0.9em;
     &:after{
       content:" ";
       display:table;
       clear:both;
     }
    time{
      color:lighten($nc1,10%);
      float:left;
      font-style: italic;
    }
    a{
      float:right;
      font-size:1.1em;
    }
  }
}

.a-stars{
  font-size:1.2em;
  color:$mc2;
}
