.a-signin{
  .a-header-img{
   background-image: image-url('signin-bg.jpg');
  }
  .a-password{
    margin-bottom:0px !important;
  }
  .a-forgotenpass{
    margin-bottom:0px !important;
    margin-top:10px;
  }
  .a-content{
    margin-top:0px;
  }
}