.a-signup{
  .a-header-img{
   background-image: image-url('sign-bg.jpg');
  }
  .a-content{
    margin-top:20px;
    color:$nc1;
    .a-content-wrapp{
      padding:0px 60px;
      @media screen and (max-width:768px){
        padding:0px;
      }
    }
    text-align:center;
    font-family: "Cabin Regular", sans-serif;
    h3{
      font-size:2.6em;
      font-style:italic;
      margin-bottom:10px;
    }
    h2{
      font-size:6em;
      line-height:1.5em;
      padding-bottom:10px;
      border-bottom:1px solid $nc1h;
      margin-bottom:20px;
    }
    .a-texts{
      padding:15px 30px 10px 30px;
      p{
        font-size:1.45em;
        margin-bottom:5px;
        line-height:1.5em;
      }
      &.a-newsletter {
        border-top: 1px solid $nc1h;
        border-bottom: 1px solid $nc1h;
        padding: 15px 0px 25px 0px;
      }
    }
  }
  .a-form-wrapp{
    margin-top:-100px;
    margin-bottom:30px;
    padding:5px 0px;
    background:white;
    border:1px solid $nc1h;
    border-top:4px solid $mc1;
    @include border-bottom-radius(10px);
    *{
      margin:0px;
    }
    h1{
      color:$nc1;
      border-bottom:1px solid $nc1h;
      font-size:2.4em;
      font-family:"Cabin Regular", sans-serif;
      font-style:italic;
      padding:15px 20px;
      margin-bottom:10px;
    }
    .a-social-auth{
      padding:8px 20px;
      p{
        margin-bottom:15px;
        font-size:1.3em;
        color:lighten($nc1,15%);
        font-style: italic;
      }
      .a-signup-facebook{
        @include btn-creator($bg:#3b5999);
      }
      .a-signup-twitter{
        @include btn-creator($bg:#4bc1f1);
      }
      .a-social-btn{
        display:block;
        margin-bottom:13px;
        color:white;
        font-size:1.4em;
        padding:9px 15px;
        font-family:"Open Sans Bold", sans-serif;
        .fa{
          margin-right:10px;
        }
      }
    }
    .a-form{
      padding:15px 15px;
      border-top:1px solid $nc1h;
      p{
        font-size:1.3em;
        font-style: italic;
        margin-bottom:13px ;
        color:lighten($nc1,15%);
        &.a-legend{
          text-align:center;
          color:$nc1;
          font-style: normal;
          line-height:1.4em;
        }
      }
      .a-input-group{
        margin-bottom:15px;
        label{
          font-size:1.4em;
          margin-bottom:5px;
          display:block;
        }
        input{
          font-size:1.3em;
          @include box-shadow(0 0 0 transparent);
        }
        &.a-password{
          .a-pass-input{
            margin-bottom:14px;
          }
        }
        &.a-nombre{

          input{
            @include inline-block();
            width:47%;
            &.a-nombre-input{
              margin-right:5%;
            }
          }
        }
      }
      .a-btn{
        @include btn-creator;
        width:100%;
        text-align:center;
        font-family:"Open Sans Bold", sans-serif;
        font-size:1.4em;
      }
    }
  }
  footer{
    text-align:center;
    padding:10px 15px;
    font-size:1.3em;
    border-top:1px solid $nc1h;
  }
  .a-error{
    background:$wc1;
    color:white;
    margin-top:-10px;
    padding:15px 15px;
    font-size:1.2 em;
    margin-bottom:10px;
    font-family: "Open Sans Regular", sans-serif;
  }
}
