<article class="a-profile-content-wrapp"  data-ng-controller="AdminsController" data-ng-init="usersNewsletterListAdmin()">
	<h1 style="clear: both"> Aventón</h1>
	<div class="row"> 
		<button class="btn btn-default" data-ng-click="showMailBoxOn()">Ver configuración</button>
		<button class="btn btn-default" data-ng-show="showCheck=='true'" data-ng-click="changeShowCheck('false')">Ver todos</button>
		<button class="btn btn-default" data-ng-show="showCheck=='false'" data-ng-click="changeShowCheck('true')">Aventones para checkear</button>
		<div data-ng-show="showMailBox"> 
			<form  data-ng-submit="changeConfig()" data-ng-init="showMeConfig()" class="col-md-3 col-md-offset-3">
				<label style="font-size: 14px">Precio de la publicación de aventón </label>
				<input placeholder="Asunto del mensaje" required style="margin-bottom:2%" class="form-control" data-ng-model="config.price_aventon">
				<button class="btn btn-default">Actualizar</button>
			</form>
		</div>
		<hr>
	</div>
	<div class ="row" data-ng-init="findAventones()" data-ng-show="showCheck == 'false'">
		<ul class="a-aventon-list">
	                    <!-- ng-repeat -->

	                    <li class="a-aventon-viaje" data-ng-repeat="aventon in aventones">
	                        <artcile class="a-viaje-wrapp">
	                            <strong class="a-asientos">{{aventon.seats_available}}</strong>

	                            <a class="a-viaje-close" data-ui-sref="viewAventon({aventonId: aventon._id})">

	                               <!-- <span class="fa fa-close"></span> -->
	                                <span class="fa fa-eye"></span>
	                            </a>
	                            <div class="a-viaje-content">
	                                <div class="row">
	                                    <div class="col-md-3 col-xs-6 a-user">
	                                        <div class="a-user-text">
	                                            <div class="a-avatar">
	                                                <a data-ui-sref="publicProfile.review({userId: aventon.user._id})">
	                                                    <img style="max-width:65%" class="img-circle" data-ng-src="{{aventon.user.imageProfile||'modules/core/img/avatar.png'}}" class="a-sprite sprite-avatar" ></img>
	                                                </a>
	                                            </div>
	                                            <h2>{{aventon.user.displayName}}</h2>
	                                            <h3 data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 3">Usuario Confiable</h3>
	                                            <div class="a-stars">
	                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 1" class="fa fa-star"></span>
	                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 2" class="fa fa-star"></span>
	                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 3" class="fa fa-star"></span>
	                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 4" class="fa fa-star"></span>
	                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 5" class="fa fa-star"></span>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class=" col-md-3 col-xs-6 a-viaje-info">
	                                        <div class="a-info-recorrido">
	                                            <p>Viajo de :</p>
	                                            <a href="#" class="a-salida">{{aventon.start_place}}</a>
	                                            a
	                                            <a href="#" class="a-destino">{{aventon.end_place}}</a>
	                                        </div>
	                                        <div class="a-fecha-recorrido">
	                                            <p>Fecha de salida:</p>
	                                            <time ><span class="fa fa-calendar-o"></span> {{aventon.start_day | date:'dd/MM/yyyy'}}</time>
	                                        </div>
	                                    </div>
	                                    <div class="a-recorrido col-md-6 col-xs-12">
	                                        <div class="a-salida-map a-map-wrapp">
	                                            <div class="a-map">
	                                                <span class="a-sprite sprite-map"></span>
	                                            </div>
	                                            <time><span class="fa fa-calendar-o"></span> {{aventon.start_day | date:'dd/MM/yyyy'}}</time>
	                                            <p>{{aventon.start_place}}
	                                                <i></i>
	                                            </p>
	                                        </div>
	                                        <span class="a-sprite sprite-arrow"></span>
	                                        <div class="a-destino-map a-map-wrapp">
	                                            <div class="a-map">
	                                                <span class="a-sprite sprite-map"></span>
	                                            </div>
	                                            <time><span data-ng-show="aventon.end_day != null" class="fa fa-calendar-o"></span> {{aventon.end_day | date:'MM/dd/yyyy'}}</time>
	                                            <p>{{aventon.end_place}}
	                                                <i></i>
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            	<button class="btn btn-default" data-ng-click="goUpdateAventon(aventon._id)">Modificar</button>
	                            	<button class="btn btn-default" data-ng-click="changeIdRemove(aventon._id)">Eliminar</button>
	                                <div style="font-size: 12px" data-ng-show="idRemove == aventon._id"> 
	                                	¿Seguro que desea Eliminar este Aventon? <button data-ng-click="changeIdRemove('')" class="btn btn-default">No</button> <button data-ng-click="removeAventon(aventon._id)" class="btn btn-default">Si</button> 
	                                </div>
	                            

	                        </artcile>
	                    </li>
	                    
	                    <pagination data-ng-show="aventones.length" boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="perPage" ng-change="findAventones()"></pagination>
	                    <!-- end-ng-repeat -->

	                    <li class="a-no-aventones" data-ng-show="!aventones.length">
	                        No hay aventones disponibles
	                    </li>
	                </ul>
	            </div>


	<div class ="row" data-ng-init="findCheckAventones()" data-ng-show="showCheck == 'true'">
		<ul class="a-aventon-list">
	                    <!-- ng-repeat -->

	                    <li class="a-aventon-viaje" data-ng-repeat="aventon in aventones">
	                        <artcile class="a-viaje-wrapp">
	                            <strong class="a-asientos">{{aventon.seats_available}}</strong>

	                            <a class="a-viaje-close" data-ui-sref="viewAventon({aventonId: aventon._id})">

	                               <!-- <span class="fa fa-close"></span> -->
	                                <span class="fa fa-eye"></span>
	                            </a>
	                            <div class="a-viaje-content">
	                                <div class="row">
	                                    <div class="col-md-3 col-xs-6 a-user">
	                                        <div class="a-user-text">
	                                            <div class="a-avatar">
	                                                <a data-ui-sref="publicProfile.review({userId: aventon.user._id})">
	                                                    <img style="max-width:65%" class="img-circle" data-ng-src="{{aventon.user.imageProfile||'modules/core/img/avatar.png'}}" class="a-sprite sprite-avatar" ></img>
	                                                </a>
	                                            </div>
	                                            <h2>{{aventon.user.displayName}}</h2>
	                                            <h3 data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 3">Usuario Confiable</h3>
	                                            <div class="a-stars">
	                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 1" class="fa fa-star"></span>
	                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 2" class="fa fa-star"></span>
	                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 3" class="fa fa-star"></span>
	                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 4" class="fa fa-star"></span>
	                                                <span data-ng-show="(aventon.user.review_point / aventon.user.review_count) >= 5" class="fa fa-star"></span>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class=" col-md-3 col-xs-6 a-viaje-info">
	                                        <div class="a-info-recorrido">
	                                            <p>Viajo de :</p>
	                                            <a href="#" class="a-salida">{{aventon.start_place}}</a>
	                                            a
	                                            <a href="#" class="a-destino">{{aventon.end_place}}</a>
	                                        </div>
	                                        <div class="a-fecha-recorrido">
	                                            <p>Fecha de salida:</p>
	                                            <time ><span class="fa fa-calendar-o"></span> {{aventon.start_day | date:'dd/MM/yyyy'}}</time>
	                                        </div>
	                                    </div>
	                                    <div class="a-recorrido col-md-6 col-xs-12">
	                                        <div class="a-salida-map a-map-wrapp">
	                                            <div class="a-map">
	                                                <span class="a-sprite sprite-map"></span>
	                                            </div>
	                                            <time><span class="fa fa-calendar-o"></span> {{aventon.start_day | date:'dd/MM/yyyy'}}</time>
	                                            <p>{{aventon.start_place}}
	                                                <i></i>
	                                            </p>
	                                        </div>
	                                        <span class="a-sprite sprite-arrow"></span>
	                                        <div class="a-destino-map a-map-wrapp">
	                                            <div class="a-map">
	                                                <span class="a-sprite sprite-map"></span>
	                                            </div>
	                                            <time><span data-ng-show="aventon.end_day != null" class="fa fa-calendar-o"></span> {{aventon.end_day | date:'MM/dd/yyyy'}}</time>
	                                            <p>{{aventon.end_place}}
	                                                <i></i>
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            	<a data-ui-sref="viewAventon({aventonId: aventon._id})"><button class="btn btn-default">Necesita checkeo</button></a>
	                            	<button class="btn btn-default" data-ng-click="goUpdateAventon(aventon._id)">Modificar</button>
	                            	<button class="btn btn-default" data-ng-click="changeIdRemove(aventon._id)">Eliminar</button>
	                                <div style="font-size: 12px" data-ng-show="idRemove == aventon._id"> 
	                                	¿Seguro que desea Eliminar este Aventon? <button data-ng-click="changeIdRemove('')" class="btn btn-default">No</button> <button data-ng-click="removeAventon(aventon._id)" class="btn btn-default">Si</button> 
	                                </div>
	                            

	                        </artcile>
	                    </li>
	                   	                   
	                    <!-- end-ng-repeat -->

	                    <li class="a-no-aventones" data-ng-show="!aventones.length">
	                        No hay aventones disponibles
	                    </li>
	                </ul>
	            </div>	         

</article>
