<section class="a-profile-content-wrapp" data-ng-controller="SettingsController" data-ng-init="SetActiveTab('config')" data-ng-if="isLocal()">
	<h1 class=" ">Cambiar contraseña</h1>
	<div class="row">
		<form data-ng-submit="changeUserPassword()" class="signin col-md-12 form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="currentPassword">Contraseña Actual</label>
					<div class="col-sm-6">
						<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Contraseña actual">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="newPassword">Nueva Contraseña</label>
					<div class="col-sm-6">
						<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="Nueva contraseña">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="verifyPassword">Verificar Contraseña</label>
					<div class="col-sm-6">
						<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verificar contraseña">
					</div>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Guardar</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Contraseña cambiada correctamente</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
<section class="a-profile-content-wrapp" data-ng-controller="SettingsController" data-ng-init="SetActiveTab('config')" data-ng-if="!isLocal()">
	<h1 class=" ">Cambiar contraseña</h1>
	<div class="row">
		<h2>No es posible cambiar la contraseña debido a que te has registrado con una cuenta externa.</h2>
	</div>
</section>