<article class="a-profile-content-wrapp"  data-ng-controller="RolesController">
	<h1 style="clear: both"> Crear Rol</h1>
	<button class="btn btn-default" ui-sref="adminProfile.roleList">Lista Roles</button>
	<div class="col-md-12">
	    <form name="create_new" class="form-horizontal" data-ng-submit="create()">
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': packCreateForm.name.$dirty && packCreateForm.name.$invalid }">
					<label class="control-label" for="name">Nombre</label>
					<div class="controls">
						<input name="name" type="text" data-ng-model="name" id="name" class="form-control" placeholder="Nombre" required>
					</div>
				</div>
		        <div class="form-group">
		            <label class="control-label" for="content">Permisos</label>
		            <div class="controls">
		                <label class="control-label" ng-repeat="permission in allPermissions">
		                  <input type="checkbox"  class="form-control" checklist-model="permissions" checklist-value="permission"> {{permission}}
		                </label>
		            </div>
		        </div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
	    </form>

	</div>
</article>