<section data-ng-controller="AventonController" style="margin-top:15%" class="a-newaventon" >
    <div class="container" data-ng-init="findOne()">
        <div class="row">
            <article class="col-md-10 col-md-offset-1 a-newaventon-wrapp">
                <form name="aventonForm" class="form-horizontal a-aventon-form" data-ng-submit="update()" >
                    
                    <fieldset >
                        <div class="a-form-wrapp-1">
                            <div class="row">
                                <div data-ng-show="error" class="col-md-12 text-danger">
                                    <strong data-ng-bind="error"></strong>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-6 a-punto-partida">

                                    <div class="a-punto-wrapp">
                                        <h5><span class="fa fa-map-marker"></span> Punto de partida</h5>
                                        <div class="a-input-group a-partida">
                                            <label>Lugar</label>
                                            <p class="a-result">{{aventon.start_place}}</p>
                                        </div>
                                        <div class="a-input-group a-dia" >
                                            <label>Día</label>
                                            <div class="a-input-g">
                                                <input type="text" class="a-date" readonly="true" datepicker-popup="dd/MM/yyyy" ng-model="aventon.start_day" min-date="minDate" required is-open="opened" /><span class="fa fa-calendar-o" data-ng-click="openFirst($event)"></span>
                                            
                                            </div>
                                        </div>
                                        <div class="a-input-group a-hora" >
                                            <label>Horario</label>
                                            <div class="a-input-g">
                                                <input type="time" style="width:100%; text-align:right" class="a-time" data-ng-model="aventon.start_hour" required>
                                                <span class="fa fa-clock-o"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="a-sprite sprite-arrow a-arrow hidden-xs"></span>
                                <div class="col-md-6 col-xs-12 col-sm-6 a-punto-llegada">
                                    <div class="a-punto-wrapp">
                                        <h5><span class="fa fa-map-marker"></span> Punto de llegada</h5>
                                        <div class="a-input-group a-llegada">
                                            <label>Lugar</label>
                                            <p class="a-result">{{aventon.end_place}}</p>
                                        </div>
                                        <a class="a-define-date" data-ng-if="!defineDate" data-ng-click="setDefineDate(true)"><span class="fa fa-calendar-o"></span> Definir fecha de llegada</a>
                                        <div class="a-opcional" data-ng-if="defineDate">
                                            <div class="a-input-group a-dia" >
                                                <label>Día</label>
                                                <div class="a-input-g">
                                                    <input type="text" min-date="minDate" class="a-date" readonly="true" datepicker-popup="yyyy/MM/dd" ng-model="aventon.end_day" is-open="openedTwo" /><span class="fa fa-calendar-o" data-ng-click="openSecond($event)"></span>
                                                </div>
                                            </div>
                                            <div class="a-input-group a-hora" >
                                                <label>Horario</label>
                                                <div class="a-input-g">
                                                    <input type="time" style="width:100%; text-align:right" class="a-time" data-ng-model="aventon.end_hour"><span class="fa fa-clock-o"></span>
                                                </div>
                                            </div>
                                            <a  class="a-no-define-date" data-ng-click="setDefineDate()"> No definir fecha</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="a-form-wrapp-2">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 a-other-info">
                                    <div class="a-input-group a-asientos">
                                        <label>Asientos disponibles</label>
                                        <input type="number" data-ng-model="aventon.seats_available" class="a-asientos-input">
                                    </div>
                                    <div class="a-input-group a-more">
                                        <label>Datos adicionales</label>
                                        <input type="text" data-ng-model="aventon.more_info" class="a-more-input">
                                    </div>
                                    <div class="a-input-group a-recurrent">
                                        <label>Viaje frecuente</label>
                                        <input type="checkbox" data-ng-model="aventon.recurrent_travel" class="a-recurrent-input">
                                    </div>
                                    <!--div class="a-input-group a-patente">
                                        <label>Mostrar patente</label>
                                        <input type="checkbox" data-ng-model="patent_show" class="a-patente-input">
                                    </div-->
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <footer class="a-footer-create">
                        <button class="a-btn" >Actualizar</button>
                    </footer>

          
                </form>
            </article>
        </div>
    </div>
</section>