<div class="a-profile-content-wrapp"  data-ng-controller="SettingsController" data-ng-init="SetActiveTab('config')">
	<h1 class="">Editar imágen</h1>
	<div class="row">
		<div class="">
			<form name="userForm" data-ng-submit="upload()" class="signin col-md-12 form-horizontal" autocomplete="off">
				<fieldset>
					
					<div class="form-group">
						<label class="col-sm-2 control-label" for="imageProfile">Foto de perfil</label>
						<div class="col-md-6">
							<input type="file" id="imageProfile" ng-file-select ng-file-change="saveImageProfile($files)" name="imageProfile" class="form-control" >
						</div>
					</div>
					
					<div class="text-center form-group">
						<button type="submit" class="btn btn-large a-btn btn-primary">Guardar</button>
					</div>
					<div data-ng-show="success" class="text-center text-success">
						<strong>Datos guardados correctamente</strong>
					</div>
					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
