<article  style="margin-top:5%">
<div class="a-profile-content-wrapp"  data-ng-controller="SettingsController" data-ng-init="SetActiveTab('config')">
	<h1 class="">Editar Configuración de Notificaciones</h1>
	<div class="row">
		<div class="">
			<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin col-md-12 form-horizontal" autocomplete="off">
				<fieldset>
					
					<div class="form-group">
						<label class="col-sm-2 control-label" for="smoker">Notificaciones de recomendación de viajes</label>
						<div class="col-md-6">
							<input type="checkbox" id="smoker" name="topicsOfInterest" class="" data-ng-model="user.cfg_notify.recommended" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="smoker">Notificaciones de aventones.</label>
						<div class="col-md-6">
							<input type="checkbox" id="smoker" name="topicsOfInterest" class="" data-ng-model="user.cfg_notify.trip" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="smoker">Notificaciones de revisiones.</label>
						<div class="col-md-6">
							<input type="checkbox" id="smoker" name="topicsOfInterest" class="" data-ng-model="user.cfg_notify.review" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="smoker">Notificaciones de mensajes privados.</label>
						<div class="col-md-6">
							<input type="checkbox" id="smoker" name="topicsOfInterest" class="" data-ng-model="user.cfg_notify.message" >
						</div>
					</div>
					<div class="text-center form-group">
						<button type="submit" class="btn btn-large a-btn btn-primary">Guardar</button>
					</div>
					<div data-ng-show="success" class="text-center text-success">
						<strong>Datos guardados correctamente</strong>
					</div>
					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
</article>