<article  style="margin-top:5%">
<div class="a-profile-content-wrapp"  data-ng-controller="SettingsController" data-ng-init="SetActiveTab('config')">
	<h1 class="">Editar perfil</h1>
	<div class="row">
		<div class="">
			<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin col-md-12 form-horizontal" autocomplete="off">
				<fieldset>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="firstName">Nombre</label>
						<div class="col-md-6">
							<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="lastName">Apellido</label>
						<div class="col-md-6">
							<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="email">Email</label>
						<div class="col-md-6">
							<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="cellphone">Número de Celular</label>
						<div class="col-md-6">
							<input type="text" id="cellphone" name="cellphone" class="form-control" data-ng-model="user.cellphone" placeholder="011-125565346">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="music">Música</label>
						<div class="col-md-6">
							<input type="text" id="music" name="music" class="form-control" data-ng-model="user.music" placeholder="Me gusta el tango.">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="topicsOfInterest">Temas de interés</label>
						<div class="col-md-6">
							<input type="text" id="topicsOfInterest" name="topicsOfInterest" class="form-control" data-ng-model="user.topicsOfInterest" placeholder="Comida, naturaleza, ropa...">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="smoker">¿Es usted fumador?</label>
						<div class="col-md-6">
							<input type="checkbox" id="smoker" name="topicsOfInterest" class="" data-ng-model="user.smoker" >
						</div>
					</div>
					<div class="form-group" data-ng-init="checkUserNewsLetter()">
						<label class="col-sm-2 control-label" for="newsletter">¿Desea recibir newsletter?</label>
						<div class="col-md-6">
							<input type="checkbox" id="newsletter" name="newsletter" class="" data-ng-model="newsletter" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="newsletter">Patentes</label>
						<div class="col-md-6">
							<div>
								<input type="text" class="form-control" placeholder="ABC 123" data-ng-model="newPatent"></input> <br>
								<input data-ng-click="addPatent(newPatent)" class="btn btn-warning" value="Agregar"></input>
							</div> <br>
							<div data-ng-show="!user.patents || user.patents.length == 0">
								<label>No ha registrado patentes aún.</label>
							</div>
							<div data-ng-show="user.patents && user.patents.length > 0">
								<div data-ng-repeat="n in range(0,user.patents.length-1)" >
									<label style="font-size:14px">{{user.patents[n].patent}}&nbsp;  </label><input value="X" type="button" data-ng-click="removePatent(n)"></input>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center form-group">
						<button type="submit" class="btn btn-large a-btn btn-primary">Guardar</button>
					</div>
					<div data-ng-show="success" class="text-center text-success">
						<strong>Datos guardados correctamente</strong>
					</div>
					<div class="text-center form-group">
						<button data-ng-click="goChangeImageProfile()" class="btn btn-large a-btn btn-primary">Cambiar foto de perfil</button>
					</div>
					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
</article>