<article class="a-profile-content-wrapp"  data-ng-controller="AdminsController" data-ng-init="listFaq()">
	<h1 style="clear: both"> Faq</h1>
	<button class="btn btn-default" data-ng-click="showMailBoxOn()">Crear nueva faq</button>
	<div data-ng-show="showMailBox"> 
		<form  data-ng-submit="createFaq()"  class="col-md-3 col-md-offset-3">
			<label style="font-size: 14px">Pregunta </label>
			<input placeholder="Pregunta" required style="margin-bottom:2%" class="form-control" data-ng-model="question">
			<label style="font-size: 14px">Respuesta </label>
			<textarea placeholder="Respuesta" required style="margin-bottom:2%; width:500px" class="form-control" data-ng-model="answer"></textarea>
			<button class="btn btn-default">Crear</button>
			<hr>
		</form>
	</div>
	<hr>
	
	<ul class="col-md-9 col-sm-9 a-answer-list">
		<li data-ng-repeat="faq in faqs">
	        <h1 >{{faq.question}} <button class="btn btn-default" data-ng-click="changeIdUpdate(faq._id)">Modificar</button> <button class="btn btn-default" data-ng-click="changeIdRemove(faq._id)">Eliminar</button> <div style="font-size: 12px" data-ng-show="idRemove == faq._id"> ¿Seguro que desea Eliminar esta Faq? <button data-ng-click="changeIdRemove('')" class="btn btn-default">No</button> <button data-ng-click="removeFaq(faq._id)" class="btn btn-default">Si</button> </div> </h1>
	        <div>
	            <p style="font-size: 14px">
	                {{faq.answer}}
	            </p>
	        </div>
	        <div  class="row">
		        <form  data-ng-show="idUpdate == faq._id" data-ng-submit="updateFaq(faq._id)"  class="col-md-3 col-md-offset-3">
					<label style="font-size: 14px">Pregunta </label>
					<input placeholder="Pregunta" required style="margin-bottom:2%" class="form-control" data-ng-model="faq.question">
					<label style="font-size: 14px">Respuesta </label>
					<textarea placeholder="Respuesta" required style="margin-bottom:2%; width:500px" class="form-control" data-ng-model="faq.answer"></textarea>
					<button data-ng-click="changeIdUpdate('')" class="btn btn-default">Cancelar</button><button class="btn btn-default" type="submit">Modificar</button>
				</form>
			</div>
	    </li>
	</ul>

</article>
