<article style="margin-top:10%" class="a-settings" data-ng-controller="SettingsController">
	<nav  style="margin-top:8%" class="col-md-3 col-lg-2  col-sm-3">
		<ul class="a-settings-nav">
			<li><a data-ui-sref="profile.messages.listAll"><span class="fa fa-envelope"></span> Ver todos los mensajes </a></li>
		</ul>
	</nav>
	<div class="col-md-9 col-lg-9 col-sm-9">
		<div data-ui-view></div>
	</div>
</article>
