<article class="a-profile-content-wrapp"  data-ng-controller="MessagesController" data-ng-init="messagesSent()">
		<h1>Mensajes Enviados</h1>

	<table class="table table-condensed a-messages-list  table-striped">
		<thead>
		<tr >
			<!--th class="col-xs-1"><input type="checkbox"></th-->
			<th class="col-xs-3">Nombre</th>
			<th class="col-xs-4">Asunto</th>
			<th class="col-xs-4 text-right">Fecha</th>
		</tr>
		</thead>
		<tbody>
		<tr data-ng-repeat="message in messages">
			<!--td>  <input type="checkbox"> </a></td-->
			<td><a  data-ui-sref="profile.messages.detailSent({messageId: message._id})" > {{message.user_receiver.firstName}} {{message.user_receiver.lastName}} </a></td>
			<td><a  data-ui-sref="profile.messages.detailSent({messageId: message._id})" >  {{message.subject}} </a></td>
			<td class="text-right"> <a  data-ui-sref="profile.messages.detailSent({messageId: message._id})" >  {{message.created | date:"MM/dd/yyyy "}} </a></td>
		</tr>
		<tr data-ng-show="!messages || messages.length == 0">
			<td></td>
			<td>No tiene mensajes</td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>

</article>
