<article class="a-profile-content-wrapp"  data-ng-controller="MessagesController" data-ng-init="allMessagesByUser()">
	<div class="a-message">
	<h1>Conversación privada con {{contact.firstName}} {{contact.lastName}} </h1>
	</div>
	<form class="a-message-respons" data-ng-submit="sendPrivateMessage(userResponse)">
		<textarea data-ng-model="content" required placeholder="Escriba un su respuesta..." ></textarea>
		<button type="submit" class="a-btn pull-right">Enviar</button>
	</form>

	<div class="a-message" data-ng-repeat="message in messages | orderBy:'-created'">
		<h1>Remitente: {{message.user_sender.firstName}} {{message.user_sender.lastName}} <time class="pull-right">{{message.created | date:"MM/dd/yyyy '-' h:mma"}}</time></h1>
		<p class="a-message-description">{{message.content}}</p>
	</div>
	


</article>
