<article class="a-profile-content-wrapp"  data-ng-controller="ConversationsController" data-ng-init="myContacts()">
		<h1>Mensajes Privados</h1>

	<table class="table table-condensed a-messages-list  table-striped" style="max-width:70%">
		<thead>
		<tr >
			<!--th class="col-xs-1"><input type="checkbox"></th-->
			<th class="col-xs-2">Nombre</th>
			<th class="col-xs-2 text-right">Fecha de Inicio</th>
		</tr>
		</thead>
		<tbody>
		<tr data-ng-repeat="conversation in conversations">
			<!--td>  <input type="checkbox"> </a></td-->
			<td><a  data-ui-sref="profile.messages.detail({messageId: conversation.contact._id})" > {{conversation.contact.firstName}} {{conversation.contact.lastName}} </a></td>
			<td class="text-right"> <a  data-ui-sref="profile.messages.detail({messageId: message._id})" >  {{conversation.created | date:"MM/dd/yyyy "}} </a></td>
		</tr>
		<tr data-ng-show="!conversations || conversations.length == 0">
			<td></td>
			<td>No tiene mensajes</td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>

</article>
