<article class="a-profile-content-wrapp"  data-ng-controller="MessagesController" data-ng-init="findOneSent()">
	<div class="a-message">
	<h1>{{message.user}} - {{message.subject}} <time class="pull-right">{{message.date}}</time></h1>
	<p class="a-message-description">{{message.content}}</p>
	</div>
</article>
