<article class="col-md-9 col-md-offset-3 col-lg-offset-2 col-lg-9 col-sm-9 col-sm-offset-3"  data-ng-controller="SettingsController" data-ng-init="SetActiveTab('invitations')">
	<div class="a-profile-content-wrapp">		
		<h1 data-ng-show="internTabI == 'invitaciones'" data-ng-click="internTabIChg('invitaciones')" style="font-weight:bold; text-decoration:underline"><a>Mis invitaciones</a></h1>
		<h1 data-ng-show="internTabI == 'realizadas'" data-ng-click="internTabIChg('invitaciones')"><a>Mis invitaciones</a></h1>	
		<h1 data-ng-show="internTabI == 'realizadas'"  data-ng-click="internTabIChg('realizadas')" style="font-weight:bold; text-decoration:underline"><a>Mis invitaciones realizadas</a></h1>		
		<h1 data-ng-show="internTabI == 'invitaciones'" data-ng-click="internTabIChg('realizadas')"><a>Mis invitaciones realizadas</a></h1>
		<!-- Invitaciones recibidas -->
		<ul class="a-aventon-list a-mis-viajes" data-ng-controller="AventonController" data-ng-show="internTabI == 'invitaciones'" data-ng-init="receiveInvitations()">
			<li class="a-aventon-viaje" data-ng-repeat="invitation in invitations">
				<a class="a-viaje-close" data-ui-sref="viewAventon({aventonId: invitation.aventon._id})">
                    <span class="fa fa-eye"></span>
                </a>
				<artcile class="a-viaje-wrapp">
					<div class="a-viaje-content no-border">
						<div class="row">
						<div class="col-md-12">
							<h3><span class="a-sprite sprite-trip"></span>Soy <a data-ui-sref="publicProfile.review({userId: invitation.user_sender._id})">{{invitation.user_sender.firstName}} {{invitation.user_sender.lastName}}</a> viajo de <a href="#" class="a-salida">{{invitation.aventon.start_place}}</a> el <time>{{invitation.aventon.start_day | date:'dd/MM/yyyy'}} a las {{invitation.aventon.start_hour}}hs</time> a <a href="#" class="a-destino">{{invitation.aventon.end_place}}</a></h3>
						</div>
							<div class=" col-md-6 col-xs-12 a-joiner" data-ng-show="!invitation.responded">
								<h4>Responder</h4>
								<button class=" btn-success" data-ng-click="acceptInvitation(invitation._id,invitation.aventon._id)">Aceptar</button>
								<button class=" btn-danger" data-ng-click="rejectInvitation(invitation._id)">  Rechazar</button>
							</div>
							<div class=" col-md-6 col-xs-12 a-joiner" data-ng-show="invitation.responded">
								<h4>Respuesta:</h4>
								<label data-ng-show="invitation.state=='accepted'">Aceptado</label>
								<label data-ng-show="invitation.state=='rejected'">Rechazado</label>
							</div>
							<div class="a-recorrido col-md-6 col-xs-12">
								<div class="a-salida-map a-map-wrapp">
									<div class="a-map">
										<span class="a-sprite sprite-map"></span>
									</div>
									<time><span class="fa fa-calendar-o"></span> {{invitation.aventon.start_day | date:'dd/MM/yyyy'}}</time>
									<p>{{invitation.aventon.start_place}}
									</p>
								</div>
								<span class="a-sprite sprite-arrow"></span>
								<div class="a-destino-map a-map-wrapp">
									<div class="a-map">
										<span class="a-sprite sprite-map"></span>
									</div>
									<time><span data-ng-show="invitation.aventon.end_day != null" class="fa fa-calendar-o"></span> {{invitation.aventon.end_day | date:'dd/MM/yyyy'}}</time>
									<p>{{invitation.aventon.end_place}}
									</p>
								</div>
							</div>
						</div>
					</div>
				</artcile>
			</li>
		</ul>
		<!-- Invitaciones realizadas -->
		<ul class="a-aventon-list a-mis-viajes" data-ng-controller="AventonController" data-ng-show="internTabI == 'realizadas'" data-ng-init="invitationsMade()">
			<li class="a-aventon-viaje" data-ng-repeat="invitation in invitationsMade">
				<a class="a-viaje-close" data-ui-sref="viewAventon({aventonId: invitation.aventon._id})">
                    <span class="fa fa-eye"></span>
                </a>
				<artcile class="a-viaje-wrapp">
					<div class="a-viaje-content no-border">
						<div class="row">
						<div class="col-md-12">
							<h3><span class="a-sprite sprite-trip"></span>He invitado a <a data-ui-sref="publicProfile.review({userId: invitation.user_receiver._id})">{{invitation.user_receiver.firstName}} {{invitation.user_receiver.lastName}}</a> y viajo de <a href="#" class="a-salida">{{invitation.aventon.start_place}}</a> el <time>{{invitation.aventon.start_day | date:'dd/MM/yyyy'}} a las {{invitation.aventon.start_hour}}hs</time> a <a href="#" class="a-destino">{{invitation.aventon.end_place}}</a></h3>
						</div>
							<div class=" col-md-6 col-xs-12 a-joiner" data-ng-show="invitation.responded">
								<h4>Respuesta:</h4>
								<label data-ng-show="invitation.state=='accepted'">Aceptado</label>
								<label data-ng-show="invitation.state=='rejected'">Rechazado</label>
							</div>
							<div class="a-recorrido col-md-6 col-xs-12">
								<div class="a-salida-map a-map-wrapp">
									<div class="a-map">
										<span class="a-sprite sprite-map"></span>
									</div>
									<time><span class="fa fa-calendar-o"></span> {{invitation.aventon.start_day | date:'dd/MM/yyyy'}}</time>
									<p>{{invitation.aventon.start_place}}
									</p>
								</div>
								<span class="a-sprite sprite-arrow"></span>
								<div class="a-destino-map a-map-wrapp">
									<div class="a-map">
										<span class="a-sprite sprite-map"></span>
									</div>
									<time><span data-ng-show="invitation.aventon.end_day != null" class="fa fa-calendar-o"></span> {{invitation.aventon.end_day | date:'dd/MM/yyyy'}}</time>
									<p>{{invitation.aventon.end_place}}
									</p>
								</div>
							</div>
						</div>
					</div>
				</artcile>
			</li>
		</ul>


		
	</div>
</article>
