<article class="col-md-9 col-md-offset-3 col-lg-offset-2 col-lg-9 col-sm-9 col-sm-offset-3"  data-ng-controller="SettingsController" data-ng-init="SetActiveTab('trips')">
	<div class="a-profile-content-wrapp">
		<h1 data-ng-show="internTab == 'viajes'" data-ng-click="internTabChg('viajes')" style="font-weight:bold; text-decoration:underline"><a>Como Conductor</a></h1>
		<h1 data-ng-show="internTab == 'pedidos'" data-ng-click="internTabChg('viajes')"><a>Como Conductor</a></h1>	
		<h1 data-ng-show="internTab == 'pedidos'"  data-ng-click="internTabChg('pedidos')" style="font-weight:bold; text-decoration:underline"><a>Como Pasajero</a></h1>		
		<h1 data-ng-show="internTab == 'viajes'" data-ng-click="internTabChg('pedidos')"><a>Como Pasajero</a></h1>
		
		<ul class="a-aventon-list a-mis-viajes" data-ng-controller="AventonController" data-ng-show="internTab =='viajes'" data-ng-init="aventonesByUser()">
			<li class="a-aventon-viaje" data-ng-repeat="aventon in aventones | orderBy:'-start_day'">
				<artcile class="a-viaje-wrapp">
					<div class="a-viaje-content no-border">
						<div class="row">
						<div class="col-md-12">
							<div data-ng-show="aventon.start_day >= today" class="viaje-futuro pull-right">Viaje Futuro</div>
							<div data-ng-show="aventon.start_day < today" class="viaje-pasado pull-right">Viaje Pasado</div>
							<h3><span class="a-sprite sprite-trip"></span> Viajo de <a href="#" class="a-salida">{{aventon.start_place}}</a> el <time>{{aventon.start_day | date:'dd/MM/yyyy'}} a las {{aventon.start_hour}}hs</time> a <a href="#" class="a-destino">{{aventon.end_place}}</a></h3>
						</div>
							<div class=" col-md-6 col-xs-12 a-joiner" data-ng-controller="DemandsController" data-ng-init="giveMeDemandsByAventon(aventon._id)">
								<h4>Acompañantes ({{demandsAccepted.length}} / {{aventon.seats_available}})</h4>
								<ul class="a-joined">
									<li data-ng-repeat="demandAccepted in demandsAccepted">
										<a data-ui-sref="publicProfile.review({userId: demandAccepted.user._id})"> <span class="a-sprite sprite-avatar-xs"></span> {{demandAccepted.user.displayName}} <time> - {{demandAccepted.created | date:'dd/MM/yyyy'}}</time></a>
									</li>
								</ul>
								<h4 class="a-pending">Solicitan viajar con vos ({{demandsWaiting.length}})</h4>
								<ul class="a-asking-join">
									<li data-ng-repeat="demandWaiting in demandsWaiting">
									<a data-ui-sref="publicProfile.review({userId: demandWaiting.user._id})"> <span class="a-sprite sprite-avatar-xs"></span> {{demandWaiting.user.displayName}} <time> - {{demandWaiting.created | date:'dd/MM/yyyy'}} </time></a> <button class=" a-btn" data-ng-click="acceptDemand(demandWaiting._id)"><span class="a-sprite sprite-auto"></span>  Llevar</button></a> 
										<button class=" a-btn" data-ng-click="dismissDemand(demandWaiting._id)">
											<span class="a-sprite glyphicon glyphicon-remove-circle">
											</span>
										</button>
									</li>
								</ul>
								<!--h4 class="a-pending">Invitaciones ({{invitations.length}})</h4>
								<ul class="a-asking-join">
									<li data-ng-repeat="invitation in getInvitation(aventon._id)">
									<a data-ui-sref="publicProfile.review({userId: invitation.user_receiver._id})"> <span class="a-sprite sprite-avatar-xs"></span> {{invitation.user_receiver.displayName}} <time> - {{invitation.created | date:'dd/MM/yyyy'}} </time></a> <button class=" a-btn" data-ng-click="acceptDemand(demandWaiting._id)"><span class="a-sprite sprite-auto"></span>  Llevar</button></li>
								</ul-->
							</div>
							<div class="a-recorrido col-md-6 col-xs-12">
								<div class="a-salida-map a-map-wrapp">
									<div class="a-map">
										<span class="a-sprite sprite-map"></span>
									</div>
									<time><span class="fa fa-calendar-o"></span> {{aventon.start_day | date:'dd/MM/yyyy'}}</time>
									<p>{{aventon.start_place}}
									</p>
								</div>
								<span class="a-sprite sprite-arrow"></span>
								<div class="a-destino-map a-map-wrapp">
									<div class="a-map">
										<span class="a-sprite sprite-map"></span>
									</div>
									<time><span data-ng-show="aventon.end_day != null" class="fa fa-calendar-o"></span> {{aventon.end_day | date:'dd/MM/yyyy'}}</time>
									<p>{{aventon.end_place}}
									</p>
								</div>
							</div>
						</div>
					</div>	
                	<button class="btn btn-default" data-ng-click="changeIdRemove(aventon._id)">Eliminar</button>
                    <div style="font-size: 12px" data-ng-show="idRemove == aventon._id"> 
                    	¿Seguro que desea Eliminar este Aventon? Se le notificará a los usuarios asociados al mismo. <button data-ng-click="changeIdRemove('')" class="btn btn-default">No</button> <button data-ng-click="removeAventon(aventon._id)" class="btn btn-default">Si</button> 
                    </div>
				</artcile>
			</li>


		</ul>



		<ul class="a-aventon-list a-mis-viajes" data-ng-show="internTab =='pedidos'">
			
			<div class="col-md-6">
                <div data-ng-controller="DemandsAventonController" class="a-aventon-waiting-wrapp">
                    <ul class="a-aventon-waiting-list" data-ng-init="myListDemandsAventon()">
                        <li class="a-aventon-waiting" data-ng-repeat="demandA in demandsAventon">
                            <article class="a-waiting-warpp">
                            	
                                <div class="a-waiting-content">
                                	<div data-ng-show="demandA.day >= today" class="viaje-futuro pull-right">Viaje Futuro</div>
															<div data-ng-show="demandA.day < today" class="viaje-pasado pull-right">Viaje Pasado</div>
                                    <header>
                                        <a href="#">
                                            <div>
                                                <img style="max-width:20%" class="img-circle" data-ng-src="{{demandA.user.imageProfile||'modules/core/img/avatar.png'}}" class="a-sprite sprite-avatar-2" ></img>  
                                                <div class="a-user-text">
                                                    <h2>{{demandA.user.displayName}}</h2>
                                                    <div class="a-stars">
                                                        <span data-ng-show="(demandA.user.review_point / demandA.user.review_count) >= 1" class="fa fa-star"></span>
                                                        <span data-ng-show="(demandA.user.review_point / demandA.user.review_count) >= 2" class="fa fa-star"></span>
                                                        <span data-ng-show="(demandA.user.review_point / demandA.user.review_count) >= 3" class="fa fa-star"></span>
                                                        <span data-ng-show="(demandA.user.review_point / demandA.user.review_count) >= 4" class="fa fa-star"></span>
                                                        <span data-ng-show="(demandA.user.review_point / demandA.user.review_count) >= 5" class="fa fa-star"></span>
                                                    </div>
                                            </div>
                                            </div>
                                        </a>
                                    </header>
                                    <p class="a-recorrido">de <a href="#">{{demandA.start_place}}</a> a <a href="#">{{demandA.end_place}}</a></p>
                                    <p class="a-description">{{demandA.comment}}</p>
                                    <input type="button" value="Más Info"  tooltip-trigger="focus" tooltip-placement="left" rel="tooltip"
                                    tooltip="{{giveMeToolTipText(demandA)}}"
                                    >
                                </div>
                                <footer>
                                    <time> <span class="fa fa-calendar-o"></span> {{demandA.day | date:'dd/MM/yyyy'}}</time> <br>
                                    <button data-ng-click="goEdit(demandA._id)"><span class="fa fa-pencil-square-o" ></span> Editar</button>
                                    <button data-ng-click="changeIdRemove(demandA._id)"><span class="fa fa-times"></span> Eliminar</button>
                                    <div style="font-size: 12px" data-ng-show="idRemove == demandA._id"> 
				                    	¿Seguro que desea Eliminar este pedido? <button data-ng-click="changeIdRemove('')" class="btn btn-default">No</button> <button data-ng-click="removeDemand(demandA._id)" class="btn btn-default">Si</button> 
				                    </div>
                                </footer>
                            </article>
                        </li>
                        <li class="a-no-aventones" data-ng-if="demandsAventon.length == '0'">
                            No hay pedidos disponibles
                        </li>
                    </ul>
                </div>
            </div>


		</ul>
	</div>
</article>
