<article class="a-profile-content-wrapp"  data-ng-controller="AdminsController" data-ng-init="findOneNewsletter()">
	<h1 style="clear: both"> Newsletter creado: {{newsletter.created | date:"dd/MM/yyyy "}}</h1>
	<h2 style="font-size:14px"> Asunto: {{newsletter.subject}}</h2> </br>
	<p style="font-size:16px">
		{{newsletter.content}}
	</p>

</article>
