<article class="a-profile-content-wrapp"  data-ng-controller="AdminsController" data-ng-init="newsletterList()">
	<h1 style="clear: both"> Lista de newsletter enviados</h1>
	<table class="table table-condensed a-messages-list  table-striped">
		<thead>
		<tr >
			<th class="col-xs-1 text-right">Fecha de registro</th>
			<th class="col-xs-1 text-center">Asunto</th>
			<th class="col-xs-1"></th>
		</tr>
		</thead>
		<tbody>
		<tr data-ng-repeat="newsletter in newsletters">
			<td class="text-right"> <a   >  {{newsletter.created | date:"dd/MM/yyyy "}} </a></td>
			<td class="text-center"><a> {{newsletter.subject}} </a></td>
			<td>
				<button data-ng-click="goNewsletterView(newsletter._id)" class="btn btn-default">Ver</button>
			</td>
		</tr>
		<tr data-ng-show="!newsletters || newsletter.length == 0">
			<td></td>
			<td>No existen newsletters enviados</td>
			<td></td>
			
		</tr>
		</tbody>
	</table>

</article>
