<article class="col-md-9 col-md-offset-3 col-lg-offset-2 col-lg-9 col-sm-9 col-sm-offset-3 ng-scope" data-ng-controller="NotificationsController" data-ng-init="SetActiveTab('notifications')">
	
	<div class="a-profile-content-wrapp" data-ng-init="allMyNotifications()" data-ng-show="authentication.user.role=='user'"> 
				<h1>Mis notificaciones</h1>
				<table class="table table-condensed table-striped">
					<thead class="a-messages-list">
						<tr>
							<th class="col-md-1 col-xs-3">Fecha</th>
							<th class="col-md-8 col-xs-4">Notificación</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="notif in allNotifications">
							<td>{{notif.created | date:'MM/dd/yyyy'}}</td>
							<td>
								<div class="a-notify trip" data-ng-show="notif.type == 'trip'">
									<div class="a-notify-wrapp">
											<!--span class="a-avatar-notify a-sprite sprite-avatar-xs"></span-->
											<p><a href="#">{{notif.anexo_user.displayName}}</a> quiere viajar a <a href="#">{{notif.aventon.end_place}}</a> con vos el 
												<a href="#">{{notif.aventon.start_day | date:'dd/MM/yyyy'}}</a></p>
											<a class="a-action" data-ui-sref="profile.mytrips">Ver más</a>	
										</div>
								</div>
								<div class="a-notify review" data-ng-show="notif.type == 'review'">
									<div class="a-notify-wrapp">
											<!--span class="a-avatar-notify a-sprite sprite-avatar-xs"></span-->
											<p><a>{{notif.anexo_user.displayName}}</a> te dejó una referencia</p>
											<a class="a-action" data-ui-sref="profile.review">Ver referencia</a>
									</div>
								</div>
								<div class="a-notify message" data-ng-show="notif.type == 'message'">
									<div class="a-notify-wrapp">
											<!--span class="a-avatar-notify a-sprite sprite-avatar-xs"></span-->
											<p><a>{{notif.anexo_user.displayName}}</a> te escribió un mensaje</p>
											<a class="a-action" data-ui-sref="profile.messages.detail({messageId : notif.anexo_user._id})">Ver mensaje</a>
									</div>
								</div>
								<div class="a-notify message" data-ng-show="notif.type == 'demandA'">
									<div class="a-notify-wrapp">
											<!--span class="a-avatar-notify a-sprite sprite-avatar-xs"></span-->
											<p><a>{{notif.anexo_user.displayName}}</a> ha aceptado tu solicitud de aventón</p>
											<a class="a-action" data-ui-sref="viewAventon({aventonId: notif.aventon._id})">Ver viaje</a>
									</div>
								</div>
								<div class="a-notify message" data-ng-show="notif.type == 'cancelAventon'">
									<div class="a-notify-wrapp">
											<!--span class="a-avatar-notify a-sprite sprite-avatar-xs"></span-->
											<p>El aventon del usuario <a>{{notif.anexo_user.displayName}}</a> ha sido cancelado.</p>
									</div>
								</div>
								<div class="a-notify message" data-ng-show="notif.type == 'cancelAventonSite'">
									<div class="a-notify-wrapp">
											<!--span class="a-avatar-notify a-sprite sprite-avatar-xs"></span-->
											<p>Tu sitio en el aventon de <a>{{notif.anexo_user.displayName}}</a> ha sido cancelado.</p>
									</div>
								</div>
								<div class="a-notify message" data-ng-show="notif.type == 'invitation'">
									<div class="a-notify-wrapp">
										<time>{{notif.created | date:'MM/dd/yyyy'}}</time>
										<!--span class="a-avatar-notify a-sprite sprite-avatar-xs"></span-->
										<p><a href="#">{{notif.anexo_user.displayName}}</a> te ha invitado a viajar con el a <a href="#">{{notif.aventon.end_place}}</a> el <a href="#">{{notif.aventon.start_day | date:'dd/MM/yyyy'}}</a></p>
										<a class="a-action" data-ui-sref="profile.myinvitations">Ver más</a>
									</div>
								</div>
							</td>
					</tbody>
					</table>
			</div>

</article>

