<section class="a-profile" data-ng-controller="SettingsController">
	<header class="a-header-img">
		<div class="container">
			<div class="a-profile-header row">
				<div class="a-badget hidden-xs">
					<div class="a-avatar">
						<img data-ng-src="{{user.imageProfile||'modules/core/img/avatar.png'}}">
					</div>
					<div class="a-stars">
						<span data-ng-show="(user.review_point / user.review_count) >= 1" class="fa fa-star"></span>
						<span data-ng-show="(user.review_point / user.review_count) >= 2" class="fa fa-star"></span>
						<span data-ng-show="(user.review_point / user.review_count) >= 3" class="fa fa-star"></span>
						<span data-ng-show="(user.review_point / user.review_count) >= 4" class="fa fa-star"></span>
						<span data-ng-show="(user.review_point / user.review_count) >= 5" class="fa fa-star"></span>
					</div>
					<h4>Nivel de confianza <strong data-ng-show="user.review_point != '0'">{{(user.review_point / user.review_count)*2}}</strong>
					<div data-ng-show="user.review_point == '0'"><h3>No existen calificaciones para este usuario</h3></div></h4>
				</div>
				<div  class="a-profile-header-wrapp col-md-10 col-md-offset-1 ">
					<div class="a-profile-text">
						<h2>{{user.displayName}}</h2>
						<h3 data-ng-show="(user.review_point / user.review_count)*2 >= 8">Usuario Confiable</h3>
						<!--ul class="a-verified">
							<li><span class="fa fa-check"></span> Patente de confianza</li>
							<li><span class="fa fa-check"></span> Telefono de confianza</li>
							<li><span class="fa fa-check"></span> Patente de confianza</li>
						</ul-->
						<button data-ng-hide="true" class="a-btn btn"> <span class="fa fa-plus-circle"></span> Agregar verificación</button>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="col-lg-11 col-md-11 a-profile-nav-wrapp col-sm-11 col-sm-offset-1">
			<nav class="a-profile-nav">
				<ul>
					<li data-ng-class="{'active': activeTab == 'trips'}"> <a data-ui-sref="profile.mytrips"> Mis viajes</a> </li>
					<li data-ng-class="{'active': activeTab == 'invitations'}"> <a data-ui-sref="profile.myinvitations"> Mis invitaciones</a> </li>
					<li data-ng-class="{'active': activeTab == 'reviews'}"> <a data-ui-sref="profile.review"> Mis referencias</a> </li>
					<li data-ng-class="{'active': activeTab == 'messages'}"> <a data-ui-sref="profile.messages.listAll"> Mensajes</a> </li>
					<li data-ng-class="{'active': activeTab == 'notifications'}"> <a data-ui-sref="profile.notifications"> Notificaciones</a> </li>
					<li data-ng-class="{'active': activeTab == 'photo'}"> <a data-ui-sref="profile.photos">  Mis fotos </a> </li>
					<li data-ng-class="{'active': activeTab == 'config'}"> <a data-ui-sref="profile.settings.info"> Editar / Configurar</a> </li>
				</ul>
			</nav>
		</div>

		<div class="row" ui-view></div>

	</div>
</section>
