<section class="a-profile" >
	<header class="a-header-img">
		<div class="container">
			<div class="a-profile-header row">
				
				<div  data-ng-controller="AdminsController" class="a-profile-header-wrapp col-md-10 col-md-offset-1 ">
					<div class="a-profile-text">
						<h2>{{authentication.user.displayName}}</h2>
						
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="col-lg-10 col-md-11 a-profile-nav-wrapp col-sm-11 col-sm-offset-1">
			<nav class="a-profile-nav" data-ng-controller="AdminsController">
				<ul>
					<li data-ng-show="authentication.user.role == 'admin' || authentication.user.permissions.Manejo_Usuarios" data-ng-class="{'active': activeTab == 'userList'}">
						<a data-ui-sref="adminProfile.usersList"> Lista de usuarios </a> 
					</li>
					<li data-ng-show="authentication.user.role == 'admin' || authentication.user.permissions.Manejo_Packs" data-ng-class="{'active': activeTab == 'userPack'}">
						<a data-ui-sref="adminProfile.packList"> Lista de Packs </a>
					</li>
					<li data-ng-show="authentication.user.role == 'admin' || authentication.user.permissions.Manejo_Roles" data-ng-class="{'active': activeTab == 'roles'}">
						<a data-ui-sref="adminProfile.roleList"> Lista de Roles </a>
					</li>
					<li data-ng-show="authentication.user.role == 'admin' || authentication.user.permissions.Manejo_Newsletter" data-ng-class="{'active': activeTab == 'newsLetter'}">
						<a data-ui-sref="adminProfile.usersNewsletterList">  Usuarios newsLetter </a>
					</li>
					<li data-ng-show="authentication.user.role == 'admin' || authentication.user.permissions.Manejo_Aventones" data-ng-class="{'active': activeTab == 'aventones'}">
						<a data-ui-sref="adminProfile.aventones">  Aventones </a>
					</li>
					<li data-ng-show="authentication.user.role == 'admin' || authentication.user.permissions.Estadisticas" data-ng-class="{'active': activeTab == 'statistics'}">
						<a data-ui-sref="adminProfile.statistics">  Estadísticas </a>
					</li>
					<li data-ng-show="authentication.user.role == 'admin' || authentication.user.permissions.Faqs" data-ng-class="{'active': activeTab == 'faqs'}">
						<a data-ui-sref="adminProfile.faqsAdmin">  Faq's </a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="row" ui-view></div>

	</div>
</section>
