<article class="col-md-9 col-md-offset-3 col-lg-offset-2 col-lg-9 col-sm-9 col-sm-offset-3"  data-ng-controller="SettingsController" data-ng-init="SetActiveTab('reviews')">
	<div class="a-profile-content-wrapp" data-ng-controller="ReviewsController" data-ng-init="pendingReviews()">
		<div  data-ng-repeat="pending in pendings" >
			<form data-ng-show="pending.aventon" class="a-add-review"data-ng-submit="update(pending._id,comment,valoration)">
				<h3>Contanos como te fue en el viaje con <a href="">{{pending.user_receiver.displayName}}</a>  el día {{pending.aventon.start_day | date:'dd/MM/yyyy'}}</h3>
				<h2>Valoración: <select style="margin:1%" data-ng-model="valoration" data-ng-options="valoration.text for valoration in valorationValues"></select></h2>
				<textarea data-ng-model="comment" placeholder="Escriba una referencia"></textarea>
				<button type="submit" class="btn a-btn">Enviar referencia</button>
			</form>
		</div>
		<h1>Mis referencias</h1>
		<ul class="a-reviews" data-ng-init="reviewsList()">
			<li data-ng-repeat ="review in reviews">
				<a data-ui-sref="publicProfile.review({userId: review.user_origin._id})">
					<img style="max-width:65%" class="img-circle a-sprite sprite-avatar" data-ng-src="{{aventon.user.imageProfile||'modules/core/img/avatar.png'}}" class="a-sprite sprite-avatar" ></img>
				</a>
				<div class="a-review-text">
					<h2>
						{{review.user_origin.displayName}}
						<span class="a-vote"> - {{valoration[review.valoration-1]}}</span>
						<time> - {{review.aventon.start_day | date:'dd/MM/yyyy'}} </time>

					</h2>
					<h3>Usuario confiable
					<span class="a-stars">
						<span class="fa fa-star" data-ng-repeat="n in getArray(review.valoration-1)"></span>
					</span>
					</h3>
					<p>
						{{review.comment}}
					</p>
				</div>
			</li>
			
		</ul>
		<div class="a-add-review" data-ng-show=" !reviews.length">
	        	<h3>No hay referencias disponibles</h3>
	    </div>
	</div>
</article>
