<article class="a-profile-content-wrapp"  data-ng-controller="RolesController" data-ng-init="find()">
	<h1 style="clear: both"> Lista de roles</h1>
	<button class="btn btn-default" ui-sref="adminProfile.createRole">Crear Rol</button>

	<table class="table table-condensed a-messages-list table-striped" data-ng-hide="!roles || roles.length == 0">
		<thead>
		<tr >
			<th class="col-xs-3">Nombre</th>
			<th class="col-xs-4">Permisos</th>
			<th class="col-xs-4"></th>
			<th class="col-xs-4"></th>
		</tr>
		</thead>
		<tbody>
		<tr data-ng-repeat="role in roles">
			<td>
				<a data-ng-href="/#!/roles/{{role._id}}/edit">{{role.name}}</a>
			</td>
			<td>
	            <span style="color:black;" data-ng-repeat="permission in role.permissions">
	            * {{permission}}
	            </span>
            </td>
            <td class="text-right"><a data-ng-href="/#!/roles/{{role._id}}/edit">Editar</a></td>
			<td class="text-right">
				<a data-ng-href="/#!/roles" confirmed-click="remove(role)" ng-confirm-click="Desea Eliminarlo?">
		            Remover
	            </a>
            </td>
		</tr>
		</tbody>
	</table>
		<div class="a-search" data-ng-show="!roles || roles.length == 0">
			<h2 class="a-no-aventones">No ha creado roles aún</h2>
		</div>

</article>
