<article style="margin-top:15%" class="a-settings" data-ng-controller="SettingsController">
	<nav class="col-md-3 col-lg-2  col-sm-3">
		<ul class="a-settings-nav">
			<!--li><a data-ui-sref="profile.settings.info"><span class="fa fa-user"></span>  Informacion basica</a></li-->
			<li><a data-ui-sref="profile.settings.password"><span class="fa fa-key"></span>  Cambiar password</a></li>
			<li><a data-ui-sref="profile.settings.social" ><span class="fa fa-facebook"></span>  Vincular redes sociales</a></li>
			<li><a data-ui-sref="profile.settings.cfg" ><span class="fa fa-gear"></span>  Notificaciones</a></li>

		</ul>
	</nav>
	<div class="col-md-9 col-lg-9 col-sm-9">
		<div data-ui-view></div>
	</div>
</article>
