<section class="a-profile-content-wrapp" data-ng-controller="SettingsController" data-ng-init="SetActiveTab('config')">
	<h1  data-ng-show="hasConnectedAdditionalSocialAccounts()">Cuentas actuales:</h1>
	<div class=" text-center">
		<div data-ng-repeat="(providerName, providerData) in user.additionalProvidersData" class="remove-account-container">
			<img ng-src="/modules/users/img/buttons/{{providerName}}.png">
			<a class="btn btn-danger btn-remove-account" data-ng-click="removeUserSocialAccount(providerName)">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
	</div>
	<h1 >Vincular una red social</h1>
	<div class=" text-center">
		<a href="/auth/facebook" data-ng-hide="isConnectedSocialAccount('facebook')" class="undecorated-link">
			<img src="/modules/users/img/buttons/facebook.png">
		</a>
		<a href="/auth/twitter" data-ng-hide="isConnectedSocialAccount('twitter')" class="undecorated-link">
			<img src="/modules/users/img/buttons/twitter.png">
		</a>
		<!--a href="/auth/google" data-ng-hide="isConnectedSocialAccount('google')" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
		<a href="/auth/linkedin" data-ng-hide="isConnectedSocialAccount('linkedin')" class="undecorated-link">
			<img src="/modules/users/img/buttons/linkedin.png">
		</a>
		<a href="/auth/github" data-ng-hide="isConnectedSocialAccount('github')" class="undecorated-link">
			<img src="/modules/users/img/buttons/github.png">
		</a-->
	</div>
</section>
