<article class="a-profile-content-wrapp"  data-ng-controller="AdminsController" data-ng-init="getStatistics()">
	<h1 style="clear: both"> Estadísticas</h1>
	<table class="table table-condensed a-messages-list  table-striped"> 
		<thead>
		<tr >
			<th class="col-xs-2"></th>
			<th class="col-xs-2 text-right"></th>
		</tr>
		</thead>
		<tbody>
		<tr data-ng-repeat="statistic in statistics">
			<td><a>  {{statistic.title}} </a></td>
			<td class="text-right"> <a   >  {{statistic.value}} </a></td>
		</tr>
		<tr data-ng-show="!statistics || statistics.length == 0">
			<td></td>
			<td>No existen valores suficientes</td>
		</tr>
		</tbody>
	</table-->

</article>
