<article class="a-profile-content-wrapp"  data-ng-controller="AdminsController" data-ng-init="usersListAdmin()">
	<h1 style="clear: both"> Lista de usuarios</h1>
	<table class="table table-condensed a-messages-list  table-striped">
		<thead>
		<tr >
			<th class="col-xs-2">Nombre Completo</th>
			<th class="col-xs-1">Email</th>
			<th class="col-xs-1 text-right">Fecha de registro</th>
			<th class="col-xs-4"></th>
		</tr>
		</thead>
		<tbody>
		<tr data-ng-repeat="user in users">
			<td><a   > {{user.displayName}} </a></td>
			<td><a   >  {{user.email}} </a></td>
			<td class="text-right"> <a   >  {{user.created | date:"MM/dd/yyyy "}} </a></td>
			<td>
				<button data-ng-click="editRoles(user._id)" class="btn btn-default">Editar Roles</button>
				<button class="btn btn-default" data-ng-click="goUser(user._id)">Modificar o Borrar</button>
				<button class="btn btn-default" data-ng-show="user.state == 'Activado'" data-ng-click="blockUser(user._id)">Bloquear</button>
				<button class="btn btn-default" data-ng-show="user.state == 'Bloqueado'" data-ng-click="unBlockUser(user._id)">Desbloquear</button>
			</td>
		</tr>
		<tr data-ng-show="!users || users.length == 0">
			<td></td>
			<td>No existen usuarios</td>
			<td></td>
			
		</tr>
		</tbody>
	</table>

</article>
