<article class="a-profile-content-wrapp"  data-ng-controller="RolesController" data-ng-init="find(); findUser();">
	<h1 style="clear: both">{{user.displayName}} - Editar Roles</h1>

	<div class="col-md-12">
	    <form name="create_new" class="form-horizontal" data-ng-submit="updateUser()">
			<fieldset>
                <div class="form-group">
                    <label class="control-label" for="content">Permisos</label>
                    <div class="controls">
                        <label class="control-label" ng-repeat="role in roles">
                          <input type="checkbox"  class="form-control" checklist-model="user.custom_roles" checklist-value="role._id"> {{role.name}}
                        </label>
                    </div>
                </div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
	    </form>

	</div>
</article>