<article class="a-profile-content-wrapp"  data-ng-controller="AdminsController" data-ng-init="usersNewsletterListAdmin()">
	<h1 style="clear: both"> Lista de usuarios de newsletter</h1>
	<button class="btn btn-default" data-ng-click="showMailBoxOn()">Enviar mail</button>
	<button class="btn btn-default" data-ng-click="goNewsletterList()">Newsletters enviados</button>
	<div data-ng-show="showMailBox" > 
		<form  data-ng-submit="sendMailNewsLetter()"  class="col-md-6 col-md-offset-3">
			<input placeholder="Asunto del mensaje" required style="margin-bottom:2%" class="form-control" data-ng-model="subject">
<!--			<textarea placeholder="Contenido del mensaje" required class="form-control" text-angular data-ng-model="content"></textarea>
--><!--
			<text-angular ng-model="content"></text-angular>  ta-toolbar="[['h1','p']]"-->
			<div  class="reset-this" text-angular="text-angular" ng-model="content"></div>


			<button class="btn btn-default">Enviar</button>
		</form>
	</div>
	<hr>
	<table class="table table-condensed a-messages-list  table-striped">
		<thead>
		<tr >
			<th class="col-xs-4">Email</th>
			<th class="col-xs-4 text-right">Fecha de registro</th>
		</tr>
		</thead>
		<tbody>
		<tr data-ng-repeat="user in users">
			<td><a>  {{user.email}} </a></td>
			<td class="text-right"> <a   >  {{user.created | date:"MM/dd/yyyy "}} </a></td>
		</tr>
		<tr data-ng-show="!users || users.length == 0">
			<td></td>
			<td>No existen usuarios</td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>

</article>
