<article class="a-profile-content-wrapp"  data-ng-controller="AdminsController" data-ng-init="findUser()">
	<h1 style="clear: both"> Usuario</h1>
	<div> 
		<form  data-ng-submit="updateUser()"  class="col-md-3 col-md-offset-3">
			<label style="font-size: 14px">Nombre </label>
			<input  required style="margin-bottom:2%" class="form-control" data-ng-model="user.firstName">
			<label style="font-size: 14px">Apellido </label>
			<input  required style="margin-bottom:2%" class="form-control" data-ng-model="user.lastName">
			<label style="font-size: 14px">Email </label>
			<input  required style="margin-bottom:2%" class="form-control" data-ng-model="user.email">
			<label style="font-size: 14px">Crédito </label>
			<input  required style="margin-bottom:2%" type="number" class="form-control" data-ng-model="user.credit"> 
			<button class="btn btn-default" type="submit">Modificar</button>
			<hr>
		</form>
		<button class="btn btn-default" data-ng-click="changeIdRemove(user._id)">Eliminar</button> <div style="font-size: 12px" data-ng-show="idRemove == user._id"> ¿Seguro que desea Eliminar este Usuario? <button data-ng-click="changeIdRemove('')" class="btn btn-default">No</button> <button data-ng-click="removeUser(user._id)" class="btn btn-default">Si</button> </div>
	</div>
	<hr>
</article>
