<article class="a-profile-content-wrapp"  data-ng-controller="PacksController">

	<h1 style="clear: both"> Create Pack</h1>
	<button class="btn btn-default" ui-sref="adminProfile.packList">Lista Pack</button>
	<div class="col-md-12">
		<form name="packCreateForm" class="form-horizontal" data-ng-submit="createPack()" >
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': packCreateForm.name.$dirty && packCreateForm.name.$invalid }">
					<label class="control-label" for="name">Nombre</label>
					<div class="controls">
						<input name="name" type="text" data-ng-model="name" id="name" class="form-control" placeholder="Nombre" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="precio">Precio</label>
					<div class="controls">
						<input name="precio" type="Number" data-ng-model="precio" id="precio" class="form-control" placeholder="Precio" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="precio">Cantidad Pines</label>
					<div class="controls">
						<input name="cantidad_pines" type="Number" data-ng-model="cantidad_pines" id="cantidad_pines" class="form-control" placeholder="Pines" required>
					</div>
				</div>
				

				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</article>