<section class="a-faq-wrapp" data-ng-controller="PacksController" data-ng-init="find()">
    <header class="a-header-img">
        <div class="container">
            <h1>Tienda de créditos</h1>
        </div>
    </header>
    <div class="container">
        <article class="a-profile-content-wrapp"  data-ng-controller="MessagesController" data-ng-init="messagesToMe()">
            <h1>Lista de ofertas</h1>

            <table class=" table table-condensed a-messages-list  table-striped" style="width:60%">
                <thead>
                <tr >
                    <th class="col-xs-3"></th>
                    <th class="col-xs-1"></th>
                    <th class="col-xs-2"></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="pack in packs">
                    <td>{{pack.nombre}}</td>
                    <td>${{pack.precio}}</td>
                    <td><button class="a-btn" data-ng-click="buyPack(pack._id)"> Comprar Pack</button></td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>
</section>

