<article class="a-profile-content-wrapp"  data-ng-controller="PacksController" data-ng-init="find()">
	<h1 style="clear: both"> Lista de Packs</h1>
	<button class="btn btn-default" ui-sref="adminProfile.createPack">Crear Pack</button>
	<div ui-view> </div>

	<table class="table table-condensed a-messages-list  table-striped">
		<thead>
		<tr >
			<th class="col-xs-3">Nombre</th>
			<th class="col-xs-4">Precio</th>
			<th class="col-xs-4 text-right">Cantidad de Pines</th>
			<th class="col-xs-4 text-right"></th>
		</tr>
		</thead>
		<tbody>
		<tr data-ng-repeat="pack in packs">
			<td><a> {{pack.nombre}} </a></td>
			<td><a>  {{pack.precio}} </a></td>
			<td class="text-right"> <a> {{pack.cantidad_pines}} </a></td>
			<td class="text-center">
				<a confirmed-click="remove(pack)"   ng-confirm-click="Seguro desea remover {{pack.nombre}}?" >
					<i class="fa fa-remove"></i>
				</a>
			</td>
		</tr>
		<tr data-ng-show="!packs || packs.length == 0">
			<td></td>
			<td>No existen Packs</td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>

</article>
