<section class="a-faq-wrapp" data-ng-controller="ConversationsController" >
    <header class="a-header-img">
        <div class="container">
            <h1>Sala de chat</h1>
        </div>
    </header>
    <div class="container" data-ng-controller="ChatMsgsController">
        <div class="col-md-3 col-sm-3s">
            <nav data-ng-init="myContacts()" class="a-faq-nav">
                <h1>Lista de contactos</h1>
                <ul class="a-faq-list">
                    <li class="a-notify message" data-ng-repeat="conversation in conversations">
                        <div class="a-notify-wrapp" data-ng-click="msgsBetweenUsers(conversation.contact, conversation._id)">
                            <a href="#" class="a-avatar">
                                <img style="max-width:20%" class="img-circle" data-ng-src="{{conversation.contact.imageProfile||'modules/core/img/avatar.png'}}" class="a-sprite sprite-avatar" ></img>
                            </a>
                            <a>{{conversation.contact.displayName}}</a> 
                        </div>
 
                    </li>

                    <li class="a-notify message" >
                        <div class="a-notify-wrapp">
                            <a>Recuerde que para tener contactos disponibles para chatear, debe antes enviarle a esa persona un mensaje privado.</a> 
                        </div>
                    </li>  
                </ul>
            </nav>
        </div>
        <ul class="col-md-9 col-sm-9 a-answer-list" data-ng-show="showChatWindow">
            <div id="chatDiv" name="chatDiv" style="width:50%; height: 250px ;max-height:350px; overflow:scroll; overflow-x:hidden">
                 <ul>
                    <div data-ng-repeat="msg in msgs">
                    
                    <div class="row-fluid" style=" background-color:#A4A4A4;  border: 1px solid #aaaaaa; " data-ng-show="authentication.user._id != msg.user_a">
                        <li class="left clearfix">
                            <div>
                                <div>
                                    <strong class="primary-font">{{msg.displayName_a}}</strong> <small class="pull-right text-muted">
                                        {{msg.created}}</small>
                                </div>

                                <p>
                                   {{msg.content}}
                                </p>
                            </div>
                        </li>
                    </div>
                

                    <div class="row-fluid" style=" background-color:#D8D8D8;border: 1px solid #aaaaaa;  " data-ng-show="authentication.user._id == msg.user_a">
                        <li class="right clearfix">
                            <div >
                                <div>
                                    <small class=" text-muted">{{msg.created}}</small>
                                    <strong class="pull-right primary-font">{{msg.displayName_a}}</strong>
                                </div>
                                <p>
                                    {{msg.content}}
                                </p>
                            </div>
                        </li>
                    </div>

                    </div>
                </ul>
            </div>
            <form method="POST" data-ng-submit="createMsg()" style="height: 32px; width:50%" id="chat" name="chat" data-ng-show="showChatWindow">
                    <div class="panel-footer">
                        <div class="input-group">
                            <textarea id="content" name="content" data-ng-model="content" type="text" class="form-control input-sm" placeholder="Escriba su mensaje aqui..." ></textarea>
                            
                            <span class="input-group-btn">
                                <button  type="submit" class="btn btn-warning btn-sm" id="send" name="send">
                                    Enviar</button>
                            </span>
                        </div>
                    </div>
                </form>
        </ul>

    </div>
</section>

