@mixin btn-creator($bg: $mc1,$round:3px){
  border:0px solid transparent;
  background:$bg;
  text-align: center;
  @include box-shadow(0px 3px 0px darken($bg, 10%));
  @include border-radius($round);
  color : contrast-color($bg, $nc1, white);
  padding: 6px 10px;
  &:hover{
    background:lighten($bg,5%);
    @include box-shadow(0px 3px 0px darken($bg, 5%));
    text-decoration:none;
  }
  &:active{
    position:relative;
    top:3px;
    background:darken($bg,5%);
    @include box-shadow(inset 0px -2px 1px darken($bg, 10%));
    text-decoration:none;
  }
}
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
