<section class="a-signup"  data-ng-controller="UsersNewsLetterController">
    <header class="a-header-img">
    </header>
    <div class="container">
        <div class="row">
            <article class="col-md-4 col-xs-12 ">
                <div class="a-form-wrapp">
                    <h1>Active su usuario de newsletter</h1>
                    <div  class="signin a-form form-horizontal"  >
                        <fieldset>
                            <div class="form-group a-nombre a-input-group">
                                <label for="firstName">¿Desea activar su usuario de newsletter? </label>
                            </div>                            
                        </fieldset>
                            <div class="text-center form-group">
                                <button  data-ng-click="enabledUser()" class="btn a-btn" style="margin-bottom: 2%">Activar</button>
                                <br>
                                <a href="/" class="btn a-btn">No, gracias</a>
                            </div>
                        
                    </div>
                </div>
            </article>
            
        </div>
    </div>
</section>
