<section class="row" data-ng-controller="UsersNewsLetterController">
    <h3 class="col-md-12 text-center">Suscribete a newsLetter</h3>
    <p class="small text-center">Ingresa tu cuenta de email.</p>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
        <form data-ng-submit="create()" class="signin form-horizontal" autocomplete="off">
            <fieldset>
				<div class="form-group">
					<input type="text" id="email" name="email" class="form-control" data-ng-model="email" placeholder="Email">
				</div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-primary">Suscribirse</button>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong>{{error}}</strong>
                </div>
                <div data-ng-show="success" class="text-center text-success">
                    <strong>{{success}}</strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>